### The time module

In [1]:
from time import perf_counter, sleep

In [2]:
start = perf_counter()

In [3]:
start

5032.4782092

In [4]:
end = perf_counter()

In [5]:
end

5046.8258032

In [6]:
start - end

-14.347594000000754

In [7]:
start = perf_counter()
sleep(3)
end = perf_counter()
elapsed = end - start
print(elapsed)

3.0006921000003786

In [8]:
from time import gmtime

In [9]:
gmtime(1_000_000_000)

time.struct_time(tm_year=2001, tm_mon=9, tm_mday=9, tm_hour=1, tm_min=46, tm_sec=40, tm_wday=6, tm_yday=252, tm_isdst=0)

In [10]:
gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [12]:
gmtime(-1_000_000)

OSError: [Errno 22] Invalid argument

In [13]:
import time

In [14]:
time.time()

1720201005.4501457

In [15]:
from time import time

In [16]:
time()

1720201024.0717766

In [17]:
gmtime(time())

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=5, tm_hour=17, tm_min=37, tm_sec=16, tm_wday=4, tm_yday=187, tm_isdst=0)

In [18]:
current = gmtime(time())

In [19]:
current[0]

2024

In [20]:
current.tm_year

2024

In [21]:
current[0:2]

(2024, 7)

In [22]:
now = time()

In [23]:
tomorrow = now + (24 * 60 * 60)

In [24]:
gmtime(now), gmtime(tomorrow)

(time.struct_time(tm_year=2024, tm_mon=7, tm_mday=5, tm_hour=17, tm_min=39, tm_sec=56, tm_wday=4, tm_yday=187, tm_isdst=0),
 time.struct_time(tm_year=2024, tm_mon=7, tm_mday=6, tm_hour=17, tm_min=39, tm_sec=56, tm_wday=5, tm_yday=188, tm_isdst=0))

In [25]:
tomorrow - now

86400.0

In [26]:
from calendar import timegm

In [27]:
now_epoch = time()

In [28]:
now_epoch

1720201294.0677972

In [29]:
now_structure = gmtime(now_epoch)

In [30]:
now_structure

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=5, tm_hour=17, tm_min=41, tm_sec=34, tm_wday=4, tm_yday=187, tm_isdst=0)

In [31]:
timegm(now_structure)

1720201294

In [32]:
now = gmtime(time())

In [33]:
from time import strftime

In [34]:
strftime('%Y/%m/%d', now)

'2024/07/05'

In [36]:
strftime('%A is the best day of the week!', now)

'Friday is the best day of the week!'

In [37]:
d = '12/11/10'

In [38]:
d = '2012-11-10'

In [39]:
from time import strptime

In [40]:
strptime(d, '%Y-%m-%d')

time.struct_time(tm_year=2012, tm_mon=11, tm_mday=10, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=315, tm_isdst=-1)

In [41]:
s = 'Monday, April 18, in the year 2020 CE'

In [42]:
fmt = '%A, %B %d, in the year %Y CE'

In [44]:
strptime(s, fmt)

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=18, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=109, tm_isdst=-1)

In [45]:
s = 'Monday, April 18, 2020'

In [46]:
strptime(s, fmt)

ValueError: time data 'Monday, April 18, 2020' does not match format '%A, %B %d, in the year %Y CE'

### The datetime Module

In [1]:
import datetime

In [2]:
dt = datetime.date(2020, 5, 1)

In [3]:
dt

datetime.date(2020, 5, 1)

In [4]:
dt = datetime.date.today()

In [5]:
dt

datetime.date(2024, 7, 5)

In [6]:
import time

In [7]:
dt = datetime.date.fromtimestamp(time.time())

In [8]:
dt

datetime.date(2024, 7, 5)

In [9]:
dt = datetime.date.fromisoformat('2020-12-31')

In [10]:
dt

datetime.date(2020, 12, 31)

In [11]:
dt = datetime.date(2020, 12, 1)

In [12]:
dt.isoformat()

'2020-12-01'

In [13]:
dt.year

2020

In [14]:
dt.month

12

In [15]:
dt.day

1

In [16]:
t = datetime.time(15, 30, 45)

In [17]:
t

datetime.time(15, 30, 45)

In [18]:
t = datetime.time(0, 0, 0)

In [19]:
t

datetime.time(0, 0)

In [20]:
t = datetime.time(15, 30, 45, 135)

In [21]:
t.isoformat()

'15:30:45.000135'

In [22]:
t = datetime.time.fromisoformat('13:34:30.123')

In [23]:
t

datetime.time(13, 34, 30, 123000)

In [24]:
t = datetime.time.fromisoformat('13:34:30.1234')

In [25]:
t

datetime.time(13, 34, 30, 123400)

In [26]:
t = datetime.time.fromisoformat('13:34:30.123456')

In [27]:
t

datetime.time(13, 34, 30, 123456)

In [28]:
t.hour, t.minute, t.second, t.microsecond

(13, 34, 30, 123456)

In [31]:
dt = datetime.datetime(2020, 3, 1, 13, 30, 45, 123)

In [32]:
dt.isoformat()

'2020-03-01T13:30:45.000123'

In [34]:
dt= datetime.datetime.fromisoformat('2020-02-15T04:30:15')

In [35]:
dt

datetime.datetime(2020, 2, 15, 4, 30, 15)

In [36]:
dt.year, dt.hour, dt.microsecond

(2020, 4, 0)

In [37]:
datetime.datetime.now()

datetime.datetime(2024, 7, 5, 19, 11, 46, 740696)

In [38]:
datetime.datetime.utcnow()

C:\Users\Oxward\AppData\Local\Temp\ipykernel_9188\194642955.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  datetime.datetime.utcnow()

datetime.datetime(2024, 7, 5, 18, 12, 13, 371854)

In [39]:
s = '2020-04-02T18:30:30-07:00'

In [40]:
dt = datetime.datetime.fromisoformat(s)

In [41]:
dt

datetime.datetime(2020, 4, 2, 18, 30, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200)))

### Date Arithmetic

In [42]:
import datetime

In [43]:
dt1 = datetime.datetime.utcnow()
dt2 = datetime.datetime.fromisoformat('2020-01-02T00:00:00')

C:\Users\Oxward\AppData\Local\Temp\ipykernel_9188\1052157950.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  dt1 = datetime.datetime.utcnow()

In [44]:
td = dt1 - dt2

In [45]:
td

datetime.timedelta(days=1646, seconds=66073, microseconds=783139)

In [47]:
td.days * 24 * 60 * 60 + td.seconds + td.microseconds /(10**6)

142280473.783139

In [48]:
td.total_seconds()

142280473.783139

In [49]:
td = datetime.timedelta(hours=2, minutes=30)

In [50]:
td

datetime.timedelta(seconds=9000)

In [51]:
td.days, td.seconds, td.microseconds

(0, 9000, 0)

In [52]:
?datetime.timedelta

Init signature: datetime.timedelta(self, /, *args, **kwargs)
Docstring:
Difference between two datetime values.

timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

All arguments are optional and default to 0.
Arguments may be integers or floats, and may be positive or negative.
File:           c:\users\oxward\appdata\local\programs\python\python312\lib\datetime.py
Type:           type
Subclasses:

In [53]:
dt = datetime.datetime.utcnow()

C:\Users\Oxward\AppData\Local\Temp\ipykernel_9188\4021741917.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  dt = datetime.datetime.utcnow()

In [54]:
dt + td

datetime.datetime(2024, 7, 5, 20, 55, 48, 897378)

In [55]:
s = '2020-02-15T13:35:00'

In [56]:
dt = datetime.datetime.fromisoformat(s)

In [57]:
dt

datetime.datetime(2020, 2, 15, 13, 35)

In [59]:
start = datetime.datetime(year=dt.year, month=dt.month, day=1)

In [60]:
start

datetime.datetime(2020, 2, 1, 0, 0)

In [61]:
start = datetime.date(year=dt.year, month=dt.month, day=1)

In [62]:
start

datetime.date(2020, 2, 1)

In [63]:
delta = datetime.timedelta(hours=50, minutes=30)

In [64]:
start + delta

datetime.date(2020, 2, 3)

In [66]:
if start.month == 12:
    new_year = start.year + 1
    new_month = 1
else:
    new_year = start.year
    new_month = start.month + 1

start, new_year, new_month

(datetime.date(2020, 2, 1), 2020, 3)

In [68]:
end = datetime.date(year=new_year, month=new_month, day=1)

In [69]:
end

datetime.date(2020, 3, 1)

In [70]:
end = datetime.timedelta(days=1)

In [71]:
end = end + datetime.timedelta(days=-1)

In [72]:
end

datetime.timedelta(0)

In [79]:
def get_first_last(dt):
    start = datetime.datetime(year=dt.year, month=dt.month, day=1)

    if start.month == 12:
        new_year = dt.year + 1
        new_month = 1
    else:
        new_year = dt.year
        new_month = dt.month + 1

    end = datetime.date(new_year, new_month, 1) + datetime.timedelta(days=-1)

    return start, end

In [80]:
s

'2020-02-15T13:35:00'

In [81]:
get_first_last(datetime.datetime.fromisoformat(s))

(datetime.datetime(2020, 2, 1, 0, 0), datetime.date(2020, 2, 29))

In [82]:
for year in (2020, 2021):
    for month in range(12):
        dt = datetime.date(year=year, month=month+1, day=15)
        start, end = get_first_last(dt)
        print(dt, start, end)

2020-01-15 2020-01-01 00:00:00 2020-01-31
2020-02-15 2020-02-01 00:00:00 2020-02-29
2020-03-15 2020-03-01 00:00:00 2020-03-31
2020-04-15 2020-04-01 00:00:00 2020-04-30
2020-05-15 2020-05-01 00:00:00 2020-05-31
2020-06-15 2020-06-01 00:00:00 2020-06-30
2020-07-15 2020-07-01 00:00:00 2020-07-31
2020-08-15 2020-08-01 00:00:00 2020-08-31
2020-09-15 2020-09-01 00:00:00 2020-09-30
2020-10-15 2020-10-01 00:00:00 2020-10-31
2020-11-15 2020-11-01 00:00:00 2020-11-30
2020-12-15 2020-12-01 00:00:00 2020-12-31
2021-01-15 2021-01-01 00:00:00 2021-01-31
2021-02-15 2021-02-01 00:00:00 2021-02-28
2021-03-15 2021-03-01 00:00:00 2021-03-31
2021-04-15 2021-04-01 00:00:00 2021-04-30
2021-05-15 2021-05-01 00:00:00 2021-05-31
2021-06-15 2021-06-01 00:00:00 2021-06-30
2021-07-15 2021-07-01 00:00:00 2021-07-31
2021-08-15 2021-08-01 00:00:00 2021-08-31
2021-09-15 2021-09-01 00:00:00 2021-09-30
2021-10-15 2021-10-01 00:00:00 2021-10-31
2021-11-15 2021-11-01 00:00:00 2021-11-30
2021-12-15 2021-12-01 00:00:00 2021-12-31

In [83]:
t1 = datetime.time(9, 30, 0)
t2 = datetime.time(11, 0, 0)

In [84]:
t1 <= t2

True

In [85]:
d1 = datetime.date(2020, 3, 8)
d2 = datetime.date(2020, 5, 1)

In [86]:
d1 > d2

False

In [87]:
d1 < d2

True

In [89]:
t1 < d1

TypeError: '<' not supported between instances of 'datetime.time' and 'datetime.date'

### Naive and Aware Times

In [93]:
s = '2020-03-15T13:30:00-07:00'

In [100]:
from datetime import datetime, timedelta, timezone

In [95]:
datetime.fromisoformat(s)

datetime.datetime(2020, 3, 15, 13, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200)))

In [97]:
td = timedelta(days=-1, seconds=61200)

In [98]:
td.total_seconds()

-25200.0

In [99]:
td.total_seconds() // 60 // 60

-7.0

In [101]:
tz_EDT = timezone(timedelta(hours=-4), 'EDT')

In [102]:
tz_EDT

datetime.timezone(datetime.timedelta(days=-1, seconds=72000), 'EDT')

In [103]:
timezone.utc

datetime.timezone.utc

In [104]:
tz_CDT = timezone(timedelta(hours=-5), 'CDT')

In [105]:
tz_CDT

datetime.timezone(datetime.timedelta(days=-1, seconds=68400), 'CDT')

In [106]:
dt = datetime(year=2020, month=5, day=15, hour=22, minute=30, tzinfo=tz_EDT)

In [107]:
dt

datetime.datetime(2020, 5, 15, 22, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000), 'EDT'))

In [108]:
dt.astimezone(tz_CDT)

datetime.datetime(2020, 5, 15, 21, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400), 'CDT'))

In [109]:
dt_utc = dt.astimezone(timezone.utc)

In [110]:
dt_utc

datetime.datetime(2020, 5, 16, 2, 30, tzinfo=datetime.timezone.utc)

In [111]:
dt_utc.replace()

datetime.datetime(2020, 5, 16, 2, 30, tzinfo=datetime.timezone.utc)

In [113]:
dt_utc.replace(hour=14, month=9)

datetime.datetime(2020, 9, 16, 14, 30, tzinfo=datetime.timezone.utc)

In [114]:
dt_utc.replace(tzinfo=None)

datetime.datetime(2020, 5, 16, 2, 30)

In [115]:
s = "2020-05-15T13:30:00-04:00"

In [119]:
dt_aware = datetime.fromisoformat(s)
dt_utc = dt_aware.astimezone(timezone.utc)
dt_naive = dt_utc.replace(tzinfo=None)

print(dt_naive)

2020-05-15 17:30:00

In [121]:
dt_naive = datetime.fromisoformat('2020-05-15T17:30:00')

In [122]:
dt_aware = dt_naive.replace(tzinfo=timezone.utc)

In [123]:
dt_aware

datetime.datetime(2020, 5, 15, 17, 30, tzinfo=datetime.timezone.utc)

In [124]:
tz_EDT = timezone(timedelta(hours=-4), 'EDT')
tz_CDT = timezone(timedelta(hours=-5), 'CDT')

In [125]:
dt_aware.astimezone(tz_EDT)

datetime.datetime(2020, 5, 15, 13, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000), 'EDT'))

In [126]:
dt_aware.astimezone(tz_CDT)

datetime.datetime(2020, 5, 15, 12, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400), 'CDT'))

### Custom Representations

In [127]:
from datetime import datetime, time, date

In [128]:
t = time(22, 30 ,45)

In [129]:
t.strftime('The time is %I hours, %M minutes, and %S seconds, %p')

'The time is 10 hours, 30 minutes, and 45 seconds, PM'

In [130]:
d = date (2020, 5, 15)

In [132]:
d.strftime('%B %d, %Y')

'May 15, 2020'

In [133]:
dt = datetime(2020, 5, 15, 22, 30, 45)

In [134]:
dt.strftime('%I:%M %p on %B %d, %Y')

'10:30 PM on May 15, 2020'

In [136]:
dt = datetime.strptime('10:30 PM on May 15, 2020', '%I:%M %p on %B %d, %Y')

In [137]:
dt

datetime.datetime(2020, 5, 15, 22, 30)

In [138]:
dt.isoformat()

'2020-05-15T22:30:00'

In [139]:
datetime.fromisoformat('2020-05-15T22:30:00')

datetime.datetime(2020, 5, 15, 22, 30)

In [140]:
datetime.fromisoformat('2020-05-15T22:30:00-05:00')

datetime.datetime(2020, 5, 15, 22, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))

In [141]:
datetime.fromisoformat('2020-05-15T22:30:00-0500')

datetime.datetime(2020, 5, 15, 22, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))

In [142]:
datetime.fromisoformat('2020-05-15T22:30:00-05')

datetime.datetime(2020, 5, 15, 22, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))