### Indexes

In [1]:
import pandas as pd
import numpy as np

In [2]:
idx = pd.Index([10, 20, 30])
idx

Index([10, 20, 30], dtype='int64')

In [3]:
idx = pd.Index([1, 3.14])
idx

Index([1.0, 3.14], dtype='float64')

In [5]:
idx = pd.Index(['Element 1', 'Element 2'])
idx

Index(['Element 1', 'Element 2'], dtype='object')

In [6]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

Index([2, 4, 6, 8, 10], dtype='int64')

In [7]:
idx[0]

2

In [8]:
idx[1:4]

Index([4, 6, 8], dtype='int64')

In [9]:
idx[::-1]

Index([10, 8, 6, 4, 2], dtype='int64')

In [10]:
idx[[1, 3, 4]]

Index([4, 8, 10], dtype='int64')

In [11]:
idx = pd.Index(['London', 'Paris', 'New York', 'Tokyo'])
idx

Index(['London', 'Paris', 'New York', 'Tokyo'], dtype='object')

In [12]:
idx[idx != 'Tokyo']

Index(['London', 'Paris', 'New York'], dtype='object')

In [13]:
try:
    idx[0] = 100
except TypeError as ex:
    print('Type Error:', ex)

Type Error: Index does not support mutable operations

In [14]:
idx[0]

'London'

In [15]:
idx[1]

'Paris'

In [18]:
idx_1 = pd.Index(['a', 'b', 'c'])
idx_2 = pd.Index(['c', 'd', 'e'])

In [19]:
idx_1 & idx_2

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [24]:
idx_1 and idx_2

ValueError: The truth value of a Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
idx_1 | idx_2

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [21]:
pd.Index([1, 2, 3]) | pd.Index([0.1, 0.2])

ValueError: Arrays were different lengths: 3 vs 2

In [22]:
pd.Index(range(2, 10, 2))

RangeIndex(start=2, stop=10, step=2)

In [23]:
pd.Index([2, 4, 6, 8])

Index([2, 4, 6, 8], dtype='int64')

In [26]:
idx = pd.RangeIndex(2, 10, 2)
idx

RangeIndex(start=2, stop=10, step=2)

In [27]:
idx[0]

2

In [28]:
idx[-1]

8

In [29]:
idx[1:4]

RangeIndex(start=4, stop=10, step=2)

In [30]:
idx_1 = pd.Index(['a', 'b', 'c'])
idx_2 = pd.RangeIndex(0, 10, 2)

In [31]:
'b' in idx_1

True

In [33]:
6 in idx_2

True

In [34]:
'x' in idx_1

False

In [35]:
1 in idx_2

False

In [36]:
a = {1, 1, 2, 2, 3, 3}
a

{1, 2, 3}

In [37]:
idx = pd.Index([1, 1, 2, 2, 3, 3])
idx

Index([1, 1, 2, 2, 3, 3], dtype='int64')

In [38]:
idx[0]

1

In [39]:
idx[1]

1

In [40]:
idx[2]

2

In [41]:
idx[3]

2

### Series

In [42]:
import pandas as pd
import numpy as np

In [43]:
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s

a    10
b    20
c    30
dtype: int64

In [44]:
s['a']

10

In [45]:
s['c']

30

In [47]:
s['d'] = 500
s

a     10
b     20
c     30
d    500
dtype: int64

In [48]:
capitals = {
    'USA': 'Washington D.C.',
    'Canada': 'Ottawa',
    'UK': 'London',
    'France': 'Paris'
}
s = pd.Series(capitals)
s

USA       Washington D.C.
Canada             Ottawa
UK                 London
France              Paris
dtype: object

In [49]:
s.index

Index(['USA', 'Canada', 'UK', 'France'], dtype='object')

In [50]:
s.values

array(['Washington D.C.', 'Ottawa', 'London', 'Paris'], dtype=object)

In [51]:
s.items()

In [52]:
list(s.items())

[('USA', 'Washington D.C.'),
 ('Canada', 'Ottawa'),
 ('UK', 'London'),
 ('France', 'Paris')]

In [59]:
areas = pd.Series(
    ['USA', 'Topeka', 'France', 'Lyon', 'UK', 'Glasgow'],
    index=['country', 'city', 'country', 'city', 'country', 'city']
)

In [60]:
areas

country        USA
city        Topeka
country     France
city          Lyon
country         UK
city       Glasgow
dtype: object

In [61]:
areas['city']

city     Topeka
city       Lyon
city    Glasgow
dtype: object

In [62]:
areas['country']

country       USA
country    France
country        UK
dtype: object

In [63]:
areas['city'] = 'London'

In [64]:
areas

country       USA
city       London
country    France
city       London
country        UK
city       London
dtype: object

In [65]:
areas = pd.Series(
    ['USA', 'Topeka', 'France', 'Lyon', 'UK', 'Glasgow'],
    index=['country', 'city', 'country', 'city', 'country', 'city']
)

In [66]:
areas[0]

C:\Users\Oxward\AppData\Local\Temp\ipykernel_2184\1656661914.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  areas[0]

'USA'

In [67]:
areas[1]

C:\Users\Oxward\AppData\Local\Temp\ipykernel_2184\2261321105.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  areas[1]

'Topeka'

In [68]:
areas[2:]

country     France
city          Lyon
country         UK
city       Glasgow
dtype: object

In [69]:
areas[5] = 'London'

C:\Users\Oxward\AppData\Local\Temp\ipykernel_2184\1784505416.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  areas[5] = 'London'

In [70]:
areas

country       USA
city       Topeka
country    France
city         Lyon
country        UK
city       London
dtype: object

In [71]:
s = pd.Series([10, 20, 30, 40, 50], index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [72]:
s['a':'d']

a    10
b    20
c    30
d    40
dtype: int64

In [73]:
s[0:3]

a    10
b    20
c    30
dtype: int64

In [74]:
s[['a', 'c', 'd']]

a    10
c    30
d    40
dtype: int64

In [75]:
s['a'], s[0]

C:\Users\Oxward\AppData\Local\Temp\ipykernel_2184\523711078.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s['a'], s[0]

(10, 10)

In [76]:
s = pd.Series([100, 200, 300], index=[10, 20, 30])
s

10    100
20    200
30    300
dtype: int64

In [77]:
s[10]

100

In [78]:
s[0]

KeyError: 0

In [80]:
s[20:30]

Series([], dtype: int64)

In [81]:
s[1:]

20    200
30    300
dtype: int64

In [82]:
s[[0, 3, 4]]

KeyError: "None of [Index([0, 3, 4], dtype='int32')] are in the [index]"

In [83]:
s.iloc[0]

100

In [84]:
s.loc[10]

100

In [85]:
s.iloc[0:4]

10    100
20    200
30    300
dtype: int64

In [86]:
s.loc[10:30]

10    100
20    200
30    300
dtype: int64

In [87]:
s

10    100
20    200
30    300
dtype: int64

In [88]:
s.name = 'test'
s

10    100
20    200
30    300
Name: test, dtype: int64

In [89]:
areas = pd.Series(
    ['USA', 'Topeka', 'France', 'Lyon', 'UK', 'Glasgow'],
    index=['country', 'city', 'country', 'city', 'country', 'city'],
    name='Areas'
)

In [90]:
areas

country        USA
city        Topeka
country     France
city          Lyon
country         UK
city       Glasgow
Name: Areas, dtype: object

In [91]:
areas[areas != 'Glasgow']

country       USA
city       Topeka
country    France
city         Lyon
country        UK
Name: Areas, dtype: object

In [92]:
s = pd.Series([10, 20, 30], index=list('abc'), name='test')
s

a    10
b    20
c    30
Name: test, dtype: int64

In [93]:
new = s.drop(['a', 'c'])
new

b    20
Name: test, dtype: int64

In [94]:
s

a    10
b    20
c    30
Name: test, dtype: int64

In [95]:
s.index[[0, 2]]

Index(['a', 'c'], dtype='object')

In [96]:
new = s.drop(s.index[[0, 2]])
new

b    20
Name: test, dtype: int64

In [97]:
s

a    10
b    20
c    30
Name: test, dtype: int64

### DataFrames

In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = pd.Index(
    [
        'The Bronx', 
        'Brooklyn', 
        'Manhattan', 
        'Queens', 
        'Staten Island'
    ]
)
counties = pd.Series(
    ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond'],
    index=columns,
    name='county'
)
populations = pd.Series(
    [1_418_207, 2_559_903, 1_628_706, 2_253_858, 476_143],
    index = columns,
    name='population'
)
gdp = pd.Series(
    [42.695, 91.559, 600.244, 93.310, 14.514],
    index=columns,
    name='gdp'
)
areas = pd.Series(
    [42.10, 70.82, 22.83, 108.53, 58.37],
    index=columns,
    name='area'
)

In [3]:
new_york = pd.DataFrame([counties, populations, gdp, areas])
new_york

           The Bronx Brooklyn Manhattan   Queens Staten Island
county         Bronx    Kings  New York   Queens      Richmond
population   1418207  2559903   1628706  2253858        476143
gdp           42.695   91.559   600.244    93.31        14.514
area            42.1    70.82     22.83   108.53         58.37

In [6]:
d = {
    'county': counties,
    'population': populations,
    'gdp': gdp,
    'area': areas
}

new_york = pd.DataFrame(d)
new_york

                 county  population      gdp    area
The Bronx         Bronx     1418207   42.695   42.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37

In [7]:
new_york.transpose()

           The Bronx Brooklyn Manhattan   Queens Staten Island
county         Bronx    Kings  New York   Queens      Richmond
population   1418207  2559903   1628706  2253858        476143
gdp           42.695   91.559   600.244    93.31        14.514
area            42.1    70.82     22.83   108.53         58.37

In [8]:
counties = {
    'The Bronx': 'Bronx',
    'Brooklyn': 'Kings',
    'Manhattan': 'New York',
    'Queens': 'Queens',
    'Staten Island': 'Richmond'
}
populations = {
    # note how the keys are not necessarily in the same order
    'Manhattan': 1_628_706,
    'Queens': 2_253_858,
    'Staten Island': 476_143,
    'The Bronx': 1_418_207,
    'Brooklyn': 2_559_903
}
gdp = {
    'The Bronx': 42.695,
    'Brooklyn': 91.559,
    'Manhattan': 600.244,
    'Queens': 93.310,
    'Staten Island': 14.514
}
areas = {
    'The Bronx': 2.10,
    'Brooklyn': 70.82,
    'Manhattan': 22.83,
    'Queens': 108.53,
    'Staten Island': 58.37
}

d = {
    'county': counties,
    'population': populations,
    'gpd': gdp,
    'area': areas
}

new_york = pd.DataFrame(d)
new_york

                 county  population      gpd    area
The Bronx         Bronx     1418207   42.695    2.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37

In [9]:
d = {
    'county': counties,
    'population': populations,
    'gdp': gdp,
    'area': areas
}
d

{'county': {'The Bronx': 'Bronx',
  'Brooklyn': 'Kings',
  'Manhattan': 'New York',
  'Queens': 'Queens',
  'Staten Island': 'Richmond'},
 'population': {'Manhattan': 1628706,
  'Queens': 2253858,
  'Staten Island': 476143,
  'The Bronx': 1418207,
  'Brooklyn': 2559903},
 'gdp': {'The Bronx': 42.695,
  'Brooklyn': 91.559,
  'Manhattan': 600.244,
  'Queens': 93.31,
  'Staten Island': 14.514},
 'area': {'The Bronx': 2.1,
  'Brooklyn': 70.82,
  'Manhattan': 22.83,
  'Queens': 108.53,
  'Staten Island': 58.37}}

In [10]:
new_york = pd.DataFrame(d)
new_york

                 county  population      gdp    area
The Bronx         Bronx     1418207   42.695    2.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37

In [11]:
new_york = pd.DataFrame([counties, populations, gdp, areas])
new_york

  The Bronx Brooklyn Manhattan   Queens Staten Island
0     Bronx    Kings  New York   Queens      Richmond
1   1418207  2559903   1628706  2253858        476143
2    42.695   91.559   600.244    93.31        14.514
3       2.1    70.82     22.83   108.53         58.37

In [12]:
new_york.rename(
    index={
        0: 'county',
        1: 'population',
        2: 'gdp',
        3: 'area'
    }
)

           The Bronx Brooklyn Manhattan   Queens Staten Island
county         Bronx    Kings  New York   Queens      Richmond
population   1418207  2559903   1628706  2253858        476143
gdp           42.695   91.559   600.244    93.31        14.514
area             2.1    70.82     22.83   108.53         58.37

In [13]:
new_york

  The Bronx Brooklyn Manhattan   Queens Staten Island
0     Bronx    Kings  New York   Queens      Richmond
1   1418207  2559903   1628706  2253858        476143
2    42.695   91.559   600.244    93.31        14.514
3       2.1    70.82     22.83   108.53         58.37

In [14]:
new_york.rename(
    index={
        0: 'county',
        1: 'population',
        2: 'gdp',
        3: 'area'
    }
).transpose()

                 county population      gdp    area
The Bronx         Bronx    1418207   42.695     2.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [16]:
new_york = new_york.transpose()
new_york

                      0        1        2       3
The Bronx         Bronx  1418207   42.695     2.1
Brooklyn          Kings  2559903   91.559   70.82
Manhattan      New York  1628706  600.244   22.83
Queens           Queens  2253858    93.31  108.53
Staten Island  Richmond   476143   14.514   58.37

In [17]:
new_york.rename(
    index={
        0: 'county',
        1: 'population',
        2: 'gdp',
        3: 'area'
    }
)

                      0        1        2       3
The Bronx         Bronx  1418207   42.695     2.1
Brooklyn          Kings  2559903   91.559   70.82
Manhattan      New York  1628706  600.244   22.83
Queens           Queens  2253858    93.31  108.53
Staten Island  Richmond   476143   14.514   58.37

In [18]:
burroughs = ['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']
counties = ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond']
populations = [1_418_207, 2_559_903, 1_628_706, 2_253_858, 476_143]
gdp = [42.695, 91.559, 600.244, 93.310, 14.514]
areas = [42.10, 70.82, 22.83, 108.53, 58.37]

In [19]:
data = [burroughs, counties, populations, gdp, areas]

In [39]:
new_york = pd.DataFrame(
    data, 
    index = ['burroughs', 'counties', 'population', 'gdp', 'areas']
)
new_york

                    0         1          2        3              4
burroughs   The Bronx  Brooklyn  Manhattan   Queens  Staten Island
counties        Bronx     Kings   New York   Queens       Richmond
population    1418207   2559903    1628706  2253858         476143
gdp            42.695    91.559    600.244    93.31         14.514
areas            42.1     70.82      22.83   108.53          58.37

In [40]:
new_york = pd.DataFrame(
    data, 
    index = ['burroughs', 'county', 'population', 'gdp', 'areas']
)
new_york

                    0         1          2        3              4
burroughs   The Bronx  Brooklyn  Manhattan   Queens  Staten Island
county          Bronx     Kings   New York   Queens       Richmond
population    1418207   2559903    1628706  2253858         476143
gdp            42.695    91.559    600.244    93.31         14.514
areas            42.1     70.82      22.83   108.53          58.37

In [41]:
new_york = new_york.transpose()
new_york

       burroughs    county population      gdp   areas
0      The Bronx     Bronx    1418207   42.695    42.1
1       Brooklyn     Kings    2559903   91.559   70.82
2      Manhattan  New York    1628706  600.244   22.83
3         Queens    Queens    2253858    93.31  108.53
4  Staten Island  Richmond     476143   14.514   58.37

In [42]:
new_york.set_index('burroughs')

                 county population      gdp   areas
burroughs
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [43]:
new_york.set_index('county')

              burroughs population      gdp   areas
county
Bronx         The Bronx    1418207   42.695    42.1
Kings          Brooklyn    2559903   91.559   70.82
New York      Manhattan    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Richmond  Staten Island     476143   14.514   58.37

In [45]:
df = new_york.set_index('county')

In [46]:
df.loc['Brooklyn']

KeyError: 'Brooklyn'

In [50]:
df = new_york.set_index('burroughs')
df

                 county population      gdp   areas
burroughs
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [51]:
df.loc['Brooklyn']

county          Kings
population    2559903
gdp            91.559
areas           70.82
Name: Brooklyn, dtype: object

In [52]:
new_york

       burroughs    county population      gdp   areas
0      The Bronx     Bronx    1418207   42.695    42.1
1       Brooklyn     Kings    2559903   91.559   70.82
2      Manhattan  New York    1628706  600.244   22.83
3         Queens    Queens    2253858    93.31  108.53
4  Staten Island  Richmond     476143   14.514   58.37

In [53]:
new_york = new_york.set_index('burroughs')
new_york

                 county population      gdp   areas
burroughs
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [54]:
new_york.index

Index(['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'], dtype='object', name='burroughs')

In [55]:
new_york.columns

Index(['county', 'population', 'gdp', 'areas'], dtype='object')

In [56]:
new_york.index.name = None

In [57]:
new_york

                 county population      gdp   areas
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [58]:
new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, The Bronx to Staten Island
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      5 non-null      object
 1   population  5 non-null      object
 2   gdp         5 non-null      object
 3   areas       5 non-null      object
dtypes: object(4)
memory usage: 200.0+ bytes

In [59]:
burroughs = ['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']
counties = ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond']
populations = [1_418_207, 2_559_903, 1_628_706, 2_253_858, 476_143]
gdp = [42.695, 91.559, 600.244, 93.310, 14.514]
areas = [42.10, 70.82, 22.83, 108.53, 58.37]

data = [burroughs, counties, populations, gdp, areas]

new_york = pd.DataFrame(
    data, 
    index=['burroughs', 'county', 'population', 'gdp', 'area']
)

new_york

                    0         1          2        3              4
burroughs   The Bronx  Brooklyn  Manhattan   Queens  Staten Island
county          Bronx     Kings   New York   Queens       Richmond
population    1418207   2559903    1628706  2253858         476143
gdp            42.695    91.559    600.244    93.31         14.514
area             42.1     70.82      22.83   108.53          58.37

In [60]:
new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, burroughs to area
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       5 non-null      object
dtypes: object(5)
memory usage: 240.0+ bytes

In [61]:
new_york = new_york.transpose()
new_york = new_york.set_index('burroughs')
new_york

                 county population      gdp    area
burroughs
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [62]:
new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, The Bronx to Staten Island
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      5 non-null      object
 1   population  5 non-null      object
 2   gdp         5 non-null      object
 3   area        5 non-null      object
dtypes: object(4)
memory usage: 200.0+ bytes

In [63]:
counties = pd.Series(
    ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond'],
    index=columns,
    name='county'
)
populations = pd.Series(
    [1_418_207, 2_559_903, 1_628_706, 2_253_858, 476_143],
    index = columns,
    name='population'
)
gdp = pd.Series(
    [42.695, 91.559, 600.244, 93.310, 14.514],
    index=columns,
    name='gdp'
)
areas = pd.Series(
    [42.10, 70.82, 22.83, 108.53, 58.37],
    index=columns,
    name='area'
)

d = {
    'county': counties,
    'population': populations,
    'gdp': gdp,
    'area': areas
}

new_york_homogeneous = pd.DataFrame(d)
new_york_homogeneous

                 county  population      gdp    area
The Bronx         Bronx     1418207   42.695   42.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37

In [64]:
new_york_homogeneous.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, The Bronx to Staten Island
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      5 non-null      object
 1   population  5 non-null      int64
 2   gdp         5 non-null      float64
 3   area        5 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 372.0+ bytes

In [65]:
new_york

                 county population      gdp    area
burroughs
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [66]:
new_df = new_york.drop(columns='county')
new_df

              population      gdp    area
burroughs
The Bronx        1418207   42.695    42.1
Brooklyn         2559903   91.559   70.82
Manhattan        1628706  600.244   22.83
Queens           2253858    93.31  108.53
Staten Island     476143   14.514   58.37

In [67]:
new_df = new_df.drop(index=['Brooklyn', 'Queens'])
new_df

              population      gdp   area
burroughs
The Bronx        1418207   42.695   42.1
Manhattan        1628706  600.244  22.83
Staten Island     476143   14.514  58.37

### Selecting Data

In [68]:
import pandas as pd
import numpy as np

In [69]:
arr = np.arange(9).reshape(3, 3)
df = pd.DataFrame(
    arr,
    columns = ['c1', 'c2', 'c3'],
    index = ['r1', 'r2', 'r3']
)
df

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

In [70]:
df.index

Index(['r1', 'r2', 'r3'], dtype='object')

In [71]:
df['c2']

r1    1
r2    4
r3    7
Name: c2, dtype: int32

In [72]:
type(df['c2'])

pandas.core.series.Series

In [73]:
df[1]

KeyError: 1

In [74]:
df['c2'][1]

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\3779294091.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['c2'][1]

4

In [75]:
df['c2']['r2']

4

In [76]:
df.values

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [77]:
type(df.values)

numpy.ndarray

In [78]:
df.values[0][1]

1

In [79]:
df.values[0, 1]

1

In [80]:
df.iloc[1, 2]

5

In [81]:
df.loc['r2', 'c3']

5

In [82]:
df

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

In [84]:
print(df)
df.loc['r1': 'r2', :]

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

    c1  c2  c3
r1   0   1   2
r2   3   4   5

In [85]:
print(df)
df.loc['r1': 'r2', 'c1':'c2']

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

    c1  c2
r1   0   1
r2   3   4

In [86]:
print(df)
df.iloc[0:1, 1:2]

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

    c2
r1   1

In [87]:
df.iloc[:, 1]

r1    1
r2    4
r3    7
Name: c2, dtype: int32

In [88]:
df.iloc[:, 1:3]

    c2  c3
r1   1   2
r2   4   5
r3   7   8

In [89]:
df.iloc[0:2, :]

    c1  c2  c3
r1   0   1   2
r2   3   4   5

In [90]:
df.iloc[0:2]

    c1  c2  c3
r1   0   1   2
r2   3   4   5

In [91]:
df.loc[:, ['c1', 'c3']]

    c1  c3
r1   0   2
r2   3   5
r3   6   8

In [92]:
df.iloc[:, [0, 2]]

    c1  c3
r1   0   2
r2   3   5
r3   6   8

In [93]:
print(df)
tmp = df.iloc[0:2, :]
tmp

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

    c1  c2  c3
r1   0   1   2
r2   3   4   5

In [94]:
tmp.loc[:, ['c1', 'c3']]

    c1  c3
r1   0   2
r2   3   5

In [95]:
print(df)
df.iloc[0:2, :].loc[:, ['c1', 'c3']]

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

    c1  c3
r1   0   2
r2   3   5

In [96]:
df

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

In [97]:
df.iloc[0, 0] = -10

In [98]:
df

    c1  c2  c3
r1 -10   1   2
r2   3   4   5
r3   6   7   8

In [99]:
df.loc['r1': 'r2', 'c1': 'c2']

    c1  c2
r1 -10   1
r2   3   4

In [100]:
df.loc['r1': 'r2', 'c1': 'c2'] = np.array([10, 20, 30, 40])

ValueError: setting an array element with a sequence.

In [101]:
df.loc['r1': 'r2', 'c1': 'c2'] = np.array([10, 20, 30, 40]).reshape(2, 2)

In [102]:
df

    c1  c2  c3
r1  10  20   2
r2  30  40   5
r3   6   7   8

In [103]:
df.loc['r1': 'r2', 'c1': 'c2'] = -100
df

     c1   c2  c3
r1 -100 -100   2
r2 -100 -100   5
r3    6    7   8

In [104]:
df.loc['r1': 'r2', 'c1': 'c2'] = [100, 200]
df

     c1   c2  c3
r1  100  200   2
r2  100  200   5
r3    6    7   8

In [105]:
ser = pd.Series([-1, -20], index=['n1', 'n2'])
ser

n1    -1
n2   -20
dtype: int64

In [106]:
df

     c1   c2  c3
r1  100  200   2
r2  100  200   5
r3    6    7   8

In [107]:
df.iloc[0:2, 0:2]

     c1   c2
r1  100  200
r2  100  200

In [108]:
df.iloc[0:2, 0:2] = ser

In [109]:
df

    c1  c2  c3
r1  -1 -20   2
r2  -1 -20   5
r3   6   7   8

### Missing Data

In [110]:
import pandas as pd
import numpy as np

In [111]:
float(1)

1.0

In [112]:
float('inf')

inf

In [113]:
type(float('inf'))

float

In [114]:
import math

In [115]:
math.inf

inf

In [116]:
np.inf

inf

In [118]:
float('NaN'), float('nan')

(nan, nan)

In [119]:
math.nan

nan

In [120]:
np.nan

nan

In [121]:
float('nan') == float('nan')

False

In [122]:
float('nan') is float('nan')

False

In [123]:
a = math.nan
b = np.nan

In [124]:
a == b

False

In [125]:
math.isnan(a)

True

In [126]:
np.isnan(a)

True

In [127]:
a = np.array([1, 2, np.nan, 3, math.nan])
a

array([ 1.,  2., nan,  3., nan])

In [128]:
np.isnan(a)

array([False, False,  True, False,  True])

In [129]:
s = pd.Series([3.14, 2.5, None, 5])
s

0    3.14
1    2.50
2     NaN
3    5.00
dtype: float64

In [130]:
s.iloc[2]

nan

In [131]:
type(s.iloc[2])

numpy.float64

In [132]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [133]:
pd.Series([1, 2, 3, None])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [134]:
pd.Series([1, 2, 3, np.nan])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [135]:
s = pd.Series(['a', 'b'])
s

0    a
1    b
dtype: object

In [136]:
s = pd.Series(['a', 'b', None, np.nan])
s

0       a
1       b
2    None
3     NaN
dtype: object

In [137]:
s[2] is None

True

In [139]:
s[3] is None

False

In [141]:
try:
    math.isnan(s[2])
except TypeError as ex:
    print('Type Error:',ex)

Type Error: must be real number, not NoneType

In [142]:
math.isnan(s[3])

True

In [143]:
s = pd.Series(['aaa', 'bbb', None, 'ddd', np.nan], index=list('abcde'))
s

a     aaa
b     bbb
c    None
d     ddd
e     NaN
dtype: object

In [144]:
pd.isnull(s)

a    False
b    False
c     True
d    False
e     True
dtype: bool

In [145]:
~pd.isnull(s)

a     True
b     True
c    False
d     True
e    False
dtype: bool

In [146]:
s[~pd.isnull(s)]

a    aaa
b    bbb
d    ddd
dtype: object

In [147]:
pd.notnull(s)

a     True
b     True
c    False
d     True
e    False
dtype: bool

In [148]:
s[pd.notnull(s)]

a    aaa
b    bbb
d    ddd
dtype: object

In [149]:
s

a     aaa
b     bbb
c    None
d     ddd
e     NaN
dtype: object

In [150]:
s.dropna()

a    aaa
b    bbb
d    ddd
dtype: object

In [151]:
s

a     aaa
b     bbb
c    None
d     ddd
e     NaN
dtype: object

In [152]:
s.fillna('missing')

a        aaa
b        bbb
c    missing
d        ddd
e    missing
dtype: object

In [153]:
s

a     aaa
b     bbb
c    None
d     ddd
e     NaN
dtype: object

In [154]:
s.ffill()

a    aaa
b    bbb
c    bbb
d    ddd
e    ddd
dtype: object

In [158]:
s.fillna(method='ffill')

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\1029756637.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method='ffill')

a    aaa
b    bbb
c    bbb
d    ddd
e    ddd
dtype: object

In [156]:
s.bfill()

a    aaa
b    bbb
c    ddd
d    ddd
e    NaN
dtype: object

In [159]:
s.fillna(method='bfill')

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\1641295691.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method='bfill')

a    aaa
b    bbb
c    ddd
d    ddd
e    NaN
dtype: object

In [160]:
s.fillna(method='bfill').fillna(method='ffill')

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\3738166958.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method='bfill').fillna(method='ffill')

a    aaa
b    bbb
c    ddd
d    ddd
e    ddd
dtype: object

In [161]:
s = pd.Series([1, 2, None, 4, None, 7])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    7.0
dtype: float64

In [162]:
s.interpolate(method='linear')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.5
5    7.0
dtype: float64

In [163]:
d = {
    'col1': {'row1': 1, 'row2': 10, 'row3': 100, 'row4': 1000, 'row5': 10000},
    'col2': {'row1': 2, 'row2': None, 'row3': None, 'row4': 2000, 'row5': 20000},
    'col3': {'row1': 3, 'row2': 30, 'row3': 300, 'row4': None, 'row5': 40000},
    'col4': {'row1': 4, 'row2': 40, 'row3': 400, 'row4': 4000, 'row5': 40000}
}

df = pd.DataFrame(d)
df

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

In [164]:
df.isnull()

       col1   col2   col3   col4
row1  False  False  False  False
row2  False   True  False  False
row3  False   True  False  False
row4  False  False   True  False
row5  False  False  False  False

In [165]:
df.notnull()

      col1   col2   col3  col4
row1  True   True   True  True
row2  True  False   True  True
row3  True  False   True  True
row4  True   True  False  True
row5  True   True   True  True

In [166]:
df.fillna(0)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      0.0     30.0     40
row3    100      0.0    300.0    400
row4   1000   2000.0      0.0   4000
row5  10000  20000.0  40000.0  40000

In [167]:
print(df)
df.fillna(method='ffill')

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\400473987.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      2.0     30.0     40
row3    100      2.0    300.0    400
row4   1000   2000.0    300.0   4000
row5  10000  20000.0  40000.0  40000

In [168]:
print(df)
df.fillna(method='ffill', axis=0)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\1977403599.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', axis=0)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      2.0     30.0     40
row3    100      2.0    300.0    400
row4   1000   2000.0    300.0   4000
row5  10000  20000.0  40000.0  40000

In [170]:
print(df)
df.fillna(method='ffill', axis=1)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

C:\Users\Oxward\AppData\Local\Temp\ipykernel_13224\1604425169.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', axis=1)

         col1     col2     col3     col4
row1      1.0      2.0      3.0      4.0
row2     10.0     10.0     30.0     40.0
row3    100.0    100.0    300.0    400.0
row4   1000.0   2000.0   2000.0   4000.0
row5  10000.0  20000.0  40000.0  40000.0

In [171]:
print(df)
df.interpolate(method='linear', axis=0)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10    668.0     30.0     40
row3    100   1334.0    300.0    400
row4   1000   2000.0  20150.0   4000
row5  10000  20000.0  40000.0  40000

In [172]:
print(df)
df.interpolate(method='linear', axis=1)

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row2     10      NaN     30.0     40
row3    100      NaN    300.0    400
row4   1000   2000.0      NaN   4000
row5  10000  20000.0  40000.0  40000

         col1     col2     col3     col4
row1      1.0      2.0      3.0      4.0
row2     10.0     20.0     30.0     40.0
row3    100.0    200.0    300.0    400.0
row4   1000.0   2000.0   3000.0   4000.0
row5  10000.0  20000.0  40000.0  40000.0

In [173]:
df.dropna()

       col1     col2     col3   col4
row1      1      2.0      3.0      4
row5  10000  20000.0  40000.0  40000

In [174]:
df.dropna(axis=1)

       col1   col4
row1      1      4
row2     10     40
row3    100    400
row4   1000   4000
row5  10000  40000

### Loading Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
from csv import reader

with  open('files/populations.csv') as f:
    data = reader(f)
    print(next(data))
    print(next(data))
    print(next(data))

['Geographic Area', 'July 1, 2001 Estimate', 'July 1, 2000 Estimate', 'April 1, 2000 Population Estimates Base']
['United States', '284796887', '282124631', '281421906']
['Alabama', '4464356', '4451493', '4447100']

In [3]:
df = pd.read_csv('files/populations.csv')
df

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400
5,California,34501130,34000446,33871648
6,Colorado,4417714,4323410,4301261
7,Connecticut,3425074,3410079,3405565
8,Delaware,796165,786234,783600
9,District of Columbia,571822,571066,572059
10,Florida,16396515,16054328,15982378
11,Georgia,8383915,8229823,8186453
12,Hawaii,1224398,1212281,1211537
13,Idaho,1321006,1299258,1293953
14,Illinois,12482301,12435970,12419293
15,Indiana,6114745,6089950,6080485
16,Iowa,2923179,2927509,2926324
17,Kansas,2694641,2691750,2688418
18,Kentucky,4065556,4047424,4041769
19,Louisiana,4465430,4469970,4468976
20,Maine,1286670,1276961,1274923
21,Maryland,5375156,5310908,5296486
22,Massachusetts,6379304,6357072,6349097
23,Michigan,9990817,9952006,9938444
24,Minnesota,4972294,4931093,4919479
25,Mississippi,2858029,2849100,2844658
26,Missouri,5629707,5603553,5595211
27,Montana,904433,903157,902195
28,Nebraska,1713235,1712577,1711263
29,Nevada,2106074,2018723,1998257
30,New Hampshire,1259181,1239881,1235786
31,New Jersey,8484431,8429007,8414350
32,New Mexico,1829146,1821282,1819046
33,New York,19011378,18989332,18976457
34,North Carolina,8186268,8077367,8049313
35,North Dakota,634448,640919,642200
36,Ohio,11373541,11359955,11353140
37,Oklahoma,3460097,3453250,3450654
38,Oregon,3472867,3429293,3421399
39,Pennsylvania,12287150,12282591,12281054
40,Rhode Island,1058920,1050236,1048319
41,South Carolina,4063011,4023438,4012012
42,South Dakota,756600,755509,754844
43,Tennessee,5740021,5702027,5689283
44,Texas,21325018,20946503,20851820
45,Utah,2269789,2241555,2233169
46,Vermont,613090,609709,608827
47,Virginia,7187734,7104016,7078515
48,Washington,5987973,5908372,5894121
49,West Virginia,1801916,1807099,1808344
50,Wisconsin,5401906,5372243,5363675
51,Wyoming,494423,494001,493782

In [8]:
df = df.rename(
    columns = {
        'Geographic Area': 'region',
        'July 1, 2001 Estimate': '2001',
        'July 1, 2000 Estimate': '2000',
        'April 1, 2000 Population Estimates Base': 'not needed'
    }
)

In [9]:
df

                  region       2001       2000  not needed
0          United States  284796887  282124631   281421906
1                Alabama    4464356    4451493     4447100
2                 Alaska     634892     627601      626932
3                Arizona    5307331    5165274     5130632
4               Arkansas    2692090    2678030     2673400
5             California   34501130   34000446    33871648
6               Colorado    4417714    4323410     4301261
7            Connecticut    3425074    3410079     3405565
8               Delaware     796165     786234      783600
9   District of Columbia     571822     571066      572059
10               Florida   16396515   16054328    15982378
11               Georgia    8383915    8229823     8186453
12                Hawaii    1224398    1212281     1211537
13                 Idaho    1321006    1299258     1293953
14              Illinois   12482301   12435970    12419293
15               Indiana    6114745    6089950     6080485
16                  Iowa    2923179    2927509     2926324
17                Kansas    2694641    2691750     2688418
18              Kentucky    4065556    4047424     4041769
19             Louisiana    4465430    4469970     4468976
20                 Maine    1286670    1276961     1274923
21              Maryland    5375156    5310908     5296486
22         Massachusetts    6379304    6357072     6349097
23              Michigan    9990817    9952006     9938444
24             Minnesota    4972294    4931093     4919479
25           Mississippi    2858029    2849100     2844658
26              Missouri    5629707    5603553     5595211
27               Montana     904433     903157      902195
28              Nebraska    1713235    1712577     1711263
29                Nevada    2106074    2018723     1998257
30         New Hampshire    1259181    1239881     1235786
31            New Jersey    8484431    8429007     8414350
32            New Mexico    1829146    1821282     1819046
33              New York   19011378   18989332    18976457
34        North Carolina    8186268    8077367     8049313
35          North Dakota     634448     640919      642200
36                  Ohio   11373541   11359955    11353140
37              Oklahoma    3460097    3453250     3450654
38                Oregon    3472867    3429293     3421399
39          Pennsylvania   12287150   12282591    12281054
40          Rhode Island    1058920    1050236     1048319
41        South Carolina    4063011    4023438     4012012
42          South Dakota     756600     755509      754844
43             Tennessee    5740021    5702027     5689283
44                 Texas   21325018   20946503    20851820
45                  Utah    2269789    2241555     2233169
46               Vermont     613090     609709      608827
47              Virginia    7187734    7104016     7078515
48            Washington    5987973    5908372     5894121
49         West Virginia    1801916    1807099     1808344
50             Wisconsin    5401906    5372243     5363675
51               Wyoming     494423     494001      493782

In [10]:
df = df.drop(columns= 'not needed')
df

                  region       2001       2000
0          United States  284796887  282124631
1                Alabama    4464356    4451493
2                 Alaska     634892     627601
3                Arizona    5307331    5165274
4               Arkansas    2692090    2678030
5             California   34501130   34000446
6               Colorado    4417714    4323410
7            Connecticut    3425074    3410079
8               Delaware     796165     786234
9   District of Columbia     571822     571066
10               Florida   16396515   16054328
11               Georgia    8383915    8229823
12                Hawaii    1224398    1212281
13                 Idaho    1321006    1299258
14              Illinois   12482301   12435970
15               Indiana    6114745    6089950
16                  Iowa    2923179    2927509
17                Kansas    2694641    2691750
18              Kentucky    4065556    4047424
19             Louisiana    4465430    4469970
20                 Maine    1286670    1276961
21              Maryland    5375156    5310908
22         Massachusetts    6379304    6357072
23              Michigan    9990817    9952006
24             Minnesota    4972294    4931093
25           Mississippi    2858029    2849100
26              Missouri    5629707    5603553
27               Montana     904433     903157
28              Nebraska    1713235    1712577
29                Nevada    2106074    2018723
30         New Hampshire    1259181    1239881
31            New Jersey    8484431    8429007
32            New Mexico    1829146    1821282
33              New York   19011378   18989332
34        North Carolina    8186268    8077367
35          North Dakota     634448     640919
36                  Ohio   11373541   11359955
37              Oklahoma    3460097    3453250
38                Oregon    3472867    3429293
39          Pennsylvania   12287150   12282591
40          Rhode Island    1058920    1050236
41        South Carolina    4063011    4023438
42          South Dakota     756600     755509
43             Tennessee    5740021    5702027
44                 Texas   21325018   20946503
45                  Utah    2269789    2241555
46               Vermont     613090     609709
47              Virginia    7187734    7104016
48            Washington    5987973    5908372
49         West Virginia    1801916    1807099
50             Wisconsin    5401906    5372243
51               Wyoming     494423     494001

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  52 non-null     object
 1   2001    52 non-null     int64
 2   2000    52 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB

In [12]:
df = df.set_index('region')
df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

In [14]:
df = pd.read_csv(
    'files/populations.csv',
    header = 0,
    usecols = [0, 1, 2],
    names = ['region', '2001', '2000'],
    index_col = 0
)

df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    52 non-null     int64
 1   2000    52 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

In [16]:
df.loc[:, '2001']

region
United States           284796887
Alabama                   4464356
Alaska                     634892
Arizona                   5307331
Arkansas                  2692090
California               34501130
Colorado                  4417714
Connecticut               3425074
Delaware                   796165
District of Columbia       571822
Florida                  16396515
Georgia                   8383915
Hawaii                    1224398
Idaho                     1321006
Illinois                 12482301
Indiana                   6114745
Iowa                      2923179
Kansas                    2694641
Kentucky                  4065556
Louisiana                 4465430
Maine                     1286670
Maryland                  5375156
Massachusetts             6379304
Michigan                  9990817
Minnesota                 4972294
Mississippi               2858029
Missouri                  5629707
Montana                    904433
Nebraska                  1713235
Nevada                    2106074
New Hampshire             1259181
New Jersey                8484431
New Mexico                1829146
New York                 19011378
North Carolina            8186268
North Dakota               634448
Ohio                     11373541
Oklahoma                  3460097
Oregon                    3472867
Pennsylvania             12287150
Rhode Island              1058920
South Carolina            4063011
South Dakota               756600
Tennessee                 5740021
Texas                    21325018
Utah                      2269789
Vermont                    613090
Virginia                  7187734
Washington                5987973
West Virginia             1801916
Wisconsin                 5401906
Wyoming                    494423
Name: 2001, dtype: int64

In [17]:
df['2001']

region
United States           284796887
Alabama                   4464356
Alaska                     634892
Arizona                   5307331
Arkansas                  2692090
California               34501130
Colorado                  4417714
Connecticut               3425074
Delaware                   796165
District of Columbia       571822
Florida                  16396515
Georgia                   8383915
Hawaii                    1224398
Idaho                     1321006
Illinois                 12482301
Indiana                   6114745
Iowa                      2923179
Kansas                    2694641
Kentucky                  4065556
Louisiana                 4465430
Maine                     1286670
Maryland                  5375156
Massachusetts             6379304
Michigan                  9990817
Minnesota                 4972294
Mississippi               2858029
Missouri                  5629707
Montana                    904433
Nebraska                  1713235
Nevada                    2106074
New Hampshire             1259181
New Jersey                8484431
New Mexico                1829146
New York                 19011378
North Carolina            8186268
North Dakota               634448
Ohio                     11373541
Oklahoma                  3460097
Oregon                    3472867
Pennsylvania             12287150
Rhode Island              1058920
South Carolina            4063011
South Dakota               756600
Tennessee                 5740021
Texas                    21325018
Utah                      2269789
Vermont                    613090
Virginia                  7187734
Washington                5987973
West Virginia             1801916
Wisconsin                 5401906
Wyoming                    494423
Name: 2001, dtype: int64

In [18]:
df['2001'] - df['2000']

region
United States           2672256
Alabama                   12863
Alaska                     7291
Arizona                  142057
Arkansas                  14060
California               500684
Colorado                  94304
Connecticut               14995
Delaware                   9931
District of Columbia        756
Florida                  342187
Georgia                  154092
Hawaii                    12117
Idaho                     21748
Illinois                  46331
Indiana                   24795
Iowa                      -4330
Kansas                     2891
Kentucky                  18132
Louisiana                 -4540
Maine                      9709
Maryland                  64248
Massachusetts             22232
Michigan                  38811
Minnesota                 41201
Mississippi                8929
Missouri                  26154
Montana                    1276
Nebraska                    658
Nevada                    87351
New Hampshire             19300
New Jersey                55424
New Mexico                 7864
New York                  22046
North Carolina           108901
North Dakota              -6471
Ohio                      13586
Oklahoma                   6847
Oregon                    43574
Pennsylvania               4559
Rhode Island               8684
South Carolina            39573
South Dakota               1091
Tennessee                 37994
Texas                    378515
Utah                      28234
Vermont                    3381
Virginia                  83718
Washington                79601
West Virginia             -5183
Wisconsin                 29663
Wyoming                     422
dtype: int64

In [19]:
increase = 100 * (df['2001'] - df['2000']) / df['2000']
increase

region
United States           0.947190
Alabama                 0.288959
Alaska                  1.161725
Arizona                 2.750232
Arkansas                0.525013
California              1.472581
Colorado                2.181241
Connecticut             0.439726
Delaware                1.263110
District of Columbia    0.132384
Florida                 2.131431
Georgia                 1.872361
Hawaii                  0.999521
Idaho                   1.673878
Illinois                0.372556
Indiana                 0.407146
Iowa                   -0.147907
Kansas                  0.107402
Kentucky                0.447989
Louisiana              -0.101567
Maine                   0.760321
Maryland                1.209737
Massachusetts           0.349721
Michigan                0.389982
Minnesota               0.835535
Mississippi             0.313397
Missouri                0.466740
Montana                 0.141282
Nebraska                0.038422
Nevada                  4.327042
New Hampshire           1.556601
New Jersey              0.657539
New Mexico              0.431784
New York                0.116097
North Carolina          1.348224
North Dakota           -1.009644
Ohio                    0.119596
Oklahoma                0.198277
Oregon                  1.270641
Pennsylvania            0.037118
Rhode Island            0.826862
South Carolina          0.983562
South Dakota            0.144406
Tennessee               0.666324
Texas                   1.807056
Utah                    1.259572
Vermont                 0.554527
Virginia                1.178460
Washington              1.347258
West Virginia          -0.286813
Wisconsin               0.552153
Wyoming                 0.085425
dtype: float64

In [20]:
df = pd.read_excel('files/populations.xls', sheet_name='data')

In [21]:
df

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400
5,California,34501130,34000446,33871648
6,Colorado,4417714,4323410,4301261
7,Connecticut,3425074,3410079,3405565
8,Delaware,796165,786234,783600
9,District of Columbia,571822,571066,572059
10,Florida,16396515,16054328,15982378
11,Georgia,8383915,8229823,8186453
12,Hawaii,1224398,1212281,1211537
13,Idaho,1321006,1299258,1293953
14,Illinois,12482301,12435970,12419293
15,Indiana,6114745,6089950,6080485
16,Iowa,2923179,2927509,2926324
17,Kansas,2694641,2691750,2688418
18,Kentucky,4065556,4047424,4041769
19,Louisiana,4465430,4469970,4468976
20,Maine,1286670,1276961,1274923
21,Maryland,5375156,5310908,5296486
22,Massachusetts,6379304,6357072,6349097
23,Michigan,9990817,9952006,9938444
24,Minnesota,4972294,4931093,4919479
25,Mississippi,2858029,2849100,2844658
26,Missouri,5629707,5603553,5595211
27,Montana,904433,903157,902195
28,Nebraska,1713235,1712577,1711263
29,Nevada,2106074,2018723,1998257
30,New Hampshire,1259181,1239881,1235786
31,New Jersey,8484431,8429007,8414350
32,New Mexico,1829146,1821282,1819046
33,New York,19011378,18989332,18976457
34,North Carolina,8186268,8077367,8049313
35,North Dakota,634448,640919,642200
36,Ohio,11373541,11359955,11353140
37,Oklahoma,3460097,3453250,3450654
38,Oregon,3472867,3429293,3421399
39,Pennsylvania,12287150,12282591,12281054
40,Rhode Island,1058920,1050236,1048319
41,South Carolina,4063011,4023438,4012012
42,South Dakota,756600,755509,754844
43,Tennessee,5740021,5702027,5689283
44,Texas,21325018,20946503,20851820
45,Utah,2269789,2241555,2233169
46,Vermont,613090,609709,608827
47,Virginia,7187734,7104016,7078515
48,Washington,5987973,5908372,5894121
49,West Virginia,1801916,1807099,1808344
50,Wisconsin,5401906,5372243,5363675
51,Wyoming,494423,494001,493782

In [22]:
df = pd.read_excel(
    'files/populations.xls',
    header = 0,
    usecols = [0, 1, 2],
    names = ['region', '2001', '2000'],
    index_col = 0
)

df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    52 non-null     int64
 1   2000    52 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

### Basic Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
f_path = 'files/Morningstar - European Mutual Funds.csv'

In [3]:
df = pd.read_csv(f_path)

In [5]:
df.shape

(49399, 111)

In [6]:
df.iloc[:5, :]

,ticker,isin,fund_name,morningstar_category,morningstar_rating,morningstar_analyst_rating,morningstar_risk_rating,morningstar_performance_rating,nav_per_share_currency,nav_per_share,...,involvement_controversial_weapons,involvement_gambling,involvement_gmo,involvement_military_contracting,involvement_nuclear,involvement_palm_oil,involvement_pesticides,involvement_small_arms,involvement_thermal_coal,involvement_tobacco
0,0P00000AWF,LU0171281750,BlackRock Global Funds - European Value Fund A2,Europe Large-Cap Value Equity,3.0,Bronze,3.0,3.0,USD,68.96,...,2.70,0.00,0.00,5.05,6.54,0.0,0.00,0.00,12.32,0.00
1,0P00000AYI,LU0071969892,BlackRock Global Funds - Continental European ...,Europe ex-UK Large-Cap Equity,4.0,Bronze,4.0,5.0,GBP,22.51,...,9.19,0.00,0.00,10.93,1.98,0.0,0.00,0.00,1.98,0.00
2,0P00000BOW,LU0011983433,Morgan Stanley Investment Funds - Global Bond ...,Global Bond,5.0,NaN,3.0,5.0,EUR,44.20,...,0.00,0.24,0.16,0.00,0.38,0.0,0.35,0.00,1.67,0.29
3,0P00000ESH,LU0757425763,Threadneedle (Lux) - American Select Class AU ...,US Large-Cap Growth Equity,2.0,NaN,3.0,2.0,EUR,23.03,...,0.00,0.00,0.00,0.26,0.26,0.0,0.00,0.00,8.06,0.00
4,0P00000ESL,LU0011818076,HSBC Global Investment Funds - Economic Scale ...,Japan Large-Cap Equity,3.0,NaN,2.0,3.0,USD,11.44,...,0.00,0.18,0.00,0.79,5.30,0.0,0.42,0.15,9.22,2.34

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49399 entries, 0 to 49398
Columns: 111 entries, ticker to involvement_tobacco
dtypes: float64(90), int64(2), object(19)
memory usage: 41.8+ MB

In [11]:
pd.options.display.max_info_columns

200

In [9]:
pd.options.display.max_info_columns = 200

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49399 entries, 0 to 49398
Data columns (total 111 columns):
 #    Column                               Non-Null Count  Dtype
---   ------                               --------------  -----
 0    ticker                               49399 non-null  object
 1    isin                                 49399 non-null  object
 2    fund_name                            49399 non-null  object
 3    morningstar_category                 49399 non-null  object
 4    morningstar_rating                   29076 non-null  float64
 5    morningstar_analyst_rating           6899 non-null   object
 6    morningstar_risk_rating              29076 non-null  float64
 7    morningstar_performance_rating       29076 non-null  float64
 8    nav_per_share_currency               49399 non-null  object
 9    nav_per_share                        49399 non-null  float64
 10   class_size_currency                  49399 non-null  object
 11   class_size                           49399 non-null  int64
 12   fund_size_currency                   49399 non-null  object
 13   fund_size                            49399 non-null  int64
 14   fund_return_ytd                      49389 non-null  float64
 15   fund_return_2018                     41580 non-null  float64
 16   fund_return_2017                     37970 non-null  float64
 17   fund_return_2016                     34463 non-null  float64
 18   fund_return_2015                     30890 non-null  float64
 19   fund_return_2014                     26811 non-null  float64
 20   fund_return_2013                     22940 non-null  float64
 21   fund_return_2012                     19551 non-null  float64
 22   fund_return_2011                     17048 non-null  float64
 23   fund_return_2010                     14512 non-null  float64
 24   investment_strategy                  48420 non-null  object
 25   trailing_return_3years               37183 non-null  float64
 26   trailing_return_5years               29815 non-null  float64
 27   trailing_return_10years              92 non-null     float64
 28   trailing_return_since_inception      46709 non-null  float64
 29   dividend_frequency                   22567 non-null  object
 30   fund_benchmark                       40471 non-null  object
 31   morningstar_benchmark                36236 non-null  object
 32   equity_style                         32399 non-null  object
 33   equity_style_score                   32399 non-null  float64
 34   equity_size                          32399 non-null  object
 35   equity_size_score                    32399 non-null  float64
 36   price_prospective_earnings           32147 non-null  float64
 37   price_book                           32226 non-null  float64
 38   price_sales                          32387 non-null  float64
 39   price_cash_flow                      32161 non-null  float64
 40   dividend_yield_factor                32399 non-null  float64
 41   long_term_projected_earnings_growth  31654 non-null  float64
 42   historical_earnings_growth           32075 non-null  float64
 43   sales_growth                         32204 non-null  float64
 44   cash_flow_growth                     31608 non-null  float64
 45   book_value_growth                    32045 non-null  float64
 46   roa                                  32403 non-null  float64
 47   roe                                  32158 non-null  float64
 48   roic                                 29960 non-null  float64
 49   bond_interest_rate_sensitivity       10669 non-null  object
 50   bond_credit_quality                  10669 non-null  object
 51   average_coupon_rate                  24607 non-null  float64
 52   average_credit_quality               12168 non-null  float64
 53   modified_duration                    7152 non-null   float64
 54   effective_maturity                   8714 non-null   float64
 55   asset_stock                          49399 non-null  float64
 56   asset_bond                           49399 non-null  float64
 57   asset_cash                           49399 non-null  float64
 58   asset_other                          49399 non-null  float64
 59   country_exposure                     47293 non-null  object
 60   top5_regions                         48590 non-null  object
 61   sector_basic_materials               27960 non-null  float64
 62   sector_consumer_cyclical             30143 non-null  float64
 63   sector_financial_services            29141 non-null  float64
 64   sector_real_estate                   23608 non-null  float64
 65   sector_consumer_defensive            27968 non-null  float64
 66   sector_healthcare                    27644 non-null  float64
 67   sector_utilities                     21893 non-null  float64
 68   sector_communication_services        23699 non-null  float64
 69   sector_energy                        25247 non-null  float64
 70   sector_industrials                   29650 non-null  float64
 71   sector_technology                    29051 non-null  float64
 72   market_capitalization_giant          14941 non-null  float64
 73   market_capitalization_large          14941 non-null  float64
 74   market_capitalization_medium         14941 non-null  float64
 75   market_capitalization_small          14941 non-null  float64
 76   market_capitalization_micro          14941 non-null  float64
 77   credit_quality_aaa                   3587 non-null   float64
 78   credit_quality_aa                    3587 non-null   float64
 79   credit_quality_a                     3587 non-null   float64
 80   credit_quality_bbb                   3587 non-null   float64
 81   credit_quality_bb                    3587 non-null   float64
 82   credit_quality_b                     3587 non-null   float64
 83   credit_quality_below_b               3587 non-null   float64
 84   credit_quality_not_rated             3587 non-null   float64
 85   holdings_number_stock                31851 non-null  float64
 86   holdings_number_bonds                24424 non-null  float64
 87   top5_holdings                        49365 non-null  object
 88   ongoing_cost                         45362 non-null  float64
 89   management_fees                      45017 non-null  float64
 90   sustainability_rank                  29630 non-null  float64
 91   esg_score                            30215 non-null  float64
 92   environmental_score                  30215 non-null  float64
 93   social_score                         30215 non-null  float64
 94   governance_score                     30215 non-null  float64
 95   controversy_score                    30757 non-null  float64
 96   sustainability_score                 30215 non-null  float64
 97   sustainability_percentage_rank       31922 non-null  float64
 98   involvement_abortive_contraceptive   45068 non-null  float64
 99   involvement_alcohol                  45068 non-null  float64
 100  involvement_animal_testing           45068 non-null  float64
 101  involvement_controversial_weapons    45068 non-null  float64
 102  involvement_gambling                 45068 non-null  float64
 103  involvement_gmo                      45068 non-null  float64
 104  involvement_military_contracting     45068 non-null  float64
 105  involvement_nuclear                  45068 non-null  float64
 106  involvement_palm_oil                 45068 non-null  float64
 107  involvement_pesticides               45068 non-null  float64
 108  involvement_small_arms               45068 non-null  float64
 109  involvement_thermal_coal             45068 non-null  float64
 110  involvement_tobacco                  45068 non-null  float64
dtypes: float64(90), int64(2), object(19)
memory usage: 41.8+ MB

In [12]:
pd.options.display.max_info_columns = 100

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49399 entries, 0 to 49398
Columns: 111 entries, ticker to involvement_tobacco
dtypes: float64(90), int64(2), object(19)
memory usage: 41.8+ MB

In [14]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49399 entries, 0 to 49398
Data columns (total 111 columns):
 #    Column                               Dtype
---   ------                               -----
 0    ticker                               object
 1    isin                                 object
 2    fund_name                            object
 3    morningstar_category                 object
 4    morningstar_rating                   float64
 5    morningstar_analyst_rating           object
 6    morningstar_risk_rating              float64
 7    morningstar_performance_rating       float64
 8    nav_per_share_currency               object
 9    nav_per_share                        float64
 10   class_size_currency                  object
 11   class_size                           int64
 12   fund_size_currency                   object
 13   fund_size                            int64
 14   fund_return_ytd                      float64
 15   fund_return_2018                     float64
 16   fund_return_2017                     float64
 17   fund_return_2016                     float64
 18   fund_return_2015                     float64
 19   fund_return_2014                     float64
 20   fund_return_2013                     float64
 21   fund_return_2012                     float64
 22   fund_return_2011                     float64
 23   fund_return_2010                     float64
 24   investment_strategy                  object
 25   trailing_return_3years               float64
 26   trailing_return_5years               float64
 27   trailing_return_10years              float64
 28   trailing_return_since_inception      float64
 29   dividend_frequency                   object
 30   fund_benchmark                       object
 31   morningstar_benchmark                object
 32   equity_style                         object
 33   equity_style_score                   float64
 34   equity_size                          object
 35   equity_size_score                    float64
 36   price_prospective_earnings           float64
 37   price_book                           float64
 38   price_sales                          float64
 39   price_cash_flow                      float64
 40   dividend_yield_factor                float64
 41   long_term_projected_earnings_growth  float64
 42   historical_earnings_growth           float64
 43   sales_growth                         float64
 44   cash_flow_growth                     float64
 45   book_value_growth                    float64
 46   roa                                  float64
 47   roe                                  float64
 48   roic                                 float64
 49   bond_interest_rate_sensitivity       object
 50   bond_credit_quality                  object
 51   average_coupon_rate                  float64
 52   average_credit_quality               float64
 53   modified_duration                    float64
 54   effective_maturity                   float64
 55   asset_stock                          float64
 56   asset_bond                           float64
 57   asset_cash                           float64
 58   asset_other                          float64
 59   country_exposure                     object
 60   top5_regions                         object
 61   sector_basic_materials               float64
 62   sector_consumer_cyclical             float64
 63   sector_financial_services            float64
 64   sector_real_estate                   float64
 65   sector_consumer_defensive            float64
 66   sector_healthcare                    float64
 67   sector_utilities                     float64
 68   sector_communication_services        float64
 69   sector_energy                        float64
 70   sector_industrials                   float64
 71   sector_technology                    float64
 72   market_capitalization_giant          float64
 73   market_capitalization_large          float64
 74   market_capitalization_medium         float64
 75   market_capitalization_small          float64
 76   market_capitalization_micro          float64
 77   credit_quality_aaa                   float64
 78   credit_quality_aa                    float64
 79   credit_quality_a                     float64
 80   credit_quality_bbb                   float64
 81   credit_quality_bb                    float64
 82   credit_quality_b                     float64
 83   credit_quality_below_b               float64
 84   credit_quality_not_rated             float64
 85   holdings_number_stock                float64
 86   holdings_number_bonds                float64
 87   top5_holdings                        object
 88   ongoing_cost                         float64
 89   management_fees                      float64
 90   sustainability_rank                  float64
 91   esg_score                            float64
 92   environmental_score                  float64
 93   social_score                         float64
 94   governance_score                     float64
 95   controversy_score                    float64
 96   sustainability_score                 float64
 97   sustainability_percentage_rank       float64
 98   involvement_abortive_contraceptive   float64
 99   involvement_alcohol                  float64
 100  involvement_animal_testing           float64
 101  involvement_controversial_weapons    float64
 102  involvement_gambling                 float64
 103  involvement_gmo                      float64
 104  involvement_military_contracting     float64
 105  involvement_nuclear                  float64
 106  involvement_palm_oil                 float64
 107  involvement_pesticides               float64
 108  involvement_small_arms               float64
 109  involvement_thermal_coal             float64
 110  involvement_tobacco                  float64
dtypes: float64(90), int64(2), object(19)
memory usage: 41.8+ MB

In [16]:
df.info(verbose=True, null_counts=True)

TypeError: DataFrame.info() got an unexpected keyword argument 'null_counts'

In [17]:
stats = df.describe()
stats

,morningstar_rating,morningstar_risk_rating,morningstar_performance_rating,nav_per_share,class_size,fund_size,fund_return_ytd,fund_return_2018,fund_return_2017,fund_return_2016,...,involvement_controversial_weapons,involvement_gambling,involvement_gmo,involvement_military_contracting,involvement_nuclear,involvement_palm_oil,involvement_pesticides,involvement_small_arms,involvement_thermal_coal,involvement_tobacco
count,29076.000000,29076.000000,29076.000000,4.939900e+04,4.939900e+04,4.939900e+04,49389.000000,41580.000000,37970.000000,34463.000000,...,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000
mean,3.242262,3.032501,3.240164,7.661971e+03,1.463266e+08,2.530081e+09,10.641131,-4.740028,9.733934,21.700668,...,0.632384,0.489367,0.047422,0.976092,1.018608,0.072934,0.363763,0.102977,3.063404,0.745578
std,1.061181,1.071964,1.063487,2.000447e+05,1.461131e+09,1.523205e+10,60.599371,6.921632,10.601492,13.463801,...,1.333692,1.024051,0.324684,1.730360,2.059553,0.370874,0.993295,0.407630,3.531592,1.478576
min,1.000000,1.000000,1.000000,1.900000e-01,0.000000e+00,2.000000e+04,-81.500000,-81.780000,-30.780000,-42.390000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,3.000000,1.135000e+01,7.100000e+05,1.034100e+08,4.870000,-9.200000,2.730000,14.690000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.370000,0.000000
50%,3.000000,3.000000,3.000000,7.595000e+01,7.360000e+06,3.663300e+08,9.680000,-4.290000,8.430000,21.260000,...,0.000000,0.000000,0.000000,0.100000,0.110000,0.000000,0.000000,0.000000,2.200000,0.000000
75%,4.000000,4.000000,4.000000,1.318050e+02,4.597000e+07,1.184770e+09,14.660000,-0.170000,15.210000,27.670000,...,0.690000,0.510000,0.000000,1.310000,1.290000,0.000000,0.300000,0.000000,4.400000,0.870000
max,5.000000,5.000000,5.000000,1.172074e+07,1.029288e+11,4.982347e+11,12007.000000,49.980000,72.630000,928.650000,...,19.100000,13.280000,9.410000,32.040000,31.630000,10.870000,16.900000,7.230000,40.620000,17.360000

In [18]:
pd.options.display.max_columns = None

In [19]:
pd.options.display.max_columns

In [20]:
stats = df.describe()
stats

,morningstar_rating,morningstar_risk_rating,morningstar_performance_rating,nav_per_share,class_size,fund_size,fund_return_ytd,fund_return_2018,fund_return_2017,fund_return_2016,fund_return_2015,fund_return_2014,fund_return_2013,fund_return_2012,fund_return_2011,fund_return_2010,trailing_return_3years,trailing_return_5years,trailing_return_10years,trailing_return_since_inception,equity_style_score,equity_size_score,price_prospective_earnings,price_book,price_sales,price_cash_flow,dividend_yield_factor,long_term_projected_earnings_growth,historical_earnings_growth,sales_growth,cash_flow_growth,book_value_growth,roa,roe,roic,average_coupon_rate,average_credit_quality,modified_duration,effective_maturity,asset_stock,asset_bond,asset_cash,asset_other,sector_basic_materials,sector_consumer_cyclical,sector_financial_services,sector_real_estate,sector_consumer_defensive,sector_healthcare,sector_utilities,sector_communication_services,sector_energy,sector_industrials,sector_technology,market_capitalization_giant,market_capitalization_large,market_capitalization_medium,market_capitalization_small,market_capitalization_micro,credit_quality_aaa,credit_quality_aa,credit_quality_a,credit_quality_bbb,credit_quality_bb,credit_quality_b,credit_quality_below_b,credit_quality_not_rated,holdings_number_stock,holdings_number_bonds,ongoing_cost,management_fees,sustainability_rank,esg_score,environmental_score,social_score,governance_score,controversy_score,sustainability_score,sustainability_percentage_rank,involvement_abortive_contraceptive,involvement_alcohol,involvement_animal_testing,involvement_controversial_weapons,involvement_gambling,involvement_gmo,involvement_military_contracting,involvement_nuclear,involvement_palm_oil,involvement_pesticides,involvement_small_arms,involvement_thermal_coal,involvement_tobacco
count,29076.000000,29076.000000,29076.000000,4.939900e+04,4.939900e+04,4.939900e+04,49389.000000,41580.000000,37970.000000,34463.000000,30890.000000,26811.000000,22940.000000,19551.000000,17048.000000,14512.000000,37183.000000,29815.000000,92.000000,46709.000000,32399.000000,32399.000000,32147.000000,32226.000000,32387.000000,32161.000000,32399.000000,31654.000000,32075.000000,32204.000000,31608.000000,32045.000000,32403.000000,32158.000000,29960.000000,24607.000000,12168.000000,7152.000000,8714.000000,49399.000000,49399.000000,49399.000000,49399.000000,27960.000000,30143.000000,29141.000000,23608.000000,27968.000000,27644.000000,21893.000000,23699.000000,25247.000000,29650.000000,29051.000000,14941.000000,14941.000000,14941.000000,14941.000000,14941.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,31851.000000,24424.000000,45362.000000,45017.000000,29630.000000,30215.000000,30215.000000,30215.000000,30215.000000,30757.000000,30215.000000,31922.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000
mean,3.242262,3.032501,3.240164,7.661971e+03,1.463266e+08,2.530081e+09,10.641131,-4.740028,9.733934,21.700668,0.762667,4.885930,10.537166,10.218443,-6.642865,14.089390,4.182635,7.489451,7.075761,6.296242,157.790795,241.082014,15.604047,2.107942,2.225090,8.929042,2.970892,10.129631,12.485635,4.196479,7.785326,5.376978,6.556816,17.648219,11.923077,4.160160,11.215319,4.810053,7.415379,52.045951,42.671312,0.663249,4.619530,7.730240,13.761152,20.874330,7.891586,9.831399,11.143112,4.739644,4.588756,8.851832,12.628070,16.581993,33.651171,26.992762,25.391663,10.295095,3.669295,18.050309,9.373549,14.020070,26.824065,14.356089,11.224921,2.191751,3.958921,132.784591,246.514576,1.161708,0.860051,3.018731,53.160458,54.212487,53.850744,52.421077,5.144004,48.004628,49.872001,3.775722,1.111676,9.682177,0.632384,0.489367,0.047422,0.976092,1.018608,0.072934,0.363763,0.102977,3.063404,0.745578
std,1.061181,1.071964,1.063487,2.000447e+05,1.461131e+09,1.523205e+10,60.599371,6.921632,10.601492,13.463801,9.119363,10.744813,15.143058,9.876409,9.807554,9.747106,4.272880,4.522513,3.861612,4.971198,56.621528,81.044298,5.010647,1.147002,36.754613,16.311297,1.437980,4.023342,29.210361,31.354503,23.586141,8.229146,3.587008,6.864015,5.348247,1.900641,3.277273,2.866547,4.487937,45.321068,271.499244,266.958830,15.531491,49.733064,12.236203,18.602664,16.679510,10.559707,12.721835,7.959192,6.242571,15.108815,11.124826,16.241676,101.210920,96.005290,89.502810,56.992571,27.597800,16.056235,10.154036,9.013538,12.922587,10.070419,10.096200,2.808746,7.249961,385.090650,543.771459,0.655354,0.498645,1.042623,5.141914,4.322378,4.389825,4.389036,2.194606,4.171512,27.148133,4.638229,2.117683,10.734834,1.333692,1.024051,0.324684,1.730360,2.059553,0.370874,0.993295,0.407630,3.531592,1.478576
min,1.000000,1.000000,1.000000,1.900000e-01,0.000000e+00,2.000000e+04,-81.500000,-81.780000,-30.780000,-42.390000,-87.710000,-51.740000,-65.850000,-42.980000,-45.980000,-19.000000,-78.130000,-58.740000,0.020000,-53.050000,-111.580000,-283.730000,1.730000,0.110000,0.020000,0.150000,0.000000,0.080000,-88.900000,-91.510000,-95.750000,-96.840000,-58.740000,-57.860000,-51.280000,0.040000,1.000000,-3.960000,0.000000,-88.160000,-80.430000,-11373.330000,-104.370000,-4663.940000,-98.120000,-37.540000,-15.510000,-56.560000,-55.920000,-36.390000,-32.990000,-47.280000,-143.990000,-461.490000,-1440.640000,-2967.640000,-3398.740000,-2078.820000,-157.950000,-3.810000,-8.420000,0.220000,0.020000,-8.350000,-2.000000,-3.670000,-19.200000,1.000000,1.000000,-0.030570,0.000000,1.000000,36.380000,0.000000,0.000000,0.000000,0.010000,31.060000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,3.000000,1.135000e+01,7.100000e+05,1.034100e+08,4.870000,-9.200000,2.730000,14.690000,-4.230000,-0.430000,-0.290000,5.360000,-12.750000,7.940000,1.560000,4.540000,4.785000,3.500000,123.730000,212.540000,12.570000,1.420000,0.990000,5.370000,2.050000,8.090000,5.780000,2.030000,2.270000,3.760000,5.290000,14.240000,9.770000,2.760000,10.000000,2.900000,4.165000,0.000000,0.000000,1.090000,0.000000,3.660000,9.190000,13.500000,2.070000,5.480000,5.930000,1.680000,2.190000,3.330000,7.430000,9.410000,23.900000,23.610000,16.640000,2.530000,0.250000,4.760000,3.180000,7.280000,17.150000,6.030000,3.310000,0.340000,0.450000,33.000000,31.000000,0.740000,0.500000,2.000000,49.700000,51.530000,50.870000,49.710000,3.650000,45.420000,28.000000,0.360000,0.000000,1.920000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.370000,0.000000
50%,3.000000,3.000000,3.000000,7.595000e+01,7.360000e+06,3.663300e+08,9.680000,-4.290000,8.430000,21.260000,1.280000,4.740000,7.655000,10.130000,-5.230000,13.530000,3.800000,7.250000,6.920000,6.130000,154.010000,259.610000,14.900000,1.840000,1.370000,7.380000,2.920000,9.370000,9.570000,4.600000,6.750000,5.650000,6.940000,18.220000,12.550000,4.000000,12.000000,4.770000,6.810000,63.230000,2.470000,3.190000,0.010000,6.060000,12.360000,17.840000,3.530000,8.270000,10.030000,2.970000,3.530000,5.470000,11.070000,15.050000,35.820000,30.160000,21.930000,6.990000,1.010000,14.100000,5.840000,12.960000,25.480000,14.040000,8.640000,1.220000,2.270000,50.000000,122.000000,1.057845,0.750000,3.000000,53.410000,54.660000,53.730000,52.530000,5.350000,47.850000,48.000000,2.390000,0.160000,6.130000,0.000000,0.000000,0.000000,0.100000,0.110000,0.000000,0.000000,0.000000,2.200000,0.000000
75%,4.000000,4.000000,4.000000,1.318050e+02,4.597000e+07,1.184770e+09,14.660000,-0.170000,15.210000,27.670000,5.750000,9.730000,22.520000,14.530000,0.430000,19.220000,6.510000,10.300000,9.207500,9.030000,190.880000,292.260000,17.580000,2.450000,1.980000,10.430000,3.770000,11.160000,14.585000,7.600000,11.480000,8.240000,8.230000,21.410000,14.560000,5.510000,14.000000,6.650000,9.830000,97.540000,88.240000,7.330000,2.400000,9.000000,16.150000,23.920000,6.880000,12.090000,13.800000,4.830000,5.400000,8.460000,15.720000,21.810000,46.480000,34.940000,29.570000,12.560000,3.060000,28.340000,11.620000,18.800000,34.290000,20.680000,16.395000,3.170000,5.200000,86.000000,277.000000,1.607015,1.242300,4.000000,56.610000,57.060000,56.580000,55.530000,6.810000,50.410000,73.000000,5.420000,1.310000,14.810000,0.690000,0.510000,0.000000,1.310000,1.290000,0.000000,0.300000,0.000000,4.400000,0.870000
max,5.000000,5.000000,5.000000,1.172074e+07,1.029288e+11,4.982347e+11,12007.000000,49.980000,72.630000,928.650000,50.500000,833.340000,86.310000,814.410000,27.070000,127.840000,38.320000,31.130000,17.970000,223.550000,380.610000,424.350000,63.460000,11.590000,2500.000000,561.800000,22.890000,68.310000,637.260000,926.430000,266.920000,160.950000,75.000000,66.630000,61.260000,20.000000,16.000000,24.330000,29.960000,206.010000,11490.930000,178.710000,103.730000,132.840000,639.920000,989.960000,104.570000,698.580000,715.400000,153.940000,100.000000,191.380000,458.740000,745.460000,6067.880000,1662.790000,2206.430000,882.040000,927.820000,88.920000,63.490000,47.290000,77.700000,55.840000,53.920000,19.610000,85.420000,10929.000000,12641.000000,9.032950,2.900000,5.000000,67.730000,66.060000,66.790000,66.760000,11.700000,61.980000,100.000000,57.450000,66.540000,98.050000,19.100000,13.280000,9.410000,32.040000,31.630000,10.870000,16.900000,7.230000,40.620000,17.360000

In [21]:
stats = df.describe(include='all')
stats

,ticker,isin,fund_name,morningstar_category,morningstar_rating,morningstar_analyst_rating,morningstar_risk_rating,morningstar_performance_rating,nav_per_share_currency,nav_per_share,class_size_currency,class_size,fund_size_currency,fund_size,fund_return_ytd,fund_return_2018,fund_return_2017,fund_return_2016,fund_return_2015,fund_return_2014,fund_return_2013,fund_return_2012,fund_return_2011,fund_return_2010,investment_strategy,trailing_return_3years,trailing_return_5years,trailing_return_10years,trailing_return_since_inception,dividend_frequency,fund_benchmark,morningstar_benchmark,equity_style,equity_style_score,equity_size,equity_size_score,price_prospective_earnings,price_book,price_sales,price_cash_flow,dividend_yield_factor,long_term_projected_earnings_growth,historical_earnings_growth,sales_growth,cash_flow_growth,book_value_growth,roa,roe,roic,bond_interest_rate_sensitivity,bond_credit_quality,average_coupon_rate,average_credit_quality,modified_duration,effective_maturity,asset_stock,asset_bond,asset_cash,asset_other,country_exposure,top5_regions,sector_basic_materials,sector_consumer_cyclical,sector_financial_services,sector_real_estate,sector_consumer_defensive,sector_healthcare,sector_utilities,sector_communication_services,sector_energy,sector_industrials,sector_technology,market_capitalization_giant,market_capitalization_large,market_capitalization_medium,market_capitalization_small,market_capitalization_micro,credit_quality_aaa,credit_quality_aa,credit_quality_a,credit_quality_bbb,credit_quality_bb,credit_quality_b,credit_quality_below_b,credit_quality_not_rated,holdings_number_stock,holdings_number_bonds,top5_holdings,ongoing_cost,management_fees,sustainability_rank,esg_score,environmental_score,social_score,governance_score,controversy_score,sustainability_score,sustainability_percentage_rank,involvement_abortive_contraceptive,involvement_alcohol,involvement_animal_testing,involvement_controversial_weapons,involvement_gambling,involvement_gmo,involvement_military_contracting,involvement_nuclear,involvement_palm_oil,involvement_pesticides,involvement_small_arms,involvement_thermal_coal,involvement_tobacco
count,49399,49399,49399,49399,29076.000000,6899,29076.000000,29076.000000,49399,4.939900e+04,49399,4.939900e+04,49399,4.939900e+04,49389.000000,41580.000000,37970.000000,34463.000000,30890.000000,26811.000000,22940.000000,19551.000000,17048.000000,14512.000000,48420,37183.000000,29815.000000,92.000000,46709.000000,22567,40471,36236,32399,32399.000000,32399,32399.000000,32147.000000,32226.000000,32387.000000,32161.000000,32399.000000,31654.000000,32075.000000,32204.000000,31608.000000,32045.000000,32403.000000,32158.000000,29960.000000,10669,10669,24607.000000,12168.000000,7152.000000,8714.000000,49399.000000,49399.000000,49399.000000,49399.000000,47293,48590,27960.000000,30143.000000,29141.000000,23608.000000,27968.000000,27644.000000,21893.000000,23699.000000,25247.000000,29650.000000,29051.000000,14941.000000,14941.000000,14941.000000,14941.000000,14941.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,3587.000000,31851.000000,24424.000000,49365,45362.000000,45017.000000,29630.000000,30215.000000,30215.000000,30215.000000,30215.000000,30757.000000,30215.000000,31922.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000,45068.000000
unique,49399,46661,45932,261,NaN,6,NaN,NaN,23,NaN,22,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6853,NaN,NaN,NaN,NaN,6,1774,182,3,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6811,6977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,0P00000AWF,LU0518436570,Macquarie Valueinvest LUX Global B,Other Bond,NaN,Bronze,NaN,NaN,EUR,NaN,USD,NaN,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The sub-fund invests for total return primaril...,NaN,NaN,NaN,NaN,Annually,Not Benchmarked,MSCI ACWI NR USD,Blend,NaN,Large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA: 100,United States: 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"US 5 Year Note (CBT) Sept19: 9.73, HSBC US Dol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,8,8,3418,NaN,2778,NaN,NaN,14497,NaN,17835,NaN,24896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,NaN,NaN,NaN,NaN,14362,4024,2251,13016,NaN,25540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3693,5660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,3.242262,NaN,3.032501,3.240164,NaN,7.661971e+03,NaN,1.463266e+08,NaN,2.530081e+09,10.641131,-4.740028,9.733934,21.700668,0.762667,4.885930,10.537166,10.218443,-6.642865,14.089390,NaN,4.182635,7.489451,7.075761,6.296242,NaN,NaN,NaN,NaN,157.790795,NaN,241.082014,15.604047,2.107942,2.225090,8.929042,2.970892,10.129631,12.485635,4.196479,7.785326,5.376978,6.556816,17.648219,11.923077,NaN,NaN,4.160160,11.215319,4.810053,7.415379,52.045951,42.671312,0.663249,4.619530,NaN,NaN,7.730240,13.761152,20.874330,7.891586,9.831399,11.143112,4.739644,4.588756,8.851832,12.628070,16.581993,33.651171,26.992762,25.391663,10.295095,3.669295,18.050309,9.373549,14.020070,26.824065,14.356089,11.224921,2.191751,3.958921,132.784591,246.514576,NaN,1.161708,0.860051,3.018731,53.160458,54.212487,53.850744,52.421077,5.144004,48.004628,49.872001,3.775722,1.111676,9.682177,0.632384,0.489367,0.047422,0.976092,1.018608,0.072934,0.363763,0.102977,3.063404,0.745578
std,NaN,NaN,NaN,NaN,1.061181,NaN,1.071964,1.063487,NaN,2.000447e+05,NaN,1.461131e+09,NaN,1.523205e+10,60.599371,6.921632,10.601492,13.463801,9.119363,10.744813,15.143058,9.876409,9.807554,9.747106,NaN,4.272880,4.522513,3.861612,4.971198,NaN,NaN,NaN,NaN,56.621528,NaN,81.044298,5.010647,1.147002,36.754613,16.311297,1.437980,4.023342,29.210361,31.354503,23.586141,8.229146,3.587008,6.864015,5.348247,NaN,NaN,1.900641,3.277273,2.866547,4.487937,45.321068,271.499244,266.958830,15.531491,NaN,NaN,49.733064,12.236203,18.602664,16.679510,10.559707,12.721835,7.959192,6.242571,15.108815,11.124826,16.241676,101.210920,96.005290,89.502810,56.992571,27.597800,16.056235,10.154036,9.013538,12.922587,10.070419,10.096200,2.808746,7.249961,385.090650,543.771459,NaN,0.655354,0.498645,1.042623,5.141914,4.322378,4.389825,4.389036,2.194606,4.171512,27.148133,4.638229,2.117683,10.734834,1.333692,1.024051,0.324684,1.730360,2.059553,0.370874,0.993295,0.407630,3.531592,1.478576
min,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,1.000000,NaN,1.900000e-01,NaN,0.000000e+00,NaN,2.000000e+04,-81.500000,-81.780000,-30.780000,-42.390000,-87.710000,-51.740000,-65.850000,-42.980000,-45.980000,-19.000000,NaN,-78.130000,-58.740000,0.020000,-53.050000,NaN,NaN,NaN,NaN,-111.580000,NaN,-283.730000,1.730000,0.110000,0.020000,0.150000,0.000000,0.080000,-88.900000,-91.510000,-95.750000,-96.840000,-58.740000,-57.860000,-51.280000,NaN,NaN,0.040000,1.000000,-3.960000,0.000000,-88.160000,-80.430000,-11373.330000,-104.370000,NaN,NaN,-4663.940000,-98.120000,-37.540000,-15.510000,-56.560000,-55.920000,-36.390000,-32.990000,-47.280000,-143.990000,-461.490000,-1440.640000,-2967.640000,-3398.740000,-2078.820000,-157.950000,-3.810000,-8.420000,0.220000,0.020000,-8.350000,-2.000000,-3.670000,-19.200000,1.000000,1.000000,NaN,-0.030570,0.000000,1.000000,36.380000,0.000000,0.000000,0.000000,0.010000,31.060000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,3.000000,NaN,2.000000,3.000000,NaN,1.135000e+01,NaN,7.100000e+05,NaN,1.034100e+08,4.870000,-9.200000,2.730000,14.690000,-4.230000,-0.430000,-0.290000,5.360000,-12.750000,7.940000,NaN,1.560000,4.540000,4.785000,3.500000,NaN,NaN,NaN,NaN,123.730000,NaN,212.540000,12.570000,1.420000,0.990000,5.370000,2.050000,8.090000,5.780000,2.030000,2.270000,3.760000,5.290000,14.240000,9.770000,NaN,NaN,2.760000,10.000000,2.900000,4.165000,0.000000,0.000000,1.090000,0.000000,NaN,NaN,3.660000,9.190000,13.500000,2.070000,5.480000,5.930000,1.680000,2.190000,3.330000,7.430000,9.410000,23.900000,23.610000,16.640000,2.530000,0.250000,4.760000,3.180000,7.280000,17.150000,6.030000,3.310000,0.340000,0.450000,33.000000,31.000000,NaN,0.740000,0.500000,2.000000,49.700000,51.530000,50.870000,49.710000,3.650000,45.420000,28.000000,0.360000,0.000000,1.920000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.370000,0.000000
50%,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,3.000000,NaN,7.595000e+01,NaN,7.360000e+06,NaN,3.663300e+08,9.680000,-4.290000,8.430000,21.260000,1.280000,4.740000,7.655000,10.130000,-5.230000,13.530000,NaN,3.800000,7.250000,6.920000,6.130000,NaN,NaN,NaN,NaN,154.010000,NaN,259.610000,14.900000,1.840000,1.370000,7.380000,2.920000,9.370000,9.570000,4.600000,6.750000,5.650000,6.940000,18.220000,12.550000,NaN,NaN,4.000000,12.000000,4.770000,6.810000,63.230000,2.470000,3.190000,0.010000,NaN,NaN,6.060000,12.360000,17.840000,3.530000,8.270000,10.030000,2.970000,3.530000,5.470000,11.070000,15.050000,35.820000,30.160000,21.930000,6.990000,1.010000,14.100000,5.840000,12.960000,25.480000,14.040000,8.640000,1.220000,2.270000,50.000000,122.000000,NaN,1.057845,0.750000,3.000000,53.410000,54.660000,53.730000,52.530000,5.350000,47.850000,48.000000,2.390000,0.160000,6.130000,0.000000,0.000000,0.000000,0.100000,0.110000,0.000000,0.000000,0.000000,2.200000,0.000000
75%,NaN,NaN,NaN,NaN,4.000000,NaN,4.000000,4.000000,NaN,1.318050e+02,NaN,4.597000e+07,NaN,1.184770e+09,14.660000,-0.170000,15.210000,27.670000,5.750000,9.730000,22.520000,14.530000,0.430000,19.220000,NaN,6.510000,10.300000,9.207500,9.030000,NaN,NaN,NaN,NaN,190.880000,NaN,292.260000,17.580000,2.450000,1.980000,10.430000,3.770000,11.160000,14.585000,7.600000,11.480000,8.240000,8.230000,21.410000,14.560000,NaN,NaN,5.510000,14.000000,6.650000,9.830000,97.540000,88.240000,7.330000,2.400000,NaN,NaN,9.000000,16.150000,23.920000,6.880000,12.090000,13.800000,4.830000,5.400000,8.460000,15.720000,21.810000,46.480000,34.940000,29.570000,12.560000,3.060000,28.340000,11.620000,18.800000,34.290000,20.680000,16.395000,3.170000,5.200000,86.000000,277.000000,NaN,1.607015,1.242300,4.000000,56.610000,57.060000,56.580000,55.530000,6.810000,50.410000,73.000000,5.420000,1.310000,14.810000,0.690000,0.510000,0.000000,1.310000,1.290000,0.000000,0.300000,0.000000,4.400000,0.870000
max,NaN,NaN,NaN,NaN,5.000000,NaN,5.000000,5.000000,NaN,1.172074e+07,NaN,1.029288e+11,NaN,4.982347e+11,12007.000000,49.980000,72.630000,928.650000,50.500000,833.340000,86.310000,814.410000,27.070000,127.840000,NaN,38.320000,31.130000,17.970000,223.550000,NaN,NaN,NaN,NaN,380.610000,NaN,424.350000,63.460000,11.590000,2500.000000,561.800000,22.890000,68.310000,637.260000,926.430000,266.920000,160.950000,75.000000,66.630000,61.260000,NaN,NaN,20.000000,16.000000,24.330000,29.960000,206.010000,11490.930000,178.710000,103.730000,NaN,NaN,132.840000,639.920000,989.960000,104.570000,698.580000,715.400000,153.940000,100.000000,191.380000,458.740000,745.460000,6067.880000,1662.790000,2206.430000,882.040000,927.820000,88.920000,63.490000,47.290000,77.700000,55.840000,53.920000,19.610000,85.420000,10929.000000,12641.000000,NaN,9.032950,2.900000,5.000000,67.730000,66.060000,66.790000,66.760000,11.700000,61.980000,100.000000,57.450000,66.540000,98.050000,19.100000,13.280000,9.410000,32.040000,31.630000,10.870000,16.900000,7.230000,40.620000,17.360000

In [22]:
stats['morningstar_category']

count          49399
unique           261
top       Other Bond
freq            3418
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN
Name: morningstar_category, dtype: object

In [23]:
stats['fund_return_2018']

count     41580.000000
unique             NaN
top                NaN
freq               NaN
mean         -4.740028
std           6.921632
min         -81.780000
25%          -9.200000
50%          -4.290000
75%          -0.170000
max          49.980000
Name: fund_return_2018, dtype: float64

In [24]:
data = df.loc[:, ['ticker', 'fund_name', 'morningstar_category', 'fund_return_2018']]
data = data.set_index('ticker')
data

,fund_name,morningstar_category,fund_return_2018
ticker,,,
0P00000AWF,BlackRock Global Funds - European Value Fund A2,Europe Large-Cap Value Equity,-18.13
0P00000AYI,BlackRock Global Funds - Continental European ...,Europe ex-UK Large-Cap Equity,-14.11
0P00000BOW,Morgan Stanley Investment Funds - Global Bond ...,Global Bond,3.26
0P00000ESH,Threadneedle (Lux) - American Select Class AU ...,US Large-Cap Growth Equity,-1.60
0P00000ESL,HSBC Global Investment Funds - Economic Scale ...,Japan Large-Cap Equity,-6.79
...,...,...,...
FOUSA088S1,Man GLG RI European Equity Leaders Class I EUR,Other Equity,-13.56
FOUSA08ML5,FMG Rising 3 Ltd A GBP,Alt - Other,-18.80
FOUSA0905L,FMG Iraq Fund A 09 USD,Other Equity,11.58
FOUSA09F2D,Overstone Emerging Markets Fund Class A USD,Global Emerging Markets Equity,0.37
FOUSA09F2G,Overstone Emerging Markets Fund Class I USD,Global Emerging Markets Equity,0.73

In [25]:
data.describe(include='all')

,fund_name,morningstar_category,fund_return_2018
count,49399,49399,41580.000000
unique,45932,261,NaN
top,Macquarie Valueinvest LUX Global B,Other Bond,NaN
freq,8,3418,NaN
mean,NaN,NaN,-4.740028
std,NaN,NaN,6.921632
min,NaN,NaN,-81.780000
25%,NaN,NaN,-9.200000
50%,NaN,NaN,-4.290000
75%,NaN,NaN,-0.170000
max,NaN,NaN,49.980000

In [26]:
data['morningstar_category'].nunique()

261

In [28]:
categories = data['morningstar_category'].unique()
categories

array(['Europe Large-Cap Value Equity', 'Europe ex-UK Large-Cap Equity',
       'Global Bond', 'US Large-Cap Growth Equity',
       'Japan Large-Cap Equity', 'Global Large-Cap Growth Equity',
       'Sector Equity Consumer Goods & Services', 'China Equity',
       'Alt - Long/Short Equity - Europe',
       'Global Emerging Markets Equity', 'EUR Flexible Bond',
       'USD Moderate Allocation', 'Asia-Pacific ex-Japan Equity Income',
       'Sector Equity Healthcare', 'Nordic Equity',
       'Asia ex-Japan Equity', 'Denmark Equity', 'EUR Diversified Bond',
       'Europe Small-Cap Equity', 'Europe Equity Income',
       'EUR Corporate Bond', 'Global Large-Cap Blend Equity',
       'Europe Large-Cap Blend Equity', 'Global Emerging Markets Bond',
       'Europe Bond', 'Latin America Equity',
       'Emerging Europe ex-Russia Equity', 'USD High Yield Bond',
       'Europe Large-Cap Growth Equity', 'Emerging Europe Equity',
       'Property - Indirect Asia', 'Other Equity', 'EUR High Yield Bond',
       'Eurozone Large-Cap Equity', 'Property - Indirect Europe',
       'Convertible Bond - Global, USD Hedged',
       'EUR Diversified Bond - Short Term',
       'Property - Indirect North America', 'Global Flexible Bond',
       'India Equity', 'Asia-Pacific inc. Japan Equity',
       'USD Diversified Bond - Short Term', 'Alt - Long/Short Credit',
       'Global Emerging Markets Corporate Bond',
       'USD Flexible Allocation', 'USD Flexible Bond',
       'Global High Yield Bond', 'Global Bond - USD Hedged',
       'Property - Indirect Global', 'Brazil Equity',
       'Asia ex-Japan Small/Mid-Cap Equity', 'BRIC Equity',
       'USD Diversified Bond', 'UK Large-Cap Equity', 'Hong Kong Equity',
       'US Large-Cap Blend Equity', 'Turkey Equity', 'Thailand Equity',
       'Global Equity Income', 'Europe ex-UK Small/Mid-Cap Equity',
       'Global Bond - EUR Biased', 'Global Flex-Cap Equity',
       'Global Emerging Markets Small/Mid-Cap Equity',
       'Islamic Global Equity', 'Other Bond',
       'Global Emerging Markets Bond - Local Currency',
       'US Large-Cap Value Equity', 'EUR Flexible Allocation - Global',
       'Taiwan Large-Cap Equity', 'US Mid-Cap Equity',
       'Asia-Pacific ex-Japan Equity',
       'Global Inflation-Linked Bond - EUR Hedged',
       'Sector Equity Ecology', 'Sector Equity Financial Services',
       'GBP Corporate Bond', 'GBP Moderately Cautious Allocation',
       'Global Emerging Markets Bond - EUR Biased', 'Alt - Multistrategy',
       'Eurozone Mid-Cap Equity', 'Greater China Equity', 'ASEAN Equity',
       'Russia Equity', 'Japan Flex-Cap Equity',
       'Sector Equity Technology', 'Global Flexible Bond - USD Hedged',
       'Sector Equity Infrastructure', 'USD Cautious Allocation',
       'USD Aggressive Allocation', 'Sector Equity Energy',
       'Sector Equity Natural Resources', 'Alt - Long/Short Equity - US',
       'Commodities - Broad Basket', 'Global Emerging Markets Allocation',
       'Europe Mid-Cap Equity', 'GBP Moderate Allocation',
       'Global Frontier Markets Equity', 'Africa & Middle East Equity',
       'Africa Equity', 'Japan Small/Mid-Cap Equity',
       'EUR Government Bond', 'RMB Bond',
       'Global Inflation-Linked Bond - USD Hedged',
       'EUR Inflation-Linked Bond', 'Global Small-Cap Equity',
       'Sector Equity Alternative Energy', 'Sector Equity Agriculture',
       'Sector Equity Precious Metals', 'Asia Bond - Local Currency',
       'Global Corporate Bond',
       'Global Emerging Markets Corporate Bond - EUR Biased',
       'Global Flexible Bond - EUR Hedged', 'Global Bond - GBP Hedged',
       'Global High Yield Bond - EUR Hedged', 'Germany Large-Cap Equity',
       'Korea Equity', 'Convertible Bond - Global',
       'Sector Equity Biotechnology', 'Indonesia Equity',
       'US Small-Cap Equity', 'Sector Equity Communications',
       'Convertible Bond - Europe', 'Global Corporate Bond - USD Hedged',
       'Global Inflation-Linked Bond - GBP Hedged', 'Alt - Global Macro',
       'EUR Moderate Allocation - Global', 'Other Allocation',
       'EUR Cautious Allocation - Global',
       'EUR Aggressive Allocation - Global',
       'GBP Moderately Adventurous Allocation',
       'Global Corporate Bond - GBP Hedged',
       'Global Corporate Bond - EUR Hedged',
       'Global High Yield Bond - GBP Hedged', 'Global Bond - EUR Hedged',
       'Convertible Bond - Global, EUR Hedged', 'Sector Equity Water',
       'Pacific ex-Japan Equity', 'USD Corporate Bond', 'Asia Bond',
       'Fixed Term Bond', 'Global Flexible Bond - GBP Hedged',
       'RMB Bond - Onshore', 'Global Bond - CHF Hedged',
       'Global Corporate Bond - CHF Hedged',
       'Global High Yield Bond - CHF Hedged', 'CHF Aggressive Allocation',
       'Property - Indirect Other', 'China Equity - A Shares',
       'Europe Flex-Cap Equity', 'GBP Cautious Allocation',
       'GBP Money Market', 'Global Large-Cap Value Equity',
       'USD Government Bond', 'GBP Diversified Bond',
       'US Flex-Cap Equity', 'UK Mid-Cap Equity',
       'GBP Flexible Allocation', 'Alt - Volatility',
       'UK Flex-Cap Equity', 'DKK Domestic Bond', 'UK Small-Cap Equity',
       'Nordic Small/Mid-Cap Equity', 'EUR Money Market',
       'UK Equity Income', 'Eurozone Flex-Cap Equity',
       'Money Market - Other', 'Asia High Yield Bond',
       'GBP Adventurous Allocation', 'GBP Money Market - Short Term',
       'USD Money Market - Short Term', 'Eurozone Small-Cap Equity',
       'GBP Government Bond', 'Italy Equity', 'Property - Direct UK',
       'Commodities - Broad Agriculture',
       'Convertible Bond - Global, GBP Hedged',
       'USD Inflation-Linked Bond', 'GBP High Yield Bond', 'HKD Bond',
       'Alt - Currency', 'Asia Allocation', 'EUR Cautious Allocation',
       'France Small/Mid-Cap Equity', 'JPY Bond', 'Singapore Equity',
       'EUR Money Market - Short Term', 'Other', 'Spain Equity',
       'USD Money Market', 'EUR Moderate Allocation',
       'Australia & New Zealand Equity', 'Switzerland Large-Cap Equity',
       'Sector Equity Industrial Materials',
       'Alt - Market Neutral - Equity', 'EUR Bond - Long Term',
       'Alt - Long/Short Equity - UK', 'Convertible Bond - Other',
       'Convertible Bond - Global, CHF Hedged',
       'Alt - Relative Value Arbitrage', 'EUR Subordinated Bond',
       'Global Inflation-Linked Bond', 'Alt - Long/Short Equity - Global',
       'CHF Moderate Allocation', 'Switzerland Small/Mid-Cap Equity',
       'Property - Direct Europe', 'Global Bond - GBP Biased',
       'GBP Flexible Bond', 'GBP Inflation-Linked Bond',
       'Property - Direct Other', 'Germany Small/Mid-Cap Equity',
       'Global Bond - NOK Hedged', 'Emerging Europe Bond',
       'Capital Protected', 'EUR Government Bond - Short Term',
       'CHF Money Market', 'Alt - Systematic Futures',
       'EUR Ultra Short-Term Bond', 'Property - Direct Global',
       'Global Flexible Bond - CHF Hedged', 'Alt - Event Driven',
       'GBP Diversified Bond - Short Term', 'Greater China Allocation',
       'Canada Equity', 'DKK Bond', 'NOK Moderate Allocation',
       'EUR Flexible Allocation', 'NOK Bond',
       'Sector Equity Private Equity', 'Global Bond - ILS',
       'Alt - Long/Short Equity - Other',
       'EUR Corporate Bond - Short Term', 'Islamic Equity - Other',
       'NOK Bond - Short Term', 'NOK High Yield Bond', 'Norway Equity',
       'CHF Bond', 'CHF Cautious Allocation',
       'Islamic Allocation - Other', 'Islamic Global Bond',
       'RMB High Yield Bond', 'SEK Flexible Allocation', 'Alt - Other',
       'Property - Indirect Eurozone', 'EUR Aggressive Allocation',
       'SEK Cautious Allocation', 'SEK Bond', 'SEK Corporate Bond',
       'France Large-Cap Equity', 'Target Date 2046+',
       'Target Date 2041 - 2045', 'CHF Bond - Short Term',
       'Target Date 2016 - 2020', 'Target Date 2021 - 2025',
       'Target Date 2026 - 2030', 'Target Date 2031 - 2035',
       'Target Date 2036 - 2040', 'NOK Cautious Allocation',
       'Global Bond - CHF Biased', 'Target Date 2011 - 2015',
       'Vietnam Equity', 'Sweden Equity', 'Guaranteed Funds'],
      dtype=object)

In [29]:
sorted_categories = sorted(categories)
for category in sorted_categories:
    print(category)

ASEAN Equity
Africa & Middle East Equity
Africa Equity
Alt - Currency
Alt - Event Driven
Alt - Global Macro
Alt - Long/Short Credit
Alt - Long/Short Equity - Europe
Alt - Long/Short Equity - Global
Alt - Long/Short Equity - Other
Alt - Long/Short Equity - UK
Alt - Long/Short Equity - US
Alt - Market Neutral - Equity
Alt - Multistrategy
Alt - Other
Alt - Relative Value Arbitrage
Alt - Systematic Futures
Alt - Volatility
Asia Allocation
Asia Bond
Asia Bond - Local Currency
Asia High Yield Bond
Asia ex-Japan Equity
Asia ex-Japan Small/Mid-Cap Equity
Asia-Pacific ex-Japan Equity
Asia-Pacific ex-Japan Equity Income
Asia-Pacific inc. Japan Equity
Australia & New Zealand Equity
BRIC Equity
Brazil Equity
CHF Aggressive Allocation
CHF Bond
CHF Bond - Short Term
CHF Cautious Allocation
CHF Moderate Allocation
CHF Money Market
Canada Equity
Capital Protected
China Equity
China Equity - A Shares
Commodities - Broad Agriculture
Commodities - Broad Basket
Convertible Bond - Europe
Convertible Bond - Global
Convertible Bond - Global, CHF Hedged
Convertible Bond - Global, EUR Hedged
Convertible Bond - Global, GBP Hedged
Convertible Bond - Global, USD Hedged
Convertible Bond - Other
DKK Bond
DKK Domestic Bond
Denmark Equity
EUR Aggressive Allocation
EUR Aggressive Allocation - Global
EUR Bond - Long Term
EUR Cautious Allocation
EUR Cautious Allocation - Global
EUR Corporate Bond
EUR Corporate Bond - Short Term
EUR Diversified Bond
EUR Diversified Bond - Short Term
EUR Flexible Allocation
EUR Flexible Allocation - Global
EUR Flexible Bond
EUR Government Bond
EUR Government Bond - Short Term
EUR High Yield Bond
EUR Inflation-Linked Bond
EUR Moderate Allocation
EUR Moderate Allocation - Global
EUR Money Market
EUR Money Market - Short Term
EUR Subordinated Bond
EUR Ultra Short-Term Bond
Emerging Europe Bond
Emerging Europe Equity
Emerging Europe ex-Russia Equity
Europe Bond
Europe Equity Income
Europe Flex-Cap Equity
Europe Large-Cap Blend Equity
Europe Large-Cap Growth Equity
Europe Large-Cap Value Equity
Europe Mid-Cap Equity
Europe Small-Cap Equity
Europe ex-UK Large-Cap Equity
Europe ex-UK Small/Mid-Cap Equity
Eurozone Flex-Cap Equity
Eurozone Large-Cap Equity
Eurozone Mid-Cap Equity
Eurozone Small-Cap Equity
Fixed Term Bond
France Large-Cap Equity
France Small/Mid-Cap Equity
GBP Adventurous Allocation
GBP Cautious Allocation
GBP Corporate Bond
GBP Diversified Bond
GBP Diversified Bond - Short Term
GBP Flexible Allocation
GBP Flexible Bond
GBP Government Bond
GBP High Yield Bond
GBP Inflation-Linked Bond
GBP Moderate Allocation
GBP Moderately Adventurous Allocation
GBP Moderately Cautious Allocation
GBP Money Market
GBP Money Market - Short Term
Germany Large-Cap Equity
Germany Small/Mid-Cap Equity
Global Bond
Global Bond - CHF Biased
Global Bond - CHF Hedged
Global Bond - EUR Biased
Global Bond - EUR Hedged
Global Bond - GBP Biased
Global Bond - GBP Hedged
Global Bond - ILS
Global Bond - NOK Hedged
Global Bond - USD Hedged
Global Corporate Bond
Global Corporate Bond - CHF Hedged
Global Corporate Bond - EUR Hedged
Global Corporate Bond - GBP Hedged
Global Corporate Bond - USD Hedged
Global Emerging Markets Allocation
Global Emerging Markets Bond
Global Emerging Markets Bond - EUR Biased
Global Emerging Markets Bond - Local Currency
Global Emerging Markets Corporate Bond
Global Emerging Markets Corporate Bond - EUR Biased
Global Emerging Markets Equity
Global Emerging Markets Small/Mid-Cap Equity
Global Equity Income
Global Flex-Cap Equity
Global Flexible Bond
Global Flexible Bond - CHF Hedged
Global Flexible Bond - EUR Hedged
Global Flexible Bond - GBP Hedged
Global Flexible Bond - USD Hedged
Global Frontier Markets Equity
Global High Yield Bond
Global High Yield Bond - CHF Hedged
Global High Yield Bond - EUR Hedged
Global High Yield Bond - GBP Hedged
Global Inflation-Linked Bond
Global Inflation-Linked Bond - EUR Hedged
Global Inflation-Linked Bond - GBP Hedged
Global Inflation-Linked Bond - USD Hedged
Global Large-Cap Blend Equity
Global Large-Cap Growth Equity
Global Large-Cap Value Equity
Global Small-Cap Equity
Greater China Allocation
Greater China Equity
Guaranteed Funds
HKD Bond
Hong Kong Equity
India Equity
Indonesia Equity
Islamic Allocation - Other
Islamic Equity - Other
Islamic Global Bond
Islamic Global Equity
Italy Equity
JPY Bond
Japan Flex-Cap Equity
Japan Large-Cap Equity
Japan Small/Mid-Cap Equity
Korea Equity
Latin America Equity
Money Market - Other
NOK Bond
NOK Bond - Short Term
NOK Cautious Allocation
NOK High Yield Bond
NOK Moderate Allocation
Nordic Equity
Nordic Small/Mid-Cap Equity
Norway Equity
Other
Other Allocation
Other Bond
Other Equity
Pacific ex-Japan Equity
Property - Direct Europe
Property - Direct Global
Property - Direct Other
Property - Direct UK
Property - Indirect Asia
Property - Indirect Europe
Property - Indirect Eurozone
Property - Indirect Global
Property - Indirect North America
Property - Indirect Other
RMB Bond
RMB Bond - Onshore
RMB High Yield Bond
Russia Equity
SEK Bond
SEK Cautious Allocation
SEK Corporate Bond
SEK Flexible Allocation
Sector Equity Agriculture
Sector Equity Alternative Energy
Sector Equity Biotechnology
Sector Equity Communications
Sector Equity Consumer Goods & Services
Sector Equity Ecology
Sector Equity Energy
Sector Equity Financial Services
Sector Equity Healthcare
Sector Equity Industrial Materials
Sector Equity Infrastructure
Sector Equity Natural Resources
Sector Equity Precious Metals
Sector Equity Private Equity
Sector Equity Technology
Sector Equity Water
Singapore Equity
Spain Equity
Sweden Equity
Switzerland Large-Cap Equity
Switzerland Small/Mid-Cap Equity
Taiwan Large-Cap Equity
Target Date 2011 - 2015
Target Date 2016 - 2020
Target Date 2021 - 2025
Target Date 2026 - 2030
Target Date 2031 - 2035
Target Date 2036 - 2040
Target Date 2041 - 2045
Target Date 2046+
Thailand Equity
Turkey Equity
UK Equity Income
UK Flex-Cap Equity
UK Large-Cap Equity
UK Mid-Cap Equity
UK Small-Cap Equity
US Flex-Cap Equity
US Large-Cap Blend Equity
US Large-Cap Growth Equity
US Large-Cap Value Equity
US Mid-Cap Equity
US Small-Cap Equity
USD Aggressive Allocation
USD Cautious Allocation
USD Corporate Bond
USD Diversified Bond
USD Diversified Bond - Short Term
USD Flexible Allocation
USD Flexible Bond
USD Government Bond
USD High Yield Bond
USD Inflation-Linked Bond
USD Moderate Allocation
USD Money Market
USD Money Market - Short Term
Vietnam Equity

In [31]:
cat_freq = data['morningstar_category'].value_counts()
cat_freq

morningstar_category
Other Bond                        3418
Other Equity                      3209
Global Large-Cap Blend Equity     2054
Global Emerging Markets Equity    1822
GBP Moderate Allocation           1085
                                  ...
Global Bond - GBP Biased             1
Global Bond - ILS                    1
Target Date 2011 - 2015              1
NOK Moderate Allocation              1
Guaranteed Funds                     1
Name: count, Length: 261, dtype: int64

In [32]:
type(cat_freq)

pandas.core.series.Series

In [33]:
cat_freq.index

Index(['Other Bond', 'Other Equity', 'Global Large-Cap Blend Equity',
       'Global Emerging Markets Equity', 'GBP Moderate Allocation',
       'Alt - Multistrategy', 'Global Emerging Markets Bond',
       'US Large-Cap Blend Equity', 'Japan Large-Cap Equity',
       'GBP Moderately Adventurous Allocation',
       ...
       'Global Bond - NOK Hedged', 'NOK Cautious Allocation', 'Vietnam Equity',
       'EUR Aggressive Allocation', 'RMB High Yield Bond',
       'Global Bond - GBP Biased', 'Global Bond - ILS',
       'Target Date 2011 - 2015', 'NOK Moderate Allocation',
       'Guaranteed Funds'],
      dtype='object', name='morningstar_category', length=261)

In [35]:
for cat, freq in cat_freq.items():
    print(f'{freq} \t {cat}')

3418 	 Other Bond
3209 	 Other Equity
2054 	 Global Large-Cap Blend Equity
1822 	 Global Emerging Markets Equity
1085 	 GBP Moderate Allocation
899 	 Alt - Multistrategy
874 	 Global Emerging Markets Bond
828 	 US Large-Cap Blend Equity
780 	 Japan Large-Cap Equity
756 	 GBP Moderately Adventurous Allocation
713 	 Alt - Long/Short Credit
702 	 Europe Large-Cap Blend Equity
696 	 Global Equity Income
632 	 Global Large-Cap Growth Equity
626 	 Global Emerging Markets Bond - Local Currency
616 	 UK Large-Cap Equity
553 	 Asia ex-Japan Equity
546 	 GBP Moderately Cautious Allocation
531 	 Europe ex-UK Large-Cap Equity
527 	 USD Moderate Allocation
509 	 US Large-Cap Growth Equity
490 	 Global Bond
464 	 Global High Yield Bond
456 	 UK Equity Income
444 	 EUR Corporate Bond
442 	 USD High Yield Bond
423 	 Global Flexible Bond - GBP Hedged
419 	 GBP Corporate Bond
415 	 GBP Adventurous Allocation
415 	 Other Allocation
413 	 Global Emerging Markets Bond - EUR Biased
400 	 Global Flexible Bond - EUR Hedged
390 	 EUR Moderate Allocation - Global
381 	 UK Flex-Cap Equity
381 	 China Equity
375 	 EUR High Yield Bond
342 	 Property - Indirect Global
342 	 Global Flexible Bond - USD Hedged
334 	 US Large-Cap Value Equity
332 	 Global Flexible Bond
331 	 Asia-Pacific ex-Japan Equity
324 	 Eurozone Large-Cap Equity
319 	 India Equity
303 	 Alt - Market Neutral - Equity
300 	 Global Bond - EUR Hedged
296 	 Global Flex-Cap Equity
293 	 GBP Flexible Allocation
288 	 USD Money Market - Short Term
285 	 Global Emerging Markets Corporate Bond
279 	 Sector Equity Technology
276 	 EUR Diversified Bond
275 	 Global High Yield Bond - EUR Hedged
263 	 Global Large-Cap Value Equity
260 	 Asia-Pacific ex-Japan Equity Income
258 	 Fixed Term Bond
257 	 Global Bond - USD Hedged
255 	 EUR Flexible Allocation - Global
251 	 Europe Large-Cap Growth Equity
248 	 USD Diversified Bond
232 	 Europe Small-Cap Equity
231 	 Global Corporate Bond - USD Hedged
226 	 Sector Equity Infrastructure
224 	 US Small-Cap Equity
209 	 Alt - Long/Short Equity - Europe
201 	 UK Small-Cap Equity
201 	 EUR Cautious Allocation - Global
200 	 Alt - Global Macro
191 	 US Flex-Cap Equity
191 	 Convertible Bond - Global, EUR Hedged
189 	 GBP Money Market - Short Term
188 	 Latin America Equity
188 	 Europe Equity Income
187 	 USD Aggressive Allocation
187 	 Global High Yield Bond - GBP Hedged
186 	 Commodities - Broad Basket
186 	 Global Bond - GBP Hedged
185 	 USD Cautious Allocation
179 	 Property - Direct UK
173 	 Global Small-Cap Equity
160 	 Sector Equity Consumer Goods & Services
158 	 Sector Equity Ecology
157 	 USD Flexible Allocation
156 	 Global Corporate Bond - EUR Hedged
153 	 Sector Equity Healthcare
149 	 EUR Money Market - Short Term
148 	 USD Diversified Bond - Short Term
145 	 Global Emerging Markets Corporate Bond - EUR Biased
143 	 Asia ex-Japan Small/Mid-Cap Equity
143 	 EUR Aggressive Allocation - Global
142 	 Asia Bond
140 	 USD Corporate Bond
139 	 GBP Government Bond
132 	 BRIC Equity
132 	 Global Inflation-Linked Bond - EUR Hedged
130 	 Global Inflation-Linked Bond - USD Hedged
129 	 US Mid-Cap Equity
129 	 Japan Small/Mid-Cap Equity
128 	 Sector Equity Natural Resources
128 	 Alt - Systematic Futures
126 	 Emerging Europe Equity
121 	 Alt - Volatility
120 	 EUR Government Bond
119 	 Europe Flex-Cap Equity
118 	 Russia Equity
118 	 Global Frontier Markets Equity
117 	 USD Flexible Bond
115 	 Global Emerging Markets Small/Mid-Cap Equity
115 	 GBP Cautious Allocation
114 	 Global Corporate Bond - GBP Hedged
114 	 Sector Equity Precious Metals
114 	 Alt - Long/Short Equity - Global
112 	 Money Market - Other
111 	 Asia Bond - Local Currency
105 	 EUR Flexible Bond
105 	 Brazil Equity
105 	 Europe ex-UK Small/Mid-Cap Equity
104 	 Property - Indirect Other
103 	 Alt - Long/Short Equity - UK
103 	 Europe Large-Cap Value Equity
103 	 Sector Equity Energy
102 	 Greater China Equity
100 	 Alt - Event Driven
99 	 Convertible Bond - Global, USD Hedged
97 	 Global Emerging Markets Allocation
96 	 Sector Equity Financial Services
95 	 GBP Diversified Bond
94 	 EUR Diversified Bond - Short Term
88 	 Asia-Pacific inc. Japan Equity
87 	 Pacific ex-Japan Equity
87 	 Alt - Long/Short Equity - US
87 	 Convertible Bond - Global
85 	 Japan Flex-Cap Equity
84 	 Global Corporate Bond
83 	 Global Bond - CHF Hedged
81 	 GBP Inflation-Linked Bond
79 	 Europe Mid-Cap Equity
78 	 USD Government Bond
78 	 Convertible Bond - Europe
77 	 Global Flexible Bond - CHF Hedged
76 	 Sector Equity Water
74 	 Convertible Bond - Global, CHF Hedged
73 	 UK Mid-Cap Equity
68 	 RMB Bond
68 	 CHF Moderate Allocation
66 	 Alt - Currency
66 	 Convertible Bond - Other
64 	 EUR Subordinated Bond
63 	 ASEAN Equity
63 	 Sector Equity Agriculture
62 	 Convertible Bond - Global, GBP Hedged
60 	 Islamic Global Equity
59 	 Property - Direct Global
59 	 Sector Equity Alternative Energy
58 	 Global High Yield Bond - CHF Hedged
55 	 GBP High Yield Bond
54 	 EUR Money Market
53 	 Africa & Middle East Equity
53 	 Property - Indirect Europe
53 	 Global Inflation-Linked Bond - GBP Hedged
52 	 Asia High Yield Bond
51 	 China Equity - A Shares
50 	 CHF Cautious Allocation
50 	 Hong Kong Equity
50 	 GBP Flexible Bond
46 	 EUR Corporate Bond - Short Term
46 	 Africa Equity
45 	 RMB Bond - Onshore
45 	 Property - Indirect Asia
44 	 Germany Large-Cap Equity
43 	 Alt - Long/Short Equity - Other
42 	 Switzerland Large-Cap Equity
42 	 Turkey Equity
40 	 Global Corporate Bond - CHF Hedged
40 	 Alt - Other
39 	 Eurozone Mid-Cap Equity
39 	 Sector Equity Biotechnology
37 	 EUR Ultra Short-Term Bond
36 	 Islamic Allocation - Other
36 	 EUR Inflation-Linked Bond
35 	 USD Money Market
33 	 GBP Money Market
32 	 Other
31 	 EUR Cautious Allocation
31 	 Asia Allocation
30 	 Switzerland Small/Mid-Cap Equity
29 	 EUR Moderate Allocation
29 	 Nordic Equity
28 	 CHF Bond
28 	 Thailand Equity
27 	 CHF Aggressive Allocation
27 	 Global Inflation-Linked Bond
27 	 Korea Equity
25 	 EUR Flexible Allocation
24 	 Islamic Global Bond
23 	 Property - Indirect North America
21 	 Alt - Relative Value Arbitrage
20 	 Taiwan Large-Cap Equity
19 	 Italy Equity
18 	 Commodities - Broad Agriculture
17 	 Eurozone Flex-Cap Equity
17 	 Sector Equity Industrial Materials
16 	 GBP Diversified Bond - Short Term
16 	 USD Inflation-Linked Bond
16 	 CHF Money Market
15 	 Emerging Europe ex-Russia Equity
15 	 DKK Domestic Bond
15 	 Australia & New Zealand Equity
15 	 Indonesia Equity
14 	 Europe Bond
14 	 EUR Bond - Long Term
13 	 Global Bond - EUR Biased
12 	 Canada Equity
12 	 Emerging Europe Bond
12 	 EUR Government Bond - Short Term
12 	 Norway Equity
12 	 NOK Bond - Short Term
11 	 France Large-Cap Equity
11 	 Sector Equity Communications
11 	 Germany Small/Mid-Cap Equity
11 	 Spain Equity
11 	 Property - Direct Europe
10 	 Sector Equity Private Equity
10 	 Islamic Equity - Other
9 	 NOK High Yield Bond
9 	 DKK Bond
9 	 SEK Bond
8 	 Capital Protected
8 	 Greater China Allocation
8 	 Sweden Equity
8 	 Nordic Small/Mid-Cap Equity
8 	 NOK Bond
8 	 Denmark Equity
7 	 CHF Bond - Short Term
7 	 Property - Direct Other
6 	 Property - Indirect Eurozone
6 	 Global Bond - CHF Biased
6 	 JPY Bond
6 	 HKD Bond
6 	 Target Date 2046+
6 	 Eurozone Small-Cap Equity
6 	 Target Date 2016 - 2020
6 	 SEK Cautious Allocation
5 	 Target Date 2041 - 2045
5 	 SEK Corporate Bond
5 	 Target Date 2036 - 2040
5 	 Target Date 2021 - 2025
5 	 Target Date 2026 - 2030
5 	 Target Date 2031 - 2035
5 	 France Small/Mid-Cap Equity
5 	 Singapore Equity
4 	 SEK Flexible Allocation
3 	 Global Bond - NOK Hedged
2 	 NOK Cautious Allocation
2 	 Vietnam Equity
1 	 EUR Aggressive Allocation
1 	 RMB High Yield Bond
1 	 Global Bond - GBP Biased
1 	 Global Bond - ILS
1 	 Target Date 2011 - 2015
1 	 NOK Moderate Allocation
1 	 Guaranteed Funds

In [36]:
cat_freq.sort_index()

morningstar_category
ASEAN Equity                      63
Africa & Middle East Equity       53
Africa Equity                     46
Alt - Currency                    66
Alt - Event Driven               100
                                ...
USD Inflation-Linked Bond         16
USD Moderate Allocation          527
USD Money Market                  35
USD Money Market - Short Term    288
Vietnam Equity                     2
Name: count, Length: 261, dtype: int64

In [37]:
for cat, freq in cat_freq.sort_index().items():
    print(f'{freq} \t {cat}')

63 	 ASEAN Equity
53 	 Africa & Middle East Equity
46 	 Africa Equity
66 	 Alt - Currency
100 	 Alt - Event Driven
200 	 Alt - Global Macro
713 	 Alt - Long/Short Credit
209 	 Alt - Long/Short Equity - Europe
114 	 Alt - Long/Short Equity - Global
43 	 Alt - Long/Short Equity - Other
103 	 Alt - Long/Short Equity - UK
87 	 Alt - Long/Short Equity - US
303 	 Alt - Market Neutral - Equity
899 	 Alt - Multistrategy
40 	 Alt - Other
21 	 Alt - Relative Value Arbitrage
128 	 Alt - Systematic Futures
121 	 Alt - Volatility
31 	 Asia Allocation
142 	 Asia Bond
111 	 Asia Bond - Local Currency
52 	 Asia High Yield Bond
553 	 Asia ex-Japan Equity
143 	 Asia ex-Japan Small/Mid-Cap Equity
331 	 Asia-Pacific ex-Japan Equity
260 	 Asia-Pacific ex-Japan Equity Income
88 	 Asia-Pacific inc. Japan Equity
15 	 Australia & New Zealand Equity
132 	 BRIC Equity
105 	 Brazil Equity
27 	 CHF Aggressive Allocation
28 	 CHF Bond
7 	 CHF Bond - Short Term
50 	 CHF Cautious Allocation
68 	 CHF Moderate Allocation
16 	 CHF Money Market
12 	 Canada Equity
8 	 Capital Protected
381 	 China Equity
51 	 China Equity - A Shares
18 	 Commodities - Broad Agriculture
186 	 Commodities - Broad Basket
78 	 Convertible Bond - Europe
87 	 Convertible Bond - Global
74 	 Convertible Bond - Global, CHF Hedged
191 	 Convertible Bond - Global, EUR Hedged
62 	 Convertible Bond - Global, GBP Hedged
99 	 Convertible Bond - Global, USD Hedged
66 	 Convertible Bond - Other
9 	 DKK Bond
15 	 DKK Domestic Bond
8 	 Denmark Equity
1 	 EUR Aggressive Allocation
143 	 EUR Aggressive Allocation - Global
14 	 EUR Bond - Long Term
31 	 EUR Cautious Allocation
201 	 EUR Cautious Allocation - Global
444 	 EUR Corporate Bond
46 	 EUR Corporate Bond - Short Term
276 	 EUR Diversified Bond
94 	 EUR Diversified Bond - Short Term
25 	 EUR Flexible Allocation
255 	 EUR Flexible Allocation - Global
105 	 EUR Flexible Bond
120 	 EUR Government Bond
12 	 EUR Government Bond - Short Term
375 	 EUR High Yield Bond
36 	 EUR Inflation-Linked Bond
29 	 EUR Moderate Allocation
390 	 EUR Moderate Allocation - Global
54 	 EUR Money Market
149 	 EUR Money Market - Short Term
64 	 EUR Subordinated Bond
37 	 EUR Ultra Short-Term Bond
12 	 Emerging Europe Bond
126 	 Emerging Europe Equity
15 	 Emerging Europe ex-Russia Equity
14 	 Europe Bond
188 	 Europe Equity Income
119 	 Europe Flex-Cap Equity
702 	 Europe Large-Cap Blend Equity
251 	 Europe Large-Cap Growth Equity
103 	 Europe Large-Cap Value Equity
79 	 Europe Mid-Cap Equity
232 	 Europe Small-Cap Equity
531 	 Europe ex-UK Large-Cap Equity
105 	 Europe ex-UK Small/Mid-Cap Equity
17 	 Eurozone Flex-Cap Equity
324 	 Eurozone Large-Cap Equity
39 	 Eurozone Mid-Cap Equity
6 	 Eurozone Small-Cap Equity
258 	 Fixed Term Bond
11 	 France Large-Cap Equity
5 	 France Small/Mid-Cap Equity
415 	 GBP Adventurous Allocation
115 	 GBP Cautious Allocation
419 	 GBP Corporate Bond
95 	 GBP Diversified Bond
16 	 GBP Diversified Bond - Short Term
293 	 GBP Flexible Allocation
50 	 GBP Flexible Bond
139 	 GBP Government Bond
55 	 GBP High Yield Bond
81 	 GBP Inflation-Linked Bond
1085 	 GBP Moderate Allocation
756 	 GBP Moderately Adventurous Allocation
546 	 GBP Moderately Cautious Allocation
33 	 GBP Money Market
189 	 GBP Money Market - Short Term
44 	 Germany Large-Cap Equity
11 	 Germany Small/Mid-Cap Equity
490 	 Global Bond
6 	 Global Bond - CHF Biased
83 	 Global Bond - CHF Hedged
13 	 Global Bond - EUR Biased
300 	 Global Bond - EUR Hedged
1 	 Global Bond - GBP Biased
186 	 Global Bond - GBP Hedged
1 	 Global Bond - ILS
3 	 Global Bond - NOK Hedged
257 	 Global Bond - USD Hedged
84 	 Global Corporate Bond
40 	 Global Corporate Bond - CHF Hedged
156 	 Global Corporate Bond - EUR Hedged
114 	 Global Corporate Bond - GBP Hedged
231 	 Global Corporate Bond - USD Hedged
97 	 Global Emerging Markets Allocation
874 	 Global Emerging Markets Bond
413 	 Global Emerging Markets Bond - EUR Biased
626 	 Global Emerging Markets Bond - Local Currency
285 	 Global Emerging Markets Corporate Bond
145 	 Global Emerging Markets Corporate Bond - EUR Biased
1822 	 Global Emerging Markets Equity
115 	 Global Emerging Markets Small/Mid-Cap Equity
696 	 Global Equity Income
296 	 Global Flex-Cap Equity
332 	 Global Flexible Bond
77 	 Global Flexible Bond - CHF Hedged
400 	 Global Flexible Bond - EUR Hedged
423 	 Global Flexible Bond - GBP Hedged
342 	 Global Flexible Bond - USD Hedged
118 	 Global Frontier Markets Equity
464 	 Global High Yield Bond
58 	 Global High Yield Bond - CHF Hedged
275 	 Global High Yield Bond - EUR Hedged
187 	 Global High Yield Bond - GBP Hedged
27 	 Global Inflation-Linked Bond
132 	 Global Inflation-Linked Bond - EUR Hedged
53 	 Global Inflation-Linked Bond - GBP Hedged
130 	 Global Inflation-Linked Bond - USD Hedged
2054 	 Global Large-Cap Blend Equity
632 	 Global Large-Cap Growth Equity
263 	 Global Large-Cap Value Equity
173 	 Global Small-Cap Equity
8 	 Greater China Allocation
102 	 Greater China Equity
1 	 Guaranteed Funds
6 	 HKD Bond
50 	 Hong Kong Equity
319 	 India Equity
15 	 Indonesia Equity
36 	 Islamic Allocation - Other
10 	 Islamic Equity - Other
24 	 Islamic Global Bond
60 	 Islamic Global Equity
19 	 Italy Equity
6 	 JPY Bond
85 	 Japan Flex-Cap Equity
780 	 Japan Large-Cap Equity
129 	 Japan Small/Mid-Cap Equity
27 	 Korea Equity
188 	 Latin America Equity
112 	 Money Market - Other
8 	 NOK Bond
12 	 NOK Bond - Short Term
2 	 NOK Cautious Allocation
9 	 NOK High Yield Bond
1 	 NOK Moderate Allocation
29 	 Nordic Equity
8 	 Nordic Small/Mid-Cap Equity
12 	 Norway Equity
32 	 Other
415 	 Other Allocation
3418 	 Other Bond
3209 	 Other Equity
87 	 Pacific ex-Japan Equity
11 	 Property - Direct Europe
59 	 Property - Direct Global
7 	 Property - Direct Other
179 	 Property - Direct UK
45 	 Property - Indirect Asia
53 	 Property - Indirect Europe
6 	 Property - Indirect Eurozone
342 	 Property - Indirect Global
23 	 Property - Indirect North America
104 	 Property - Indirect Other
68 	 RMB Bond
45 	 RMB Bond - Onshore
1 	 RMB High Yield Bond
118 	 Russia Equity
9 	 SEK Bond
6 	 SEK Cautious Allocation
5 	 SEK Corporate Bond
4 	 SEK Flexible Allocation
63 	 Sector Equity Agriculture
59 	 Sector Equity Alternative Energy
39 	 Sector Equity Biotechnology
11 	 Sector Equity Communications
160 	 Sector Equity Consumer Goods & Services
158 	 Sector Equity Ecology
103 	 Sector Equity Energy
96 	 Sector Equity Financial Services
153 	 Sector Equity Healthcare
17 	 Sector Equity Industrial Materials
226 	 Sector Equity Infrastructure
128 	 Sector Equity Natural Resources
114 	 Sector Equity Precious Metals
10 	 Sector Equity Private Equity
279 	 Sector Equity Technology
76 	 Sector Equity Water
5 	 Singapore Equity
11 	 Spain Equity
8 	 Sweden Equity
42 	 Switzerland Large-Cap Equity
30 	 Switzerland Small/Mid-Cap Equity
20 	 Taiwan Large-Cap Equity
1 	 Target Date 2011 - 2015
6 	 Target Date 2016 - 2020
5 	 Target Date 2021 - 2025
5 	 Target Date 2026 - 2030
5 	 Target Date 2031 - 2035
5 	 Target Date 2036 - 2040
5 	 Target Date 2041 - 2045
6 	 Target Date 2046+
28 	 Thailand Equity
42 	 Turkey Equity
456 	 UK Equity Income
381 	 UK Flex-Cap Equity
616 	 UK Large-Cap Equity
73 	 UK Mid-Cap Equity
201 	 UK Small-Cap Equity
191 	 US Flex-Cap Equity
828 	 US Large-Cap Blend Equity
509 	 US Large-Cap Growth Equity
334 	 US Large-Cap Value Equity
129 	 US Mid-Cap Equity
224 	 US Small-Cap Equity
187 	 USD Aggressive Allocation
185 	 USD Cautious Allocation
140 	 USD Corporate Bond
248 	 USD Diversified Bond
148 	 USD Diversified Bond - Short Term
157 	 USD Flexible Allocation
117 	 USD Flexible Bond
78 	 USD Government Bond
442 	 USD High Yield Bond
16 	 USD Inflation-Linked Bond
527 	 USD Moderate Allocation
35 	 USD Money Market
288 	 USD Money Market - Short Term
2 	 Vietnam Equity

In [38]:
data.describe()

       fund_return_2018
count      41580.000000
mean          -4.740028
std            6.921632
min          -81.780000
25%           -9.200000
50%           -4.290000
75%           -0.170000
max           49.980000

In [39]:
col = data['fund_return_2018']
col

ticker
0P00000AWF   -18.13
0P00000AYI   -14.11
0P00000BOW     3.26
0P00000ESH    -1.60
0P00000ESL    -6.79
              ...
FOUSA088S1   -13.56
FOUSA08ML5   -18.80
FOUSA0905L    11.58
FOUSA09F2D     0.37
FOUSA09F2G     0.73
Name: fund_return_2018, Length: 49399, dtype: float64

In [40]:
col.count(), col.mean(), col.std()

(41580, -4.740028379028379, 6.921632080857139)

In [41]:
col.min(), col.max()

(-81.78, 49.98)

In [42]:
col.quantile(0.25)

-9.2

In [43]:
col.quantile(0.5)

-4.29

In [44]:
col.quantile(0.75)

-0.17

### Sorting & Filtering

In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('files/populations.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Geographic Area                          52 non-null     object
 1   July 1, 2001 Estimate                    52 non-null     int64
 2   July 1, 2000 Estimate                    52 non-null     int64
 3   April 1, 2000 Population Estimates Base  52 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.8+ KB

In [47]:
df[:5]

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400

In [48]:
df.iloc[:5]

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400

In [49]:
data = df.set_index('Geographic Area')
data

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [50]:
data.head()

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400

In [52]:
mask = data['July 1, 2001 Estimate'] < 3_000_000
mask

Geographic Area
United States           False
Alabama                 False
Alaska                   True
Arizona                 False
Arkansas                 True
California              False
Colorado                False
Connecticut             False
Delaware                 True
District of Columbia     True
Florida                 False
Georgia                 False
Hawaii                   True
Idaho                    True
Illinois                False
Indiana                 False
Iowa                     True
Kansas                   True
Kentucky                False
Louisiana               False
Maine                    True
Maryland                False
Massachusetts           False
Michigan                False
Minnesota               False
Mississippi              True
Missouri                False
Montana                  True
Nebraska                 True
Nevada                   True
New Hampshire            True
New Jersey              False
New Mexico               True
New York                False
North Carolina          False
North Dakota             True
Ohio                    False
Oklahoma                False
Oregon                  False
Pennsylvania            False
Rhode Island             True
South Carolina          False
South Dakota             True
Tennessee               False
Texas                   False
Utah                     True
Vermont                  True
Virginia                False
Washington              False
West Virginia            True
Wisconsin               False
Wyoming                  True
Name: July 1, 2001 Estimate, dtype: bool

In [53]:
data.iloc[:, 0] < 3_000_000

Geographic Area
United States           False
Alabama                 False
Alaska                   True
Arizona                 False
Arkansas                 True
California              False
Colorado                False
Connecticut             False
Delaware                 True
District of Columbia     True
Florida                 False
Georgia                 False
Hawaii                   True
Idaho                    True
Illinois                False
Indiana                 False
Iowa                     True
Kansas                   True
Kentucky                False
Louisiana               False
Maine                    True
Maryland                False
Massachusetts           False
Michigan                False
Minnesota               False
Mississippi              True
Missouri                False
Montana                  True
Nebraska                 True
Nevada                   True
New Hampshire            True
New Jersey              False
New Mexico               True
New York                False
North Carolina          False
North Dakota             True
Ohio                    False
Oklahoma                False
Oregon                  False
Pennsylvania            False
Rhode Island             True
South Carolina          False
South Dakota             True
Tennessee               False
Texas                   False
Utah                     True
Vermont                  True
Virginia                False
Washington              False
West Virginia            True
Wisconsin               False
Wyoming                  True
Name: July 1, 2001 Estimate, dtype: bool

In [54]:
data[mask]

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alaska,634892,627601,626932
Arkansas,2692090,2678030,2673400
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Maine,1286670,1276961,1274923
Mississippi,2858029,2849100,2844658
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Mexico,1829146,1821282,1819046
North Dakota,634448,640919,642200
Rhode Island,1058920,1050236,1048319
South Dakota,756600,755509,754844
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
West Virginia,1801916,1807099,1808344
Wyoming,494423,494001,493782

In [55]:
s = pd.Series([10, 20, 30, 40], index=['Z', 'y', 'x', 'w'])
s

Z    10
y    20
x    30
w    40
dtype: int64

In [56]:
s.sort_index()

Z    10
w    40
x    30
y    20
dtype: int64

In [57]:
l = ['Z', 'w', 'x', 'y']
sorted(l)

['Z', 'w', 'x', 'y']

In [59]:
sorted(l, key = lambda x: x.casefold())

['w', 'x', 'y', 'Z']

In [60]:
s.index

Index(['Z', 'y', 'x', 'w'], dtype='object')

In [61]:
s.index.str.casefold()

Index(['z', 'y', 'x', 'w'], dtype='object')

In [62]:
s.index.str.upper()

Index(['Z', 'Y', 'X', 'W'], dtype='object')

In [63]:
s.index.str.lower()

Index(['z', 'y', 'x', 'w'], dtype='object')

In [64]:
s.index.str.len()

Index([1, 1, 1, 1], dtype='int64')

In [65]:
s.sort_index(key=lambda ind: ind.str.casefold())

w    40
x    30
y    20
Z    10
dtype: int64

In [66]:
s = pd.Series(list('abcdef'), index=[-1, -3, -5, 0, 2, 4])
s

-1    a
-3    b
-5    c
 0    d
 2    e
 4    f
dtype: object

In [67]:
s.sort_index()

-5    c
-3    b
-1    a
 0    d
 2    e
 4    f
dtype: object

In [69]:
s.index

Index([-1, -3, -5, 0, 2, 4], dtype='int64')

In [70]:
np.abs(s.index)

Index([1, 3, 5, 0, 2, 4], dtype='int64')

In [71]:
s.sort_index(key = lambda ind : np.abs(ind))

 0    d
-1    a
 2    e
-3    b
 4    f
-5    c
dtype: object

In [72]:
data[:5]

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400

In [73]:
data.sort_index()

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
United States,284796887,282124631,281421906
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [74]:
data.sort_index(key = lambda ind: ind.str.casefold())

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
United States,284796887,282124631,281421906
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782

In [75]:
data.sort_index(key = lambda ind: ind.str.len())

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Ohio,11373541,11359955,11353140
Utah,2269789,2241555,2233169
Iowa,2923179,2927509,2926324
Texas,21325018,20946503,20851820
Maine,1286670,1276961,1274923
Idaho,1321006,1299258,1293953
Oregon,3472867,3429293,3421399
Alaska,634892,627601,626932
Nevada,2106074,2018723,1998257
Kansas,2694641,2691750,2688418
Hawaii,1224398,1212281,1211537
Montana,904433,903157,902195
Vermont,613090,609709,608827
Indiana,6114745,6089950,6080485
Wyoming,494423,494001,493782
Georgia,8383915,8229823,8186453
Florida,16396515,16054328,15982378
Alabama,4464356,4451493,4447100
Arizona,5307331,5165274,5130632
New York,19011378,18989332,18976457
Arkansas,2692090,2678030,2673400
Nebraska,1713235,1712577,1711263
Colorado,4417714,4323410,4301261
Illinois,12482301,12435970,12419293
Missouri,5629707,5603553,5595211
Michigan,9990817,9952006,9938444
Maryland,5375156,5310908,5296486
Delaware,796165,786234,783600
Oklahoma,3460097,3453250,3450654
Kentucky,4065556,4047424,4041769
Virginia,7187734,7104016,7078515
Wisconsin,5401906,5372243,5363675
Tennessee,5740021,5702027,5689283
Minnesota,4972294,4931093,4919479
Louisiana,4465430,4469970,4468976
Washington,5987973,5908372,5894121
California,34501130,34000446,33871648
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
Mississippi,2858029,2849100,2844658
Connecticut,3425074,3410079,3405565
Rhode Island,1058920,1050236,1048319
South Dakota,756600,755509,754844
North Dakota,634448,640919,642200
Pennsylvania,12287150,12282591,12281054
New Hampshire,1259181,1239881,1235786
Massachusetts,6379304,6357072,6349097
West Virginia,1801916,1807099,1808344
United States,284796887,282124631,281421906
South Carolina,4063011,4023438,4012012
North Carolina,8186268,8077367,8049313
District of Columbia,571822,571066,572059

In [76]:
data.sort_index(key = lambda ind: ind.str.len(), ascending=False)

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
District of Columbia,571822,571066,572059
North Carolina,8186268,8077367,8049313
South Carolina,4063011,4023438,4012012
United States,284796887,282124631,281421906
Massachusetts,6379304,6357072,6349097
West Virginia,1801916,1807099,1808344
New Hampshire,1259181,1239881,1235786
South Dakota,756600,755509,754844
North Dakota,634448,640919,642200
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
Mississippi,2858029,2849100,2844658
Connecticut,3425074,3410079,3405565
California,34501130,34000446,33871648
New Mexico,1829146,1821282,1819046
New Jersey,8484431,8429007,8414350
Washington,5987973,5908372,5894121
Tennessee,5740021,5702027,5689283
Louisiana,4465430,4469970,4468976
Wisconsin,5401906,5372243,5363675
Minnesota,4972294,4931093,4919479
Oklahoma,3460097,3453250,3450654
Virginia,7187734,7104016,7078515
New York,19011378,18989332,18976457
Nebraska,1713235,1712577,1711263
Missouri,5629707,5603553,5595211
Michigan,9990817,9952006,9938444
Maryland,5375156,5310908,5296486
Arkansas,2692090,2678030,2673400
Kentucky,4065556,4047424,4041769
Colorado,4417714,4323410,4301261
Delaware,796165,786234,783600
Illinois,12482301,12435970,12419293
Alabama,4464356,4451493,4447100
Montana,904433,903157,902195
Arizona,5307331,5165274,5130632
Vermont,613090,609709,608827
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Wyoming,494423,494001,493782
Indiana,6114745,6089950,6080485
Hawaii,1224398,1212281,1211537
Oregon,3472867,3429293,3421399
Kansas,2694641,2691750,2688418
Nevada,2106074,2018723,1998257
Alaska,634892,627601,626932
Texas,21325018,20946503,20851820
Maine,1286670,1276961,1274923
Idaho,1321006,1299258,1293953
Ohio,11373541,11359955,11353140
Utah,2269789,2241555,2233169
Iowa,2923179,2927509,2926324

In [77]:
data.sort_values('July 1, 2001 Estimate')

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
Wyoming,494423,494001,493782
District of Columbia,571822,571066,572059
Vermont,613090,609709,608827
North Dakota,634448,640919,642200
Alaska,634892,627601,626932
South Dakota,756600,755509,754844
Delaware,796165,786234,783600
Montana,904433,903157,902195
Rhode Island,1058920,1050236,1048319
Hawaii,1224398,1212281,1211537
New Hampshire,1259181,1239881,1235786
Maine,1286670,1276961,1274923
Idaho,1321006,1299258,1293953
Nebraska,1713235,1712577,1711263
West Virginia,1801916,1807099,1808344
New Mexico,1829146,1821282,1819046
Nevada,2106074,2018723,1998257
Utah,2269789,2241555,2233169
Arkansas,2692090,2678030,2673400
Kansas,2694641,2691750,2688418
Mississippi,2858029,2849100,2844658
Iowa,2923179,2927509,2926324
Connecticut,3425074,3410079,3405565
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
South Carolina,4063011,4023438,4012012
Kentucky,4065556,4047424,4041769
Colorado,4417714,4323410,4301261
Alabama,4464356,4451493,4447100
Louisiana,4465430,4469970,4468976
Minnesota,4972294,4931093,4919479
Arizona,5307331,5165274,5130632
Maryland,5375156,5310908,5296486
Wisconsin,5401906,5372243,5363675
Missouri,5629707,5603553,5595211
Tennessee,5740021,5702027,5689283
Washington,5987973,5908372,5894121
Indiana,6114745,6089950,6080485
Massachusetts,6379304,6357072,6349097
Virginia,7187734,7104016,7078515
North Carolina,8186268,8077367,8049313
Georgia,8383915,8229823,8186453
New Jersey,8484431,8429007,8414350
Michigan,9990817,9952006,9938444
Ohio,11373541,11359955,11353140
Pennsylvania,12287150,12282591,12281054
Illinois,12482301,12435970,12419293
Florida,16396515,16054328,15982378
New York,19011378,18989332,18976457
Texas,21325018,20946503,20851820
California,34501130,34000446,33871648
United States,284796887,282124631,281421906

In [79]:
data.sort_values('July 1, 2001 Estimate', ascending=False)

,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
Geographic Area,,,
United States,284796887,282124631,281421906
California,34501130,34000446,33871648
Texas,21325018,20946503,20851820
New York,19011378,18989332,18976457
Florida,16396515,16054328,15982378
Illinois,12482301,12435970,12419293
Pennsylvania,12287150,12282591,12281054
Ohio,11373541,11359955,11353140
Michigan,9990817,9952006,9938444
New Jersey,8484431,8429007,8414350
Georgia,8383915,8229823,8186453
North Carolina,8186268,8077367,8049313
Virginia,7187734,7104016,7078515
Massachusetts,6379304,6357072,6349097
Indiana,6114745,6089950,6080485
Washington,5987973,5908372,5894121
Tennessee,5740021,5702027,5689283
Missouri,5629707,5603553,5595211
Wisconsin,5401906,5372243,5363675
Maryland,5375156,5310908,5296486
Arizona,5307331,5165274,5130632
Minnesota,4972294,4931093,4919479
Louisiana,4465430,4469970,4468976
Alabama,4464356,4451493,4447100
Colorado,4417714,4323410,4301261
Kentucky,4065556,4047424,4041769
South Carolina,4063011,4023438,4012012
Oregon,3472867,3429293,3421399
Oklahoma,3460097,3453250,3450654
Connecticut,3425074,3410079,3405565
Iowa,2923179,2927509,2926324
Mississippi,2858029,2849100,2844658
Kansas,2694641,2691750,2688418
Arkansas,2692090,2678030,2673400
Utah,2269789,2241555,2233169
Nevada,2106074,2018723,1998257
New Mexico,1829146,1821282,1819046
West Virginia,1801916,1807099,1808344
Nebraska,1713235,1712577,1711263
Idaho,1321006,1299258,1293953
Maine,1286670,1276961,1274923
New Hampshire,1259181,1239881,1235786
Hawaii,1224398,1212281,1211537
Rhode Island,1058920,1050236,1048319
Montana,904433,903157,902195
Delaware,796165,786234,783600
South Dakota,756600,755509,754844
Alaska,634892,627601,626932
North Dakota,634448,640919,642200
Vermont,613090,609709,608827
District of Columbia,571822,571066,572059
Wyoming,494423,494001,493782

In [80]:
df = pd.read_csv('files/world_bank_countries.csv')
df[:5]

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,NationalAccountsBaseYear,NationalAccountsReferenceYear,SnaPriceValuation,LendingCategory,OtherGroups,SystemOfNationalAccounts,AlternativeConversionFactor,PppSurveyYear,BalanceOfPaymentsManualInUse,ExternalDebtReportingStatus,SystemOfTrade,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,1996,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,1980,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1968 System of National Accou...,NaN,2011,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,NaN,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,2011 (household consumption only).,NaN,NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [81]:
data = df[['ShortName', 'Region', 'CountryCode', 'CurrencyUnit']]
data[:5]

        ShortName                      Region CountryCode    CurrencyUnit
0     Afghanistan                  South Asia         AFG  Afghan afghani
1         Albania       Europe & Central Asia         ALB    Albanian lek
2         Algeria  Middle East & North Africa         DZA  Algerian dinar
3  American Samoa         East Asia & Pacific         ASM     U.S. dollar
4         Andorra       Europe & Central Asia         ADO            Euro

In [82]:
df = pd.read_csv(
    'files/world_bank_countries.csv',
    names = ['Code', 'Name', 'Currency', 'Region'],
    usecols = [0, 1, 5, 7],
    header = 0
)
df

    Code                Name            Currency                      Region
0    AFG         Afghanistan      Afghan afghani                  South Asia
1    ALB             Albania        Albanian lek       Europe & Central Asia
2    DZA             Algeria      Algerian dinar  Middle East & North Africa
3    ASM      American Samoa         U.S. dollar         East Asia & Pacific
4    ADO             Andorra                Euro       Europe & Central Asia
..   ...                 ...                 ...                         ...
242  WBG  West Bank and Gaza  Israeli new shekel  Middle East & North Africa
243  WLD               World                 NaN                         NaN
244  YEM               Yemen         Yemeni rial  Middle East & North Africa
245  ZMB              Zambia  New Zambian kwacha          Sub-Saharan Africa
246  ZWE            Zimbabwe         U.S. dollar          Sub-Saharan Africa

[247 rows x 4 columns]

In [84]:
df = pd.read_csv(
    'files/world_bank_countries.csv',
    names = ['Code', 'Name', 'Currency', 'Region'],
    usecols = [0, 1, 5, 7],
    header = 0
)
df[['Region', 'Code', 'Name', 'Currency']]

                         Region Code                Name            Currency
0                    South Asia  AFG         Afghanistan      Afghan afghani
1         Europe & Central Asia  ALB             Albania        Albanian lek
2    Middle East & North Africa  DZA             Algeria      Algerian dinar
3           East Asia & Pacific  ASM      American Samoa         U.S. dollar
4         Europe & Central Asia  ADO             Andorra                Euro
..                          ...  ...                 ...                 ...
242  Middle East & North Africa  WBG  West Bank and Gaza  Israeli new shekel
243                         NaN  WLD               World                 NaN
244  Middle East & North Africa  YEM               Yemen         Yemeni rial
245          Sub-Saharan Africa  ZMB              Zambia  New Zambian kwacha
246          Sub-Saharan Africa  ZWE            Zimbabwe         U.S. dollar

[247 rows x 4 columns]

In [85]:
df = pd.read_csv(
    'files/world_bank_countries.csv',
    names = ['Code', 'Name', 'Currency', 'Region'],
    usecols = [0, 1, 5, 7],
    header = 0
)[['Region', 'Code', 'Name', 'Currency']]

In [86]:
df

                         Region Code                Name            Currency
0                    South Asia  AFG         Afghanistan      Afghan afghani
1         Europe & Central Asia  ALB             Albania        Albanian lek
2    Middle East & North Africa  DZA             Algeria      Algerian dinar
3           East Asia & Pacific  ASM      American Samoa         U.S. dollar
4         Europe & Central Asia  ADO             Andorra                Euro
..                          ...  ...                 ...                 ...
242  Middle East & North Africa  WBG  West Bank and Gaza  Israeli new shekel
243                         NaN  WLD               World                 NaN
244  Middle East & North Africa  YEM               Yemen         Yemeni rial
245          Sub-Saharan Africa  ZMB              Zambia  New Zambian kwacha
246          Sub-Saharan Africa  ZWE            Zimbabwe         U.S. dollar

[247 rows x 4 columns]

In [87]:
df.info

<bound method DataFrame.info of                          Region Code                Name            Currency
0                    South Asia  AFG         Afghanistan      Afghan afghani
1         Europe & Central Asia  ALB             Albania        Albanian lek
2    Middle East & North Africa  DZA             Algeria      Algerian dinar
3           East Asia & Pacific  ASM      American Samoa         U.S. dollar
4         Europe & Central Asia  ADO             Andorra                Euro
..                          ...  ...                 ...                 ...
242  Middle East & North Africa  WBG  West Bank and Gaza  Israeli new shekel
243                         NaN  WLD               World                 NaN
244  Middle East & North Africa  YEM               Yemen         Yemeni rial
245          Sub-Saharan Africa  ZMB              Zambia  New Zambian kwacha
246          Sub-Saharan Africa  ZWE            Zimbabwe         U.S. dollar

[247 rows x 4 columns]>

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    214 non-null    object
 1   Code      247 non-null    object
 2   Name      247 non-null    object
 3   Currency  214 non-null    object
dtypes: object(4)
memory usage: 7.8+ KB

In [89]:
df['Region']

0                      South Asia
1           Europe & Central Asia
2      Middle East & North Africa
3             East Asia & Pacific
4           Europe & Central Asia
                  ...
242    Middle East & North Africa
243                           NaN
244    Middle East & North Africa
245            Sub-Saharan Africa
246            Sub-Saharan Africa
Name: Region, Length: 247, dtype: object

In [90]:
df['Region'].notnull()

0       True
1       True
2       True
3       True
4       True
       ...
242     True
243    False
244     True
245     True
246     True
Name: Region, Length: 247, dtype: bool

In [91]:
data = df[df['Region'].notnull()]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    214 non-null    object
 1   Code      214 non-null    object
 2   Name      214 non-null    object
 3   Currency  214 non-null    object
dtypes: object(4)
memory usage: 8.4+ KB

In [92]:
data = df.dropna(axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 246
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    214 non-null    object
 1   Code      214 non-null    object
 2   Name      214 non-null    object
 3   Currency  214 non-null    object
dtypes: object(4)
memory usage: 8.4+ KB

In [93]:
data

                         Region Code                Name            Currency
0                    South Asia  AFG         Afghanistan      Afghan afghani
1         Europe & Central Asia  ALB             Albania        Albanian lek
2    Middle East & North Africa  DZA             Algeria      Algerian dinar
3           East Asia & Pacific  ASM      American Samoa         U.S. dollar
4         Europe & Central Asia  ADO             Andorra                Euro
..                          ...  ...                 ...                 ...
241   Latin America & Caribbean  VIR      Virgin Islands         U.S. dollar
242  Middle East & North Africa  WBG  West Bank and Gaza  Israeli new shekel
244  Middle East & North Africa  YEM               Yemen         Yemeni rial
245          Sub-Saharan Africa  ZMB              Zambia  New Zambian kwacha
246          Sub-Saharan Africa  ZWE            Zimbabwe         U.S. dollar

[214 rows x 4 columns]

In [95]:
data.sort_values('Region')

,Region,Code,Name,Currency
223,East Asia & Pacific,TON,Tonga,Tongan pa'anga
42,East Asia & Pacific,CHN,China,Chinese yuan
53,East Asia & Pacific,PRK,Dem. People's Rep. Korea,Democratic People's Republic of Korean won
229,East Asia & Pacific,TUV,Tuvalu,Australian dollar
73,East Asia & Pacific,FJI,Fiji,Fijian dollar
...,...,...,...,...
134,Sub-Saharan Africa,MDG,Madagascar,Malagasy ariary
124,Sub-Saharan Africa,LBR,Liberia,U.S. dollar
245,Sub-Saharan Africa,ZMB,Zambia,New Zambian kwacha
88,Sub-Saharan Africa,GNB,Guinea-Bissau,West African CFA franc
246,Sub-Saharan Africa,ZWE,Zimbabwe,U.S. dollar

In [97]:
sorted_data = data.sort_values(['Region', 'Code'])
sorted_data

                  Region Code             Name            Currency
3    East Asia & Pacific  ASM   American Samoa         U.S. dollar
11   East Asia & Pacific  AUS        Australia   Australian dollar
27   East Asia & Pacific  BRN           Brunei       Brunei dollar
42   East Asia & Pacific  CHN            China        Chinese yuan
73   East Asia & Pacific  FJI             Fiji       Fijian dollar
..                   ...  ...              ...                 ...
230   Sub-Saharan Africa  UGA           Uganda    Ugandan shilling
199   Sub-Saharan Africa  ZAF     South Africa  South African rand
54    Sub-Saharan Africa  ZAR  Dem. Rep. Congo     Congolese franc
245   Sub-Saharan Africa  ZMB           Zambia  New Zambian kwacha
246   Sub-Saharan Africa  ZWE         Zimbabwe         U.S. dollar

[214 rows x 4 columns]

In [99]:
for row_label, row_series in sorted_data.iterrows():
    print(row_label, type(row_series))

3 <class 'pandas.core.series.Series'>
11 <class 'pandas.core.series.Series'>
27 <class 'pandas.core.series.Series'>
42 <class 'pandas.core.series.Series'>
73 <class 'pandas.core.series.Series'>
144 <class 'pandas.core.series.Series'>
85 <class 'pandas.core.series.Series'>
96 <class 'pandas.core.series.Series'>
100 <class 'pandas.core.series.Series'>
108 <class 'pandas.core.series.Series'>
32 <class 'pandas.core.series.Series'>
112 <class 'pandas.core.series.Series'>
113 <class 'pandas.core.series.Series'>
117 <class 'pandas.core.series.Series'>
132 <class 'pandas.core.series.Series'>
140 <class 'pandas.core.series.Series'>
154 <class 'pandas.core.series.Series'>
150 <class 'pandas.core.series.Series'>
164 <class 'pandas.core.series.Series'>
136 <class 'pandas.core.series.Series'>
158 <class 'pandas.core.series.Series'>
159 <class 'pandas.core.series.Series'>
176 <class 'pandas.core.series.Series'>
171 <class 'pandas.core.series.Series'>
173 <class 'pandas.core.series.Series'>
53 <class 'pandas.core.series.Series'>
77 <class 'pandas.core.series.Series'>
192 <class 'pandas.core.series.Series'>
197 <class 'pandas.core.series.Series'>
218 <class 'pandas.core.series.Series'>
221 <class 'pandas.core.series.Series'>
223 <class 'pandas.core.series.Series'>
229 <class 'pandas.core.series.Series'>
240 <class 'pandas.core.series.Series'>
238 <class 'pandas.core.series.Series'>
184 <class 'pandas.core.series.Series'>
4 <class 'pandas.core.series.Series'>
1 <class 'pandas.core.series.Series'>
9 <class 'pandas.core.series.Series'>
12 <class 'pandas.core.series.Series'>
13 <class 'pandas.core.series.Series'>
18 <class 'pandas.core.series.Series'>
28 <class 'pandas.core.series.Series'>
24 <class 'pandas.core.series.Series'>
17 <class 'pandas.core.series.Series'>
214 <class 'pandas.core.series.Series'>
40 <class 'pandas.core.series.Series'>
51 <class 'pandas.core.series.Series'>
52 <class 'pandas.core.series.Series'>
80 <class 'pandas.core.series.Series'>
55 <class 'pandas.core.series.Series'>
202 <class 'pandas.core.series.Series'>
66 <class 'pandas.core.series.Series'>
74 <class 'pandas.core.series.Series'>
76 <class 'pandas.core.series.Series'>
72 <class 'pandas.core.series.Series'>
233 <class 'pandas.core.series.Series'>
79 <class 'pandas.core.series.Series'>
82 <class 'pandas.core.series.Series'>
83 <class 'pandas.core.series.Series'>
48 <class 'pandas.core.series.Series'>
97 <class 'pandas.core.series.Series'>
104 <class 'pandas.core.series.Series'>
103 <class 'pandas.core.series.Series'>
98 <class 'pandas.core.series.Series'>
106 <class 'pandas.core.series.Series'>
110 <class 'pandas.core.series.Series'>
116 <class 'pandas.core.series.Series'>
114 <class 'pandas.core.series.Series'>
126 <class 'pandas.core.series.Series'>
127 <class 'pandas.core.series.Series'>
131 <class 'pandas.core.series.Series'>
120 <class 'pandas.core.series.Series'>
149 <class 'pandas.core.series.Series'>
148 <class 'pandas.core.series.Series'>
133 <class 'pandas.core.series.Series'>
151 <class 'pandas.core.series.Series'>
157 <class 'pandas.core.series.Series'>
165 <class 'pandas.core.series.Series'>
177 <class 'pandas.core.series.Series'>
178 <class 'pandas.core.series.Series'>
181 <class 'pandas.core.series.Series'>
182 <class 'pandas.core.series.Series'>
185 <class 'pandas.core.series.Series'>
189 <class 'pandas.core.series.Series'>
194 <class 'pandas.core.series.Series'>
195 <class 'pandas.core.series.Series'>
213 <class 'pandas.core.series.Series'>
216 <class 'pandas.core.series.Series'>
227 <class 'pandas.core.series.Series'>
226 <class 'pandas.core.series.Series'>
231 <class 'pandas.core.series.Series'>
237 <class 'pandas.core.series.Series'>
10 <class 'pandas.core.series.Series'>
8 <class 'pandas.core.series.Series'>
6 <class 'pandas.core.series.Series'>
219 <class 'pandas.core.series.Series'>
19 <class 'pandas.core.series.Series'>
23 <class 'pandas.core.series.Series'>
26 <class 'pandas.core.series.Series'>
16 <class 'pandas.core.series.Series'>
41 <class 'pandas.core.series.Series'>
43 <class 'pandas.core.series.Series'>
46 <class 'pandas.core.series.Series'>
49 <class 'pandas.core.series.Series'>
50 <class 'pandas.core.series.Series'>
36 <class 'pandas.core.series.Series'>
57 <class 'pandas.core.series.Series'>
58 <class 'pandas.core.series.Series'>
61 <class 'pandas.core.series.Series'>
84 <class 'pandas.core.series.Series'>
86 <class 'pandas.core.series.Series'>
89 <class 'pandas.core.series.Series'>
95 <class 'pandas.core.series.Series'>
90 <class 'pandas.core.series.Series'>
107 <class 'pandas.core.series.Series'>
204 <class 'pandas.core.series.Series'>
205 <class 'pandas.core.series.Series'>
206 <class 'pandas.core.series.Series'>
143 <class 'pandas.core.series.Series'>
160 <class 'pandas.core.series.Series'>
172 <class 'pandas.core.series.Series'>
175 <class 'pandas.core.series.Series'>
179 <class 'pandas.core.series.Series'>
174 <class 'pandas.core.series.Series'>
63 <class 'pandas.core.series.Series'>
211 <class 'pandas.core.series.Series'>
193 <class 'pandas.core.series.Series'>
228 <class 'pandas.core.series.Series'>
224 <class 'pandas.core.series.Series'>
236 <class 'pandas.core.series.Series'>
207 <class 'pandas.core.series.Series'>
239 <class 'pandas.core.series.Series'>
241 <class 'pandas.core.series.Series'>
232 <class 'pandas.core.series.Series'>
14 <class 'pandas.core.series.Series'>
56 <class 'pandas.core.series.Series'>
2 <class 'pandas.core.series.Series'>
62 <class 'pandas.core.series.Series'>
101 <class 'pandas.core.series.Series'>
102 <class 'pandas.core.series.Series'>
105 <class 'pandas.core.series.Series'>
109 <class 'pandas.core.series.Series'>
115 <class 'pandas.core.series.Series'>
122 <class 'pandas.core.series.Series'>
125 <class 'pandas.core.series.Series'>
152 <class 'pandas.core.series.Series'>
139 <class 'pandas.core.series.Series'>
167 <class 'pandas.core.series.Series'>
180 <class 'pandas.core.series.Series'>
187 <class 'pandas.core.series.Series'>
215 <class 'pandas.core.series.Series'>
225 <class 'pandas.core.series.Series'>
242 <class 'pandas.core.series.Series'>
244 <class 'pandas.core.series.Series'>
21 <class 'pandas.core.series.Series'>
34 <class 'pandas.core.series.Series'>
234 <class 'pandas.core.series.Series'>
0 <class 'pandas.core.series.Series'>
15 <class 'pandas.core.series.Series'>
22 <class 'pandas.core.series.Series'>
99 <class 'pandas.core.series.Series'>
203 <class 'pandas.core.series.Series'>
137 <class 'pandas.core.series.Series'>
156 <class 'pandas.core.series.Series'>
170 <class 'pandas.core.series.Series'>
5 <class 'pandas.core.series.Series'>
30 <class 'pandas.core.series.Series'>
20 <class 'pandas.core.series.Series'>
29 <class 'pandas.core.series.Series'>
25 <class 'pandas.core.series.Series'>
37 <class 'pandas.core.series.Series'>
47 <class 'pandas.core.series.Series'>
33 <class 'pandas.core.series.Series'>
45 <class 'pandas.core.series.Series'>
44 <class 'pandas.core.series.Series'>
31 <class 'pandas.core.series.Series'>
65 <class 'pandas.core.series.Series'>
67 <class 'pandas.core.series.Series'>
78 <class 'pandas.core.series.Series'>
81 <class 'pandas.core.series.Series'>
87 <class 'pandas.core.series.Series'>
220 <class 'pandas.core.series.Series'>
88 <class 'pandas.core.series.Series'>
64 <class 'pandas.core.series.Series'>
111 <class 'pandas.core.series.Series'>
124 <class 'pandas.core.series.Series'>
123 <class 'pandas.core.series.Series'>
134 <class 'pandas.core.series.Series'>
138 <class 'pandas.core.series.Series'>
153 <class 'pandas.core.series.Series'>
141 <class 'pandas.core.series.Series'>
142 <class 'pandas.core.series.Series'>
135 <class 'pandas.core.series.Series'>
155 <class 'pandas.core.series.Series'>
161 <class 'pandas.core.series.Series'>
162 <class 'pandas.core.series.Series'>
183 <class 'pandas.core.series.Series'>
210 <class 'pandas.core.series.Series'>
188 <class 'pandas.core.series.Series'>
191 <class 'pandas.core.series.Series'>
198 <class 'pandas.core.series.Series'>
201 <class 'pandas.core.series.Series'>
186 <class 'pandas.core.series.Series'>
212 <class 'pandas.core.series.Series'>
190 <class 'pandas.core.series.Series'>
39 <class 'pandas.core.series.Series'>
222 <class 'pandas.core.series.Series'>
217 <class 'pandas.core.series.Series'>
230 <class 'pandas.core.series.Series'>
199 <class 'pandas.core.series.Series'>
54 <class 'pandas.core.series.Series'>
245 <class 'pandas.core.series.Series'>
246 <class 'pandas.core.series.Series'>

In [100]:
for _, row_series in sorted_data.iterrows():
    print(row_series)
    print('_' * 20)

Region      East Asia & Pacific
Code                        ASM
Name             American Samoa
Currency            U.S. dollar
Name: 3, dtype: object
____________________
Region      East Asia & Pacific
Code                        AUS
Name                  Australia
Currency      Australian dollar
Name: 11, dtype: object
____________________
Region      East Asia & Pacific
Code                        BRN
Name                     Brunei
Currency          Brunei dollar
Name: 27, dtype: object
____________________
Region      East Asia & Pacific
Code                        CHN
Name                      China
Currency           Chinese yuan
Name: 42, dtype: object
____________________
Region      East Asia & Pacific
Code                        FJI
Name                       Fiji
Currency          Fijian dollar
Name: 73, dtype: object
____________________
Region      East Asia & Pacific
Code                        FSM
Name                 Micronesia
Currency            U.S. dollar
Name: 144, dtype: object
____________________
Region      East Asia & Pacific
Code                        GUM
Name                       Guam
Currency            U.S. dollar
Name: 85, dtype: object
____________________
Region       East Asia & Pacific
Code                         HKG
Name        Hong Kong SAR, China
Currency        Hong Kong dollar
Name: 96, dtype: object
____________________
Region      East Asia & Pacific
Code                        IDN
Name                  Indonesia
Currency      Indonesian rupiah
Name: 100, dtype: object
____________________
Region      East Asia & Pacific
Code                        JPN
Name                      Japan
Currency           Japanese yen
Name: 108, dtype: object
____________________
Region      East Asia & Pacific
Code                        KHM
Name                   Cambodia
Currency         Cambodian riel
Name: 32, dtype: object
____________________
Region      East Asia & Pacific
Code                        KIR
Name                   Kiribati
Currency      Australian dollar
Name: 112, dtype: object
____________________
Region      East Asia & Pacific
Code                        KOR
Name                      Korea
Currency             Korean won
Name: 113, dtype: object
____________________
Region      East Asia & Pacific
Code                        LAO
Name                    Lao PDR
Currency                Lao kip
Name: 117, dtype: object
____________________
Region      East Asia & Pacific
Code                        MAC
Name           Macao SAR, China
Currency           Macao pataca
Name: 132, dtype: object
____________________
Region      East Asia & Pacific
Code                        MHL
Name           Marshall Islands
Currency            U.S. dollar
Name: 140, dtype: object
____________________
Region      East Asia & Pacific
Code                        MMR
Name                    Myanmar
Currency           Myanmar kyat
Name: 154, dtype: object
____________________
Region      East Asia & Pacific
Code                        MNG
Name                   Mongolia
Currency       Mongolian tugrik
Name: 150, dtype: object
____________________
Region           East Asia & Pacific
Code                             MNP
Name        Northern Mariana Islands
Currency                 U.S. dollar
Name: 164, dtype: object
____________________
Region      East Asia & Pacific
Code                        MYS
Name                   Malaysia
Currency      Malaysian ringgit
Name: 136, dtype: object
____________________
Region      East Asia & Pacific
Code                        NCL
Name              New Caledonia
Currency              CFP franc
Name: 158, dtype: object
____________________
Region      East Asia & Pacific
Code                        NZL
Name                New Zealand
Currency     New Zealand dollar
Name: 159, dtype: object
____________________
Region      East Asia & Pacific
Code                        PHL
Name                Philippines
Currency        Philippine peso
Name: 176, dtype: object
____________________
Region      East Asia & Pacific
Code                        PLW
Name                      Palau
Currency            U.S. dollar
Name: 171, dtype: object
____________________
Region        East Asia & Pacific
Code                          PNG
Name             Papua New Guinea
Currency    Papua New Guinea kina
Name: 173, dtype: object
____________________
Region                             East Asia & Pacific
Code                                               PRK
Name                          Dem. People's Rep. Korea
Currency    Democratic People's Republic of Korean won
Name: 53, dtype: object
____________________
Region      East Asia & Pacific
Code                        PYF
Name           French Polynesia
Currency              CFP franc
Name: 77, dtype: object
____________________
Region      East Asia & Pacific
Code                        SGP
Name                  Singapore
Currency       Singapore dollar
Name: 192, dtype: object
____________________
Region         East Asia & Pacific
Code                           SLB
Name               Solomon Islands
Currency    Solomon Islands dollar
Name: 197, dtype: object
____________________
Region      East Asia & Pacific
Code                        THA
Name                   Thailand
Currency              Thai baht
Name: 218, dtype: object
____________________
Region      East Asia & Pacific
Code                        TMP
Name                Timor-Leste
Currency            U.S. dollar
Name: 221, dtype: object
____________________
Region      East Asia & Pacific
Code                        TON
Name                      Tonga
Currency         Tongan pa'anga
Name: 223, dtype: object
____________________
Region      East Asia & Pacific
Code                        TUV
Name                     Tuvalu
Currency      Australian dollar
Name: 229, dtype: object
____________________
Region      East Asia & Pacific
Code                        VNM
Name                    Vietnam
Currency        Vietnamese dong
Name: 240, dtype: object
____________________
Region      East Asia & Pacific
Code                        VUT
Name                    Vanuatu
Currency           Vanuatu vatu
Name: 238, dtype: object
____________________
Region      East Asia & Pacific
Code                        WSM
Name                      Samoa
Currency            Samoan tala
Name: 184, dtype: object
____________________
Region      Europe & Central Asia
Code                          ADO
Name                      Andorra
Currency                     Euro
Name: 4, dtype: object
____________________
Region      Europe & Central Asia
Code                          ALB
Name                      Albania
Currency             Albanian lek
Name: 1, dtype: object
____________________
Region      Europe & Central Asia
Code                          ARM
Name                      Armenia
Currency            Armenian dram
Name: 9, dtype: object
____________________
Region      Europe & Central Asia
Code                          AUT
Name                      Austria
Currency                     Euro
Name: 12, dtype: object
____________________
Region      Europe & Central Asia
Code                          AZE
Name                   Azerbaijan
Currency          New Azeri manat
Name: 13, dtype: object
____________________
Region      Europe & Central Asia
Code                          BEL
Name                      Belgium
Currency                     Euro
Name: 18, dtype: object
____________________
Region      Europe & Central Asia
Code                          BGR
Name                     Bulgaria
Currency            Bulgarian lev
Name: 28, dtype: object
____________________
Region                        Europe & Central Asia
Code                                            BIH
Name                         Bosnia and Herzegovina
Currency    Bosnia and Herzegovina convertible mark
Name: 24, dtype: object
____________________
Region      Europe & Central Asia
Code                          BLR
Name                      Belarus
Currency         Belarusian rubel
Name: 17, dtype: object
____________________
Region      Europe & Central Asia
Code                          CHE
Name                  Switzerland
Currency              Swiss franc
Name: 214, dtype: object
____________________
Region      Europe & Central Asia
Code                          CHI
Name              Channel Islands
Currency           Pound sterling
Name: 40, dtype: object
____________________
Region      Europe & Central Asia
Code                          CYP
Name                       Cyprus
Currency                     Euro
Name: 51, dtype: object
____________________
Region      Europe & Central Asia
Code                          CZE
Name               Czech Republic
Currency             Czech koruna
Name: 52, dtype: object
____________________
Region      Europe & Central Asia
Code                          DEU
Name                      Germany
Currency                     Euro
Name: 80, dtype: object
____________________
Region      Europe & Central Asia
Code                          DNK
Name                      Denmark
Currency             Danish krone
Name: 55, dtype: object
____________________
Region      Europe & Central Asia
Code                          ESP
Name                        Spain
Currency                     Euro
Name: 202, dtype: object
____________________
Region      Europe & Central Asia
Code                          EST
Name                      Estonia
Currency                     Euro
Name: 66, dtype: object
____________________
Region      Europe & Central Asia
Code                          FIN
Name                      Finland
Currency                     Euro
Name: 74, dtype: object
____________________
Region      Europe & Central Asia
Code                          FRA
Name                       France
Currency                     Euro
Name: 76, dtype: object
____________________
Region      Europe & Central Asia
Code                          FRO
Name               Faeroe Islands
Currency             Danish krone
Name: 72, dtype: object
____________________
Region      Europe & Central Asia
Code                          GBR
Name               United Kingdom
Currency           Pound sterling
Name: 233, dtype: object
____________________
Region      Europe & Central Asia
Code                          GEO
Name                      Georgia
Currency            Georgian lari
Name: 79, dtype: object
____________________
Region      Europe & Central Asia
Code                          GRC
Name                       Greece
Currency                     Euro
Name: 82, dtype: object
____________________
Region      Europe & Central Asia
Code                          GRL
Name                    Greenland
Currency             Danish krone
Name: 83, dtype: object
____________________
Region      Europe & Central Asia
Code                          HRV
Name                      Croatia
Currency            Croatian kuna
Name: 48, dtype: object
____________________
Region      Europe & Central Asia
Code                          HUN
Name                      Hungary
Currency         Hungarian forint
Name: 97, dtype: object
____________________
Region      Europe & Central Asia
Code                          IMY
Name                  Isle of Man
Currency           Pound sterling
Name: 104, dtype: object
____________________
Region      Europe & Central Asia
Code                          IRL
Name                      Ireland
Currency                     Euro
Name: 103, dtype: object
____________________
Region      Europe & Central Asia
Code                          ISL
Name                      Iceland
Currency            Iceland krona
Name: 98, dtype: object
____________________
Region      Europe & Central Asia
Code                          ITA
Name                        Italy
Currency                     Euro
Name: 106, dtype: object
____________________
Region      Europe & Central Asia
Code                          KAZ
Name                   Kazakhstan
Currency             Kazakh tenge
Name: 110, dtype: object
____________________
Region      Europe & Central Asia
Code                          KGZ
Name              Kyrgyz Republic
Currency               Kyrgyz som
Name: 116, dtype: object
____________________
Region      Europe & Central Asia
Code                          KSV
Name                       Kosovo
Currency                     Euro
Name: 114, dtype: object
____________________
Region      Europe & Central Asia
Code                          LIE
Name                Liechtenstein
Currency              Swiss franc
Name: 126, dtype: object
____________________
Region      Europe & Central Asia
Code                          LTU
Name                    Lithuania
Currency                     Euro
Name: 127, dtype: object
____________________
Region      Europe & Central Asia
Code                          LUX
Name                   Luxembourg
Currency                     Euro
Name: 131, dtype: object
____________________
Region      Europe & Central Asia
Code                          LVA
Name                       Latvia
Currency                     Euro
Name: 120, dtype: object
____________________
Region      Europe & Central Asia
Code                          MCO
Name                       Monaco
Currency                     Euro
Name: 149, dtype: object
____________________
Region      Europe & Central Asia
Code                          MDA
Name                      Moldova
Currency             Moldovan leu
Name: 148, dtype: object
____________________
Region      Europe & Central Asia
Code                          MKD
Name                    Macedonia
Currency         Macedonian denar
Name: 133, dtype: object
____________________
Region      Europe & Central Asia
Code                          MNE
Name                   Montenegro
Currency                     Euro
Name: 151, dtype: object
____________________
Region      Europe & Central Asia
Code                          NLD
Name                  Netherlands
Currency                     Euro
Name: 157, dtype: object
____________________
Region      Europe & Central Asia
Code                          NOR
Name                       Norway
Currency          Norwegian krone
Name: 165, dtype: object
____________________
Region      Europe & Central Asia
Code                          POL
Name                       Poland
Currency             Polish zloty
Name: 177, dtype: object
____________________
Region      Europe & Central Asia
Code                          PRT
Name                     Portugal
Currency                     Euro
Name: 178, dtype: object
____________________
Region      Europe & Central Asia
Code                          ROM
Name                      Romania
Currency         New Romanian leu
Name: 181, dtype: object
____________________
Region      Europe & Central Asia
Code                          RUS
Name                       Russia
Currency            Russian ruble
Name: 182, dtype: object
____________________
Region      Europe & Central Asia
Code                          SMR
Name                   San Marino
Currency                     Euro
Name: 185, dtype: object
____________________
Region      Europe & Central Asia
Code                          SRB
Name                       Serbia
Currency        New Serbian dinar
Name: 189, dtype: object
____________________
Region      Europe & Central Asia
Code                          SVK
Name              Slovak Republic
Currency                     Euro
Name: 194, dtype: object
____________________
Region      Europe & Central Asia
Code                          SVN
Name                     Slovenia
Currency                     Euro
Name: 195, dtype: object
____________________
Region      Europe & Central Asia
Code                          SWE
Name                       Sweden
Currency            Swedish krona
Name: 213, dtype: object
____________________
Region      Europe & Central Asia
Code                          TJK
Name                   Tajikistan
Currency             Tajik somoni
Name: 216, dtype: object
____________________
Region      Europe & Central Asia
Code                          TKM
Name                 Turkmenistan
Currency        New Turkmen manat
Name: 227, dtype: object
____________________
Region      Europe & Central Asia
Code                          TUR
Name                       Turkey
Currency         New Turkish lira
Name: 226, dtype: object
____________________
Region      Europe & Central Asia
Code                          UKR
Name                      Ukraine
Currency        Ukrainian hryvnia
Name: 231, dtype: object
____________________
Region      Europe & Central Asia
Code                          UZB
Name                   Uzbekistan
Currency                Uzbek sum
Name: 237, dtype: object
____________________
Region      Latin America & Caribbean
Code                              ABW
Name                            Aruba
Currency                Aruban florin
Name: 10, dtype: object
____________________
Region      Latin America & Caribbean
Code                              ARG
Name                        Argentina
Currency               Argentine peso
Name: 8, dtype: object
____________________
Region      Latin America & Caribbean
Code                              ATG
Name              Antigua and Barbuda
Currency        East Caribbean dollar
Name: 6, dtype: object
____________________
Region      Latin America & Caribbean
Code                              BHS
Name                      The Bahamas
Currency              Bahamian dollar
Name: 219, dtype: object
____________________
Region      Latin America & Caribbean
Code                              BLZ
Name                           Belize
Currency                Belize dollar
Name: 19, dtype: object
____________________
Region      Latin America & Caribbean
Code                              BOL
Name                          Bolivia
Currency           Bolivian Boliviano
Name: 23, dtype: object
____________________
Region      Latin America & Caribbean
Code                              BRA
Name                           Brazil
Currency               Brazilian real
Name: 26, dtype: object
____________________
Region      Latin America & Caribbean
Code                              BRB
Name                         Barbados
Currency              Barbados dollar
Name: 16, dtype: object
____________________
Region      Latin America & Caribbean
Code                              CHL
Name                            Chile
Currency                 Chilean peso
Name: 41, dtype: object
____________________
Region      Latin America & Caribbean
Code                              COL
Name                         Colombia
Currency               Colombian peso
Name: 43, dtype: object
____________________
Region      Latin America & Caribbean
Code                              CRI
Name                       Costa Rica
Currency            Costa Rican colon
Name: 46, dtype: object
____________________
Region      Latin America & Caribbean
Code                              CUB
Name                             Cuba
Currency                   Cuban peso
Name: 49, dtype: object
____________________
Region          Latin America & Caribbean
Code                                  CUW
Name                              Curaao
Currency    Netherlands Antillean guilder
Name: 50, dtype: object
____________________
Region      Latin America & Caribbean
Code                              CYM
Name                   Cayman Islands
Currency        Cayman Islands dollar
Name: 36, dtype: object
____________________
Region      Latin America & Caribbean
Code                              DMA
Name                         Dominica
Currency        East Caribbean dollar
Name: 57, dtype: object
____________________
Region      Latin America & Caribbean
Code                              DOM
Name               Dominican Republic
Currency               Dominican peso
Name: 58, dtype: object
____________________

In [102]:
for _, row_series in sorted_data.iterrows():
    print(row_series.values)
    print('_' * 100)

['East Asia & Pacific' 'ASM' 'American Samoa' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'AUS' 'Australia' 'Australian dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'BRN' 'Brunei' 'Brunei dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'CHN' 'China' 'Chinese yuan']
____________________________________________________________________________________________________
['East Asia & Pacific' 'FJI' 'Fiji' 'Fijian dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'FSM' 'Micronesia' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'GUM' 'Guam' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'HKG' 'Hong Kong SAR, China' 'Hong Kong dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'IDN' 'Indonesia' 'Indonesian rupiah']
____________________________________________________________________________________________________
['East Asia & Pacific' 'JPN' 'Japan' 'Japanese yen']
____________________________________________________________________________________________________
['East Asia & Pacific' 'KHM' 'Cambodia' 'Cambodian riel']
____________________________________________________________________________________________________
['East Asia & Pacific' 'KIR' 'Kiribati' 'Australian dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'KOR' 'Korea' 'Korean won']
____________________________________________________________________________________________________
['East Asia & Pacific' 'LAO' 'Lao PDR' 'Lao kip']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MAC' 'Macao SAR, China' 'Macao pataca']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MHL' 'Marshall Islands' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MMR' 'Myanmar' 'Myanmar kyat']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MNG' 'Mongolia' 'Mongolian tugrik']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MNP' 'Northern Mariana Islands' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'MYS' 'Malaysia' 'Malaysian ringgit']
____________________________________________________________________________________________________
['East Asia & Pacific' 'NCL' 'New Caledonia' 'CFP franc']
____________________________________________________________________________________________________
['East Asia & Pacific' 'NZL' 'New Zealand' 'New Zealand dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'PHL' 'Philippines' 'Philippine peso']
____________________________________________________________________________________________________
['East Asia & Pacific' 'PLW' 'Palau' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'PNG' 'Papua New Guinea' 'Papua New Guinea kina']
____________________________________________________________________________________________________
['East Asia & Pacific' 'PRK' "Dem. People's Rep. Korea"
 "Democratic People's Republic of Korean won"]
____________________________________________________________________________________________________
['East Asia & Pacific' 'PYF' 'French Polynesia' 'CFP franc']
____________________________________________________________________________________________________
['East Asia & Pacific' 'SGP' 'Singapore' 'Singapore dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'SLB' 'Solomon Islands' 'Solomon Islands dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'THA' 'Thailand' 'Thai baht']
____________________________________________________________________________________________________
['East Asia & Pacific' 'TMP' 'Timor-Leste' 'U.S. dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'TON' 'Tonga' "Tongan pa'anga"]
____________________________________________________________________________________________________
['East Asia & Pacific' 'TUV' 'Tuvalu' 'Australian dollar']
____________________________________________________________________________________________________
['East Asia & Pacific' 'VNM' 'Vietnam' 'Vietnamese dong']
____________________________________________________________________________________________________
['East Asia & Pacific' 'VUT' 'Vanuatu' 'Vanuatu vatu']
____________________________________________________________________________________________________
['East Asia & Pacific' 'WSM' 'Samoa' 'Samoan tala']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ADO' 'Andorra' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ALB' 'Albania' 'Albanian lek']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ARM' 'Armenia' 'Armenian dram']
____________________________________________________________________________________________________
['Europe & Central Asia' 'AUT' 'Austria' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'AZE' 'Azerbaijan' 'New Azeri manat']
____________________________________________________________________________________________________
['Europe & Central Asia' 'BEL' 'Belgium' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'BGR' 'Bulgaria' 'Bulgarian lev']
____________________________________________________________________________________________________
['Europe & Central Asia' 'BIH' 'Bosnia and Herzegovina'
 'Bosnia and Herzegovina convertible mark']
____________________________________________________________________________________________________
['Europe & Central Asia' 'BLR' 'Belarus' 'Belarusian rubel']
____________________________________________________________________________________________________
['Europe & Central Asia' 'CHE' 'Switzerland' 'Swiss franc']
____________________________________________________________________________________________________
['Europe & Central Asia' 'CHI' 'Channel Islands' 'Pound sterling']
____________________________________________________________________________________________________
['Europe & Central Asia' 'CYP' 'Cyprus' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'CZE' 'Czech Republic' 'Czech koruna']
____________________________________________________________________________________________________
['Europe & Central Asia' 'DEU' 'Germany' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'DNK' 'Denmark' 'Danish krone']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ESP' 'Spain' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'EST' 'Estonia' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'FIN' 'Finland' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'FRA' 'France' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'FRO' 'Faeroe Islands' 'Danish krone']
____________________________________________________________________________________________________
['Europe & Central Asia' 'GBR' 'United Kingdom' 'Pound sterling']
____________________________________________________________________________________________________
['Europe & Central Asia' 'GEO' 'Georgia' 'Georgian lari']
____________________________________________________________________________________________________
['Europe & Central Asia' 'GRC' 'Greece' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'GRL' 'Greenland' 'Danish krone']
____________________________________________________________________________________________________
['Europe & Central Asia' 'HRV' 'Croatia' 'Croatian kuna']
____________________________________________________________________________________________________
['Europe & Central Asia' 'HUN' 'Hungary' 'Hungarian forint']
____________________________________________________________________________________________________
['Europe & Central Asia' 'IMY' 'Isle of Man' 'Pound sterling']
____________________________________________________________________________________________________
['Europe & Central Asia' 'IRL' 'Ireland' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ISL' 'Iceland' 'Iceland krona']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ITA' 'Italy' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'KAZ' 'Kazakhstan' 'Kazakh tenge']
____________________________________________________________________________________________________
['Europe & Central Asia' 'KGZ' 'Kyrgyz Republic' 'Kyrgyz som']
____________________________________________________________________________________________________
['Europe & Central Asia' 'KSV' 'Kosovo' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'LIE' 'Liechtenstein' 'Swiss franc']
____________________________________________________________________________________________________
['Europe & Central Asia' 'LTU' 'Lithuania' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'LUX' 'Luxembourg' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'LVA' 'Latvia' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'MCO' 'Monaco' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'MDA' 'Moldova' 'Moldovan leu']
____________________________________________________________________________________________________
['Europe & Central Asia' 'MKD' 'Macedonia' 'Macedonian denar']
____________________________________________________________________________________________________
['Europe & Central Asia' 'MNE' 'Montenegro' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'NLD' 'Netherlands' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'NOR' 'Norway' 'Norwegian krone']
____________________________________________________________________________________________________
['Europe & Central Asia' 'POL' 'Poland' 'Polish zloty']
____________________________________________________________________________________________________
['Europe & Central Asia' 'PRT' 'Portugal' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'ROM' 'Romania' 'New Romanian leu']
____________________________________________________________________________________________________
['Europe & Central Asia' 'RUS' 'Russia' 'Russian ruble']
____________________________________________________________________________________________________
['Europe & Central Asia' 'SMR' 'San Marino' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'SRB' 'Serbia' 'New Serbian dinar']
____________________________________________________________________________________________________
['Europe & Central Asia' 'SVK' 'Slovak Republic' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'SVN' 'Slovenia' 'Euro']
____________________________________________________________________________________________________
['Europe & Central Asia' 'SWE' 'Sweden' 'Swedish krona']
____________________________________________________________________________________________________
['Europe & Central Asia' 'TJK' 'Tajikistan' 'Tajik somoni']
____________________________________________________________________________________________________
['Europe & Central Asia' 'TKM' 'Turkmenistan' 'New Turkmen manat']
____________________________________________________________________________________________________
['Europe & Central Asia' 'TUR' 'Turkey' 'New Turkish lira']
____________________________________________________________________________________________________
['Europe & Central Asia' 'UKR' 'Ukraine' 'Ukrainian hryvnia']
____________________________________________________________________________________________________
['Europe & Central Asia' 'UZB' 'Uzbekistan' 'Uzbek sum']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'ABW' 'Aruba' 'Aruban florin']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'ARG' 'Argentina' 'Argentine peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'ATG' 'Antigua and Barbuda'
 'East Caribbean dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'BHS' 'The Bahamas' 'Bahamian dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'BLZ' 'Belize' 'Belize dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'BOL' 'Bolivia' 'Bolivian Boliviano']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'BRA' 'Brazil' 'Brazilian real']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'BRB' 'Barbados' 'Barbados dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'CHL' 'Chile' 'Chilean peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'COL' 'Colombia' 'Colombian peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'CRI' 'Costa Rica' 'Costa Rican colon']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'CUB' 'Cuba' 'Cuban peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'CUW' 'Curaao'
 'Netherlands Antillean guilder']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'CYM' 'Cayman Islands'
 'Cayman Islands dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'DMA' 'Dominica' 'East Caribbean dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'DOM' 'Dominican Republic' 'Dominican peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'ECU' 'Ecuador' 'U.S. dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'GRD' 'Grenada' 'East Caribbean dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'GTM' 'Guatemala' 'Guatemalan quetzal']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'GUY' 'Guyana' 'Guyana dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'HND' 'Honduras' 'Honduran lempira']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'HTI' 'Haiti' 'Haitian gourde']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'JAM' 'Jamaica' 'Jamaican dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'KNA' 'St. Kitts and Nevis'
 'East Caribbean dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'LCA' 'St. Lucia' 'East Caribbean dollar']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'MAF' 'St. Martin (French part)' 'Euro']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'MEX' 'Mexico' 'Mexican peso']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'NIC' 'Nicaragua' 'Nicaraguan gold cordoba']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'PAN' 'Panama' 'Panamanian balboa']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'PER' 'Peru' 'Peruvian new sol']
____________________________________________________________________________________________________
['Latin America & Caribbean' 'PRI' 'Puerto Rico' 'U.S. dollar']

In [103]:
for _, row_series in sorted_data.iterrows():
    print(row_series.values)

['East Asia & Pacific' 'ASM' 'American Samoa' 'U.S. dollar']
['East Asia & Pacific' 'AUS' 'Australia' 'Australian dollar']
['East Asia & Pacific' 'BRN' 'Brunei' 'Brunei dollar']
['East Asia & Pacific' 'CHN' 'China' 'Chinese yuan']
['East Asia & Pacific' 'FJI' 'Fiji' 'Fijian dollar']
['East Asia & Pacific' 'FSM' 'Micronesia' 'U.S. dollar']
['East Asia & Pacific' 'GUM' 'Guam' 'U.S. dollar']
['East Asia & Pacific' 'HKG' 'Hong Kong SAR, China' 'Hong Kong dollar']
['East Asia & Pacific' 'IDN' 'Indonesia' 'Indonesian rupiah']
['East Asia & Pacific' 'JPN' 'Japan' 'Japanese yen']
['East Asia & Pacific' 'KHM' 'Cambodia' 'Cambodian riel']
['East Asia & Pacific' 'KIR' 'Kiribati' 'Australian dollar']
['East Asia & Pacific' 'KOR' 'Korea' 'Korean won']
['East Asia & Pacific' 'LAO' 'Lao PDR' 'Lao kip']
['East Asia & Pacific' 'MAC' 'Macao SAR, China' 'Macao pataca']
['East Asia & Pacific' 'MHL' 'Marshall Islands' 'U.S. dollar']
['East Asia & Pacific' 'MMR' 'Myanmar' 'Myanmar kyat']
['East Asia & Pacific' 'MNG' 'Mongolia' 'Mongolian tugrik']
['East Asia & Pacific' 'MNP' 'Northern Mariana Islands' 'U.S. dollar']
['East Asia & Pacific' 'MYS' 'Malaysia' 'Malaysian ringgit']
['East Asia & Pacific' 'NCL' 'New Caledonia' 'CFP franc']
['East Asia & Pacific' 'NZL' 'New Zealand' 'New Zealand dollar']
['East Asia & Pacific' 'PHL' 'Philippines' 'Philippine peso']
['East Asia & Pacific' 'PLW' 'Palau' 'U.S. dollar']
['East Asia & Pacific' 'PNG' 'Papua New Guinea' 'Papua New Guinea kina']
['East Asia & Pacific' 'PRK' "Dem. People's Rep. Korea"
 "Democratic People's Republic of Korean won"]
['East Asia & Pacific' 'PYF' 'French Polynesia' 'CFP franc']
['East Asia & Pacific' 'SGP' 'Singapore' 'Singapore dollar']
['East Asia & Pacific' 'SLB' 'Solomon Islands' 'Solomon Islands dollar']
['East Asia & Pacific' 'THA' 'Thailand' 'Thai baht']
['East Asia & Pacific' 'TMP' 'Timor-Leste' 'U.S. dollar']
['East Asia & Pacific' 'TON' 'Tonga' "Tongan pa'anga"]
['East Asia & Pacific' 'TUV' 'Tuvalu' 'Australian dollar']
['East Asia & Pacific' 'VNM' 'Vietnam' 'Vietnamese dong']
['East Asia & Pacific' 'VUT' 'Vanuatu' 'Vanuatu vatu']
['East Asia & Pacific' 'WSM' 'Samoa' 'Samoan tala']
['Europe & Central Asia' 'ADO' 'Andorra' 'Euro']
['Europe & Central Asia' 'ALB' 'Albania' 'Albanian lek']
['Europe & Central Asia' 'ARM' 'Armenia' 'Armenian dram']
['Europe & Central Asia' 'AUT' 'Austria' 'Euro']
['Europe & Central Asia' 'AZE' 'Azerbaijan' 'New Azeri manat']
['Europe & Central Asia' 'BEL' 'Belgium' 'Euro']
['Europe & Central Asia' 'BGR' 'Bulgaria' 'Bulgarian lev']
['Europe & Central Asia' 'BIH' 'Bosnia and Herzegovina'
 'Bosnia and Herzegovina convertible mark']
['Europe & Central Asia' 'BLR' 'Belarus' 'Belarusian rubel']
['Europe & Central Asia' 'CHE' 'Switzerland' 'Swiss franc']
['Europe & Central Asia' 'CHI' 'Channel Islands' 'Pound sterling']
['Europe & Central Asia' 'CYP' 'Cyprus' 'Euro']
['Europe & Central Asia' 'CZE' 'Czech Republic' 'Czech koruna']
['Europe & Central Asia' 'DEU' 'Germany' 'Euro']
['Europe & Central Asia' 'DNK' 'Denmark' 'Danish krone']
['Europe & Central Asia' 'ESP' 'Spain' 'Euro']
['Europe & Central Asia' 'EST' 'Estonia' 'Euro']
['Europe & Central Asia' 'FIN' 'Finland' 'Euro']
['Europe & Central Asia' 'FRA' 'France' 'Euro']
['Europe & Central Asia' 'FRO' 'Faeroe Islands' 'Danish krone']
['Europe & Central Asia' 'GBR' 'United Kingdom' 'Pound sterling']
['Europe & Central Asia' 'GEO' 'Georgia' 'Georgian lari']
['Europe & Central Asia' 'GRC' 'Greece' 'Euro']
['Europe & Central Asia' 'GRL' 'Greenland' 'Danish krone']
['Europe & Central Asia' 'HRV' 'Croatia' 'Croatian kuna']
['Europe & Central Asia' 'HUN' 'Hungary' 'Hungarian forint']
['Europe & Central Asia' 'IMY' 'Isle of Man' 'Pound sterling']
['Europe & Central Asia' 'IRL' 'Ireland' 'Euro']
['Europe & Central Asia' 'ISL' 'Iceland' 'Iceland krona']
['Europe & Central Asia' 'ITA' 'Italy' 'Euro']
['Europe & Central Asia' 'KAZ' 'Kazakhstan' 'Kazakh tenge']
['Europe & Central Asia' 'KGZ' 'Kyrgyz Republic' 'Kyrgyz som']
['Europe & Central Asia' 'KSV' 'Kosovo' 'Euro']
['Europe & Central Asia' 'LIE' 'Liechtenstein' 'Swiss franc']
['Europe & Central Asia' 'LTU' 'Lithuania' 'Euro']
['Europe & Central Asia' 'LUX' 'Luxembourg' 'Euro']
['Europe & Central Asia' 'LVA' 'Latvia' 'Euro']
['Europe & Central Asia' 'MCO' 'Monaco' 'Euro']
['Europe & Central Asia' 'MDA' 'Moldova' 'Moldovan leu']
['Europe & Central Asia' 'MKD' 'Macedonia' 'Macedonian denar']
['Europe & Central Asia' 'MNE' 'Montenegro' 'Euro']
['Europe & Central Asia' 'NLD' 'Netherlands' 'Euro']
['Europe & Central Asia' 'NOR' 'Norway' 'Norwegian krone']
['Europe & Central Asia' 'POL' 'Poland' 'Polish zloty']
['Europe & Central Asia' 'PRT' 'Portugal' 'Euro']
['Europe & Central Asia' 'ROM' 'Romania' 'New Romanian leu']
['Europe & Central Asia' 'RUS' 'Russia' 'Russian ruble']
['Europe & Central Asia' 'SMR' 'San Marino' 'Euro']
['Europe & Central Asia' 'SRB' 'Serbia' 'New Serbian dinar']
['Europe & Central Asia' 'SVK' 'Slovak Republic' 'Euro']
['Europe & Central Asia' 'SVN' 'Slovenia' 'Euro']
['Europe & Central Asia' 'SWE' 'Sweden' 'Swedish krona']
['Europe & Central Asia' 'TJK' 'Tajikistan' 'Tajik somoni']
['Europe & Central Asia' 'TKM' 'Turkmenistan' 'New Turkmen manat']
['Europe & Central Asia' 'TUR' 'Turkey' 'New Turkish lira']
['Europe & Central Asia' 'UKR' 'Ukraine' 'Ukrainian hryvnia']
['Europe & Central Asia' 'UZB' 'Uzbekistan' 'Uzbek sum']
['Latin America & Caribbean' 'ABW' 'Aruba' 'Aruban florin']
['Latin America & Caribbean' 'ARG' 'Argentina' 'Argentine peso']
['Latin America & Caribbean' 'ATG' 'Antigua and Barbuda'
 'East Caribbean dollar']
['Latin America & Caribbean' 'BHS' 'The Bahamas' 'Bahamian dollar']
['Latin America & Caribbean' 'BLZ' 'Belize' 'Belize dollar']
['Latin America & Caribbean' 'BOL' 'Bolivia' 'Bolivian Boliviano']
['Latin America & Caribbean' 'BRA' 'Brazil' 'Brazilian real']
['Latin America & Caribbean' 'BRB' 'Barbados' 'Barbados dollar']
['Latin America & Caribbean' 'CHL' 'Chile' 'Chilean peso']
['Latin America & Caribbean' 'COL' 'Colombia' 'Colombian peso']
['Latin America & Caribbean' 'CRI' 'Costa Rica' 'Costa Rican colon']
['Latin America & Caribbean' 'CUB' 'Cuba' 'Cuban peso']
['Latin America & Caribbean' 'CUW' 'Curaao'
 'Netherlands Antillean guilder']
['Latin America & Caribbean' 'CYM' 'Cayman Islands'
 'Cayman Islands dollar']
['Latin America & Caribbean' 'DMA' 'Dominica' 'East Caribbean dollar']
['Latin America & Caribbean' 'DOM' 'Dominican Republic' 'Dominican peso']
['Latin America & Caribbean' 'ECU' 'Ecuador' 'U.S. dollar']
['Latin America & Caribbean' 'GRD' 'Grenada' 'East Caribbean dollar']
['Latin America & Caribbean' 'GTM' 'Guatemala' 'Guatemalan quetzal']
['Latin America & Caribbean' 'GUY' 'Guyana' 'Guyana dollar']
['Latin America & Caribbean' 'HND' 'Honduras' 'Honduran lempira']
['Latin America & Caribbean' 'HTI' 'Haiti' 'Haitian gourde']
['Latin America & Caribbean' 'JAM' 'Jamaica' 'Jamaican dollar']
['Latin America & Caribbean' 'KNA' 'St. Kitts and Nevis'
 'East Caribbean dollar']
['Latin America & Caribbean' 'LCA' 'St. Lucia' 'East Caribbean dollar']
['Latin America & Caribbean' 'MAF' 'St. Martin (French part)' 'Euro']
['Latin America & Caribbean' 'MEX' 'Mexico' 'Mexican peso']
['Latin America & Caribbean' 'NIC' 'Nicaragua' 'Nicaraguan gold cordoba']
['Latin America & Caribbean' 'PAN' 'Panama' 'Panamanian balboa']
['Latin America & Caribbean' 'PER' 'Peru' 'Peruvian new sol']
['Latin America & Caribbean' 'PRI' 'Puerto Rico' 'U.S. dollar']
['Latin America & Caribbean' 'PRY' 'Paraguay' 'Paraguayan guarani']
['Latin America & Caribbean' 'SLV' 'El Salvador' 'U.S. dollar']
['Latin America & Caribbean' 'SUR' 'Suriname' 'Suriname dollar']
['Latin America & Caribbean' 'SXM' 'Sint Maarten (Dutch part)'
 'Netherlands Antillean guilder']
['Latin America & Caribbean' 'TCA' 'Turks and Caicos Islands'
 'U.S. dollar']
['Latin America & Caribbean' 'TTO' 'Trinidad and Tobago'
 'Trinidad and Tobago dollar']
['Latin America & Caribbean' 'URY' 'Uruguay' 'Uruguayan peso']
['Latin America & Caribbean' 'VCT' 'St. Vincent and the Grenadines'
 'East Caribbean dollar']
['Latin America & Caribbean' 'VEN' 'Venezuela' 'Venezuelan bolivar fuerte']
['Latin America & Caribbean' 'VIR' 'Virgin Islands' 'U.S. dollar']
['Middle East & North Africa' 'ARE' 'United Arab Emirates' 'U.A.E. dirham']
['Middle East & North Africa' 'BHR' 'Bahrain' 'Bahraini dinar']
['Middle East & North Africa' 'DJI' 'Djibouti' 'Djibouti franc']
['Middle East & North Africa' 'DZA' 'Algeria' 'Algerian dinar']
['Middle East & North Africa' 'EGY' 'Egypt' 'Egyptian pound']
['Middle East & North Africa' 'IRN' 'Iran' 'Iranian rial']
['Middle East & North Africa' 'IRQ' 'Iraq' 'Iraqi dinar']
['Middle East & North Africa' 'ISR' 'Israel' 'Israeli new shekel']
['Middle East & North Africa' 'JOR' 'Jordan' 'Jordanian dinar']
['Middle East & North Africa' 'KWT' 'Kuwait' 'Kuwaiti dinar']
['Middle East & North Africa' 'LBN' 'Lebanon' 'Lebanese pound']
['Middle East & North Africa' 'LBY' 'Libya' 'Libyan dinar']
['Middle East & North Africa' 'MAR' 'Morocco' 'Moroccan dirham']
['Middle East & North Africa' 'MLT' 'Malta' 'Euro']
['Middle East & North Africa' 'OMN' 'Oman' 'Rial Omani']
['Middle East & North Africa' 'QAT' 'Qatar' 'Qatari riyal']
['Middle East & North Africa' 'SAU' 'Saudi Arabia' 'Saudi Arabian riyal']
['Middle East & North Africa' 'SYR' 'Syrian Arab Republic' 'Syrian pound']
['Middle East & North Africa' 'TUN' 'Tunisia' 'Tunisian dinar']
['Middle East & North Africa' 'WBG' 'West Bank and Gaza'
 'Israeli new shekel']
['Middle East & North Africa' 'YEM' 'Yemen' 'Yemeni rial']
['North America' 'BMU' 'Bermuda' 'Bermuda dollar']
['North America' 'CAN' 'Canada' 'Canadian dollar']
['North America' 'USA' 'United States' 'U.S. dollar']
['South Asia' 'AFG' 'Afghanistan' 'Afghan afghani']
['South Asia' 'BGD' 'Bangladesh' 'Bangladeshi taka']
['South Asia' 'BTN' 'Bhutan' 'Bhutanese ngultrum']
['South Asia' 'IND' 'India' 'Indian rupee']
['South Asia' 'LKA' 'Sri Lanka' 'Sri Lankan rupee']
['South Asia' 'MDV' 'Maldives' 'Maldivian rufiyaa']
['South Asia' 'NPL' 'Nepal' 'Nepalese rupee']
['South Asia' 'PAK' 'Pakistan' 'Pakistani rupee']
['Sub-Saharan Africa' 'AGO' 'Angola' 'Angolan kwanza']
['Sub-Saharan Africa' 'BDI' 'Burundi' 'Burundi franc']
['Sub-Saharan Africa' 'BEN' 'Benin' 'West African CFA franc']
['Sub-Saharan Africa' 'BFA' 'Burkina Faso' 'West African CFA franc']
['Sub-Saharan Africa' 'BWA' 'Botswana' 'Botswana pula']
['Sub-Saharan Africa' 'CAF' 'Central African Republic'
 'Central African CFA franc']
['Sub-Saharan Africa' 'CIV' "Cte d'Ivoire" 'West African CFA franc']
['Sub-Saharan Africa' 'CMR' 'Cameroon' 'Central African CFA franc']
['Sub-Saharan Africa' 'COG' 'Congo' 'Central African CFA franc']
['Sub-Saharan Africa' 'COM' 'Comoros' 'Comorian franc']
['Sub-Saharan Africa' 'CPV' 'Cabo Verde' 'Cabo Verde escudo']
['Sub-Saharan Africa' 'ERI' 'Eritrea' 'Eritrean nakfa']
['Sub-Saharan Africa' 'ETH' 'Ethiopia' 'Ethiopian birr']
['Sub-Saharan Africa' 'GAB' 'Gabon' 'Central African CFA franc']
['Sub-Saharan Africa' 'GHA' 'Ghana' 'New Ghanaian cedi']
['Sub-Saharan Africa' 'GIN' 'Guinea' 'Guinean franc']
['Sub-Saharan Africa' 'GMB' 'The Gambia' 'Gambian dalasi']
['Sub-Saharan Africa' 'GNB' 'Guinea-Bissau' 'West African CFA franc']
['Sub-Saharan Africa' 'GNQ' 'Equatorial Guinea'
 'Central African CFA franc']
['Sub-Saharan Africa' 'KEN' 'Kenya' 'Kenyan shilling']
['Sub-Saharan Africa' 'LBR' 'Liberia' 'U.S. dollar']
['Sub-Saharan Africa' 'LSO' 'Lesotho' 'Lesotho loti']
['Sub-Saharan Africa' 'MDG' 'Madagascar' 'Malagasy ariary']
['Sub-Saharan Africa' 'MLI' 'Mali' 'West African CFA franc']
['Sub-Saharan Africa' 'MOZ' 'Mozambique' 'New Mozambican metical']
['Sub-Saharan Africa' 'MRT' 'Mauritania' 'Mauritanian ouguiya']
['Sub-Saharan Africa' 'MUS' 'Mauritius' 'Mauritian rupee']
['Sub-Saharan Africa' 'MWI' 'Malawi' 'Malawi kwacha']
['Sub-Saharan Africa' 'NAM' 'Namibia' 'Namibian dollar']
['Sub-Saharan Africa' 'NER' 'Niger' 'West African CFA franc']
['Sub-Saharan Africa' 'NGA' 'Nigeria' 'Nigerian naira']
['Sub-Saharan Africa' 'RWA' 'Rwanda' 'Rwandan franc']
['Sub-Saharan Africa' 'SDN' 'Sudan' 'Sudanese pound']
['Sub-Saharan Africa' 'SEN' 'Senegal' 'West African CFA franc']
['Sub-Saharan Africa' 'SLE' 'Sierra Leone' 'Sierra Leonean leone']
['Sub-Saharan Africa' 'SOM' 'Somalia' 'Somali shilling']
['Sub-Saharan Africa' 'SSD' 'South Sudan' 'South Sudanese Pound']
['Sub-Saharan Africa' 'STP' 'So Tom and Principe'
 'So Tom and Principe dobra']
['Sub-Saharan Africa' 'SWZ' 'Swaziland' 'Swaziland lilangeni']
['Sub-Saharan Africa' 'SYC' 'Seychelles' 'Seychelles rupee']
['Sub-Saharan Africa' 'TCD' 'Chad' 'Central African CFA franc']
['Sub-Saharan Africa' 'TGO' 'Togo' 'West African CFA franc']
['Sub-Saharan Africa' 'TZA' 'Tanzania' 'Tanzanian shilling']
['Sub-Saharan Africa' 'UGA' 'Uganda' 'Ugandan shilling']
['Sub-Saharan Africa' 'ZAF' 'South Africa' 'South African rand']
['Sub-Saharan Africa' 'ZAR' 'Dem. Rep. Congo' 'Congolese franc']
['Sub-Saharan Africa' 'ZMB' 'Zambia' 'New Zambian kwacha']
['Sub-Saharan Africa' 'ZWE' 'Zimbabwe' 'U.S. dollar']

### Manipulating Data

In [104]:
import pandas as pd
import numpy as np

In [105]:
m = np.array(
    [
        [1, 10, 100],
        [2, 20, 200],
        [3, 30, 300], 
        [4, 40, 400]
    ]
)

In [106]:
np.mean(m, axis = 0)

array([  2.5,  25. , 250. ])

In [107]:
np.mean(m, axis = 1)

array([ 37.,  74., 111., 148.])

In [108]:
m.mean(axis = 1)

array([ 37.,  74., 111., 148.])

In [109]:
df = pd.DataFrame(
    m,
    index = ['r0', 'r1', 'r2', 'r3'],
    columns = ['c0', 'c1', 'c2']
)
df

    c0  c1   c2
r0   1  10  100
r1   2  20  200
r2   3  30  300
r3   4  40  400

In [110]:
df.mean()

c0      2.5
c1     25.0
c2    250.0
dtype: float64

In [111]:
df.mean(axis=0)

c0      2.5
c1     25.0
c2    250.0
dtype: float64

In [112]:
df.mean(axis=1)

r0     37.0
r1     74.0
r2    111.0
r3    148.0
dtype: float64

In [113]:
df.sum(axis=1)

r0    111
r1    222
r2    333
r3    444
dtype: int64

In [114]:
df

    c0  c1   c2
r0   1  10  100
r1   2  20  200
r2   3  30  300
r3   4  40  400

In [117]:
df['c0'] + df['c1']

r0    11
r1    22
r2    33
r3    44
dtype: int32

In [120]:
df.loc[:, 'c0'] + df.iloc[:, 1]

r0    11
r1    22
r2    33
r3    44
dtype: int32

In [121]:
np.sin(df)

          c0        c1        c2
r0  0.841471 -0.544021 -0.506366
r1  0.909297  0.912945 -0.873297
r2  0.141120 -0.988032 -0.999756
r3 -0.756802  0.745113 -0.850919

In [122]:
df.transpose()

     r0   r1   r2   r3
c0    1    2    3    4
c1   10   20   30   40
c2  100  200  300  400

In [123]:
df = pd.read_csv('files/world_bank_countries.csv')
df.iloc[:5]

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,NationalAccountsBaseYear,NationalAccountsReferenceYear,SnaPriceValuation,LendingCategory,OtherGroups,SystemOfNationalAccounts,AlternativeConversionFactor,PppSurveyYear,BalanceOfPaymentsManualInUse,ExternalDebtReportingStatus,SystemOfTrade,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,1996,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,1980,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1968 System of National Accou...,NaN,2011,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,NaN,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,2011 (household consumption only).,NaN,NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   CountryCode                                 247 non-null    object
 1   ShortName                                   247 non-null    object
 2   TableName                                   247 non-null    object
 3   LongName                                    247 non-null    object
 4   Alpha2Code                                  244 non-null    object
 5   CurrencyUnit                                214 non-null    object
 6   SpecialNotes                                164 non-null    object
 7   Region                                      214 non-null    object
 8   IncomeGroup                                 214 non-null    object
 9   Wb2Code                                     246 non-null    object
 10  NationalAccountsBaseYear                    205 non-null    object
 11  NationalAccountsReferenceYear               54 non-null     object
 12  SnaPriceValuation                           198 non-null    object
 13  LendingCategory                             144 non-null    object
 14  OtherGroups                                 59 non-null     object
 15  SystemOfNationalAccounts                    214 non-null    object
 16  AlternativeConversionFactor                 47 non-null     object
 17  PppSurveyYear                               191 non-null    object
 18  BalanceOfPaymentsManualInUse                181 non-null    object
 19  ExternalDebtReportingStatus                 124 non-null    object
 20  SystemOfTrade                               200 non-null    object
 21  GovernmentAccountingConcept                 161 non-null    object
 22  ImfDataDisseminationStandard                183 non-null    object
 23  LatestPopulationCensus                      213 non-null    object
 24  LatestHouseholdSurvey                       147 non-null    object
 25  SourceOfMostRecentIncomeAndExpenditureData  158 non-null    object
 26  VitalRegistrationComplete                   112 non-null    object
 27  LatestAgriculturalCensus                    142 non-null    object
 28  LatestIndustrialData                        113 non-null    float64
 29  LatestTradeData                             186 non-null    float64
 30  LatestWaterWithdrawalData                   180 non-null    float64
dtypes: float64(3), object(28)
memory usage: 59.9+ KB

In [126]:
df['LatestPopulationCensus'].unique()

array(['1979', '2011', '2008', '2010',
       '2011. Population data compiled from administrative registers.',
       '2014', nan, '2009', '2013', '2005', '2012', '2006', '2003',
       'Guernsey: 2009; Jersey: 2011.', '2007', '1984', '2002',
       '2006. Rolling census based on continuous sample survey.', '1997',
       '2004', '1943', '1993', '1998', '1987', '2001', '1989'],
      dtype=object)

In [127]:
try:
    pd.to_numeric(df['LatestPopulationCensus'])
except ValueError as ex:
    print('Value Error:', ex)

Value Error: Unable to parse string "2011. Population data compiled from administrative registers." at position 4

In [128]:
latest_census = pd.to_numeric(df['LatestPopulationCensus'], errors='coerce')
latest_census

0      1979.0
1      2011.0
2      2008.0
3      2010.0
4         NaN
        ...
242    2007.0
243       NaN
244    2004.0
245    2010.0
246    2012.0
Name: LatestPopulationCensus, Length: 247, dtype: float64

In [129]:
try:
    latest_census.astype(int)
except ValueError as ex:
    print('Value Error:', ex)

Value Error: Cannot convert non-finite values (NA or inf) to integer

In [130]:
latest_census.dropna().astype(int)

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [131]:
latest_census[latest_census.notnull()].astype(int)

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [132]:
df_1 = pd.DataFrame(
    [
        [1, 2, 3],
        [2, 3, 4]
    ],
    index = ['r1', 'r2'],
    columns = ['c1', 'c2', 'c3']
)

df_2 = pd.DataFrame(
    [
        [10, 20],
        [20, 30]
    ],
    index = ['r1', 'r2'],
    columns = ['c10', 'c20']
)

In [133]:
pd.concat([df_1, df_2], axis=1)

    c1  c2  c3  c10  c20
r1   1   2   3   10   20
r2   2   3   4   20   30

In [134]:
df_1 = pd.DataFrame(
    [
        [1, 2, 3],
        [2, 3, 4]
    ],
    index = ['r1', 'r2'],
    columns = ['c1', 'c2', 'c3']
)

df_2 = pd.DataFrame(
    [
        [10, 20],
        [20, 30]
    ],
    index = ['r10', 'r2'],
    columns = ['c10', 'c20']
)

In [135]:
pd.concat([df_1, df_2], axis=1)

      c1   c2   c3   c10   c20
r1   1.0  2.0  3.0   NaN   NaN
r2   2.0  3.0  4.0  20.0  30.0
r10  NaN  NaN  NaN  10.0  20.0

In [136]:
df_1 = pd.DataFrame(
    [
        [1, 2, 3],
        [2, 3, 4]
    ],
    index = ['r1', 'r2'],
    columns = ['c1', 'c2', 'c3']
)

df_2 = pd.DataFrame(
    [
        [10, 20],
        [20, 30]
    ],
    index = ['r1', 'r2'],
    columns = ['c1', 'c20']
)

pd.concat([df_1, df_2], axis=1)

    c1  c2  c3  c1  c20
r1   1   2   3  10   20
r2   2   3   4  20   30

In [137]:
data = pd.concat([df_1, df_2], axis=1)
data.columns = ['c1', 'c2', 'c3', 'c4', 'c5']
data

    c1  c2  c3  c4  c5
r1   1   2   3  10  20
r2   2   3   4  20  30

In [138]:
df_1 = pd.DataFrame(
    [
        [1, 2, 3],
        [2, 3, 4]
    ],
    index = ['r1', 'r2'],
    columns = ['c1', 'c2', 'c3']
)

df_2 = pd.DataFrame(
    [
        [10, 20],
        [20, 30]
    ],
    index = ['r3', 'r4'],
    columns = ['c3', 'c4']
)

In [139]:
pd.concat([df_1, df_2], axis=0)

     c1   c2  c3    c4
r1  1.0  2.0   3   NaN
r2  2.0  3.0   4   NaN
r3  NaN  NaN  10  20.0
r4  NaN  NaN  20  30.0

In [140]:
latest_census = latest_census[latest_census.notnull()].astype(int)
latest_census

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [142]:
subset = df.loc[:, ['CountryCode', 'ShortName']]
subset.loc[:5]

  CountryCode       ShortName
0         AFG     Afghanistan
1         ALB         Albania
2         DZA         Algeria
3         ASM  American Samoa
4         ADO         Andorra
5         AGO          Angola

In [143]:
subset.sort_values('CountryCode', ascending=False)

    CountryCode        ShortName
246         ZWE         Zimbabwe
245         ZMB           Zambia
54          ZAR  Dem. Rep. Congo
199         ZAF     South Africa
244         YEM            Yemen
..          ...              ...
1           ALB          Albania
5           AGO           Angola
0           AFG      Afghanistan
4           ADO          Andorra
10          ABW            Aruba

[247 rows x 2 columns]

In [144]:
pd.concat(
    [subset, latest_census],
    axis = 1,
).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CountryCode             247 non-null    object
 1   ShortName               247 non-null    object
 2   LatestPopulationCensus  208 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.9+ KB

In [146]:
df = pd.read_csv('files/world_bank_countries.csv')
latest_census = pd.to_numeric(df['LatestPopulationCensus'], errors='coerce')
mask = latest_census.notnull()
subset = df.loc[:, ['CountryCode', 'ShortName']][mask]
subset

    CountryCode           ShortName
0           AFG         Afghanistan
1           ALB             Albania
2           DZA             Algeria
3           ASM      American Samoa
5           AGO              Angola
..          ...                 ...
241         VIR      Virgin Islands
242         WBG  West Bank and Gaza
244         YEM               Yemen
245         ZMB              Zambia
246         ZWE            Zimbabwe

[208 rows x 2 columns]

In [147]:
latest_census

0      1979.0
1      2011.0
2      2008.0
3      2010.0
4         NaN
        ...
242    2007.0
243       NaN
244    2004.0
245    2010.0
246    2012.0
Name: LatestPopulationCensus, Length: 247, dtype: float64

In [150]:
latest_census.mask

<bound method NDFrame.mask of 0      1979.0
1      2011.0
2      2008.0
3      2010.0
4         NaN
        ...
242    2007.0
243       NaN
244    2004.0
245    2010.0
246    2012.0
Name: LatestPopulationCensus, Length: 247, dtype: float64>

In [151]:
latest_census.dropna()

0      1979.0
1      2011.0
2      2008.0
3      2010.0
5      2014.0
        ...
241    2010.0
242    2007.0
244    2004.0
245    2010.0
246    2012.0
Name: LatestPopulationCensus, Length: 208, dtype: float64

In [152]:
latest_census.dropna().astype(int)

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [153]:
latest_census[mask].astype(int)

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [154]:
result = pd.concat([subset, latest_census.dropna().astype(int)], axis=1)
result

    CountryCode           ShortName  LatestPopulationCensus
0           AFG         Afghanistan                    1979
1           ALB             Albania                    2011
2           DZA             Algeria                    2008
3           ASM      American Samoa                    2010
5           AGO              Angola                    2014
..          ...                 ...                     ...
241         VIR      Virgin Islands                    2010
242         WBG  West Bank and Gaza                    2007
244         YEM               Yemen                    2004
245         ZMB              Zambia                    2010
246         ZWE            Zimbabwe                    2012

[208 rows x 3 columns]

In [155]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208 entries, 0 to 246
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CountryCode             208 non-null    object
 1   ShortName               208 non-null    object
 2   LatestPopulationCensus  208 non-null    int32
dtypes: int32(1), object(2)
memory usage: 5.7+ KB

In [158]:
df = pd.read_csv('files/world_bank_countries.csv')
latest_census = pd.to_numeric(df['LatestPopulationCensus'], errors='coerce').dropna().astype(int)
subset = df[['CountryCode', 'ShortName']]

In [159]:
latest_census

0      1979
1      2011
2      2008
3      2010
5      2014
       ...
241    2010
242    2007
244    2004
245    2010
246    2012
Name: LatestPopulationCensus, Length: 208, dtype: int32

In [160]:
subset

    CountryCode           ShortName
0           AFG         Afghanistan
1           ALB             Albania
2           DZA             Algeria
3           ASM      American Samoa
4           ADO             Andorra
..          ...                 ...
242         WBG  West Bank and Gaza
243         WLD               World
244         YEM               Yemen
245         ZMB              Zambia
246         ZWE            Zimbabwe

[247 rows x 2 columns]

In [162]:
pd.concat([subset, latest_census], axis=1, join='inner')

    CountryCode           ShortName  LatestPopulationCensus
0           AFG         Afghanistan                    1979
1           ALB             Albania                    2011
2           DZA             Algeria                    2008
3           ASM      American Samoa                    2010
5           AGO              Angola                    2014
..          ...                 ...                     ...
241         VIR      Virgin Islands                    2010
242         WBG  West Bank and Gaza                    2007
244         YEM               Yemen                    2004
245         ZMB              Zambia                    2010
246         ZWE            Zimbabwe                    2012

[208 rows x 3 columns]

In [163]:
pd.concat([subset, latest_census], axis=1, join='inner').info()

<class 'pandas.core.frame.DataFrame'>
Index: 208 entries, 0 to 246
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CountryCode             208 non-null    object
 1   ShortName               208 non-null    object
 2   LatestPopulationCensus  208 non-null    int32
dtypes: int32(1), object(2)
memory usage: 5.7+ KB